body{
    margin:0;
}
article{
    margin-bottom: 20px;
}
article:after{
    content: ''; display: block; visibility: hidden; clear: both;
}
article > *:first-child{
    float: left; width: 150px; line-height: 110px;
    font-size: 100px; text-align: right; background-color: gray;
    color: white; margin:0 20px 0 0;
}

article p{
    margin: 0; font-size: 14px;
}

article p > *{
    color: #09f;
    background-color: transparent;
}

article p > *:not(mark){
    text-decoration: underline;
}