body{
    margin: 0;
}
article{
    overflow: hidden; margin-bottom: 30px; max-width: 1000px;
}
article > :first-child{
    width: 150px; line-height:110px; font-size: 100px; text-align: right;
    background-color: gray; color: white; float: left; margin: 0 20px 10px 0;
}
article p{
    font-size: 14px;
}
article p :first-child{
    color: #09f; background-color:transparent;
}
article p :first-child:not(mark){
    text-decoration: underline;
}