body,
article p{
    margin: 0;
}
article{
    clear: both; max-width: 1000px;
}
article:not(:last-of-type){
    margin-bottom: 50px;
}
article > :first-child{
    float:left; font-size: 100px; text-align: right; line-height: 110px; width: 150px;
    margin: 0 20px 10px 0; background-color: gray; color: white;
}
article p{
    font-size: 14px;
}
article p > :first-child{
    color: #09f; background-color: transparent;
}
article p > :first-child:not(mark){
    text-decoration: underline;
}