body{
    margin: 0;
}
article:after{
    content: ''; display: block; visibility: hidden; clear: both;
}
article:not(:last-of-type){
    margin-bottom: 10px;
}

article > *:first-child{
    background-color: gray; font-size: 200px; line-height: 140px; color: white;
    width: 40%;
}

article:nth-of-type(odd) > *:first-child{
    float: right; margin: 0 0 10px 20px; text-align: right;
}
article:nth-of-type(even) > *:first-child{
    float: left; margin: 0 20px 10px 0;
}
article p > *:first-child{
    color: #09f;
}
article p mark{
    background-color: transparent;
}
article p > *:not(strong){
    text-decoration: underline;
}