body,
article p{
    margin: 0;
}
article{
    margin-bottom: 30px; overflow: hidden;
}

article > *:first-child{
    font-size: 200px; line-height: 140px; width: 40%; background-color: gray;
    color: white;
}
article:nth-of-type(odd) > *:first-child{
    float: right; text-align: right; margin: 0 0 10px 20px;
}

article:nth-of-type(even) > *:first-child{
    float: left; margin: 0 20px 10px 0;
}
article p > *:not(mark){
    text-decoration: underline;
}
article p > *{
    color: #09f; background-color: transparent;
}