body{
    margin: 0;
}
article:after{
    content: ''; display: block; visibility: hidden; clear: both;
}
article{
    width: 1000px; margin: 0 auto;
}
article:not(:last-of-type){
    margin-bottom: 30px;
}
article > *:first-child{
    float: left; font-size: 100px; line-height: 120px;
    margin: 0 20px 10px 0; color: white; background-color: gray;
    width: 15%; text-align: right;
}
article > p{
    font-size: 14px;
}
article > p > *{
    color: #90f;
}
article > p *:not(mark){
    text-decoration: underline;
}
article > p mark{
    background-color: transparent;
}
article:nth-of-type(3) > p strong{
    font-weight: normal;
}