body,
article p{
    margin: 0;
}
article{
    margin-bottom: 30px;
}
article:after{
    content: ''; display: block; clear: both;
}
article > :first-child{
    font-size: 200px; line-height: 140px; width: 40%; background-color: gray; color: white;
}
article:nth-of-type(2n+1) > :first-child{
    float: right; text-align: right; margin: 0 0 10px 20px;
}
article:nth-of-type(2n) > :first-child{
    float: left; margin: 0 20px 10px 0;
}
article p *{
    color: #09f; background-color: transparent;
}
article p *:not(mark){
    text-decoration: underline;
}