html{
    height: 100%;
}
body{
    margin: 0; height: 100%; font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}
body > div:first-of-type{
    width: 50%; height: 50%; position: fixed;
    top: 25%; left: 25%; background-color: #262626;
}
body > div:first-of-type nav{
    margin-bottom: 25px;
}
body > div:first-of-type nav ul{
    margin: 0; padding: 0;
}
body > div:first-of-type nav ul:after{
    content: ''; display: block; visibility: hidden; clear: both;
}
body > div:first-of-type nav ul li{
    float: left; width: 25%; display: block;
    background-color: #3b3b3b;
}
body > div:first-of-type nav ul li a{
    display: inherit; text-decoration: none; text-align: center;
    line-height: 21px; font-size: 12px; color: #ea0e52;
    text-transform: capitalize; padding: 5px 0;
}