html,body{
    height: 100%;
}
body{
    margin: 0; background-color: black;
}
body > div:first-of-type{
    width: 50%; height: 50%; position: absolute;
    left: 25%; top: 25%; background-color: #262626;
}
body > div nav{
    margin-bottom: 25px;
}
body > div ul:after{
    content: ''; display: block; visibility: hidden; clear: both;
}
ul{
    margin: 0; padding: 0;
}
body > div ul li{
    width: 25%; float: left; display: block;
    background-color: #3b3b3b;
}
body > div ul li.active{
    background-color: #ea0552;
}
body > div ul li a{
    display: block; line-height: 30px; font-size: 12px;
    text-decoration: none; color: #ea0552; text-align: center;
}