html,body{
    height: 100%;
}
body{
    margin: 0; font-family: Arial, Helvetica, sans-serif; background-color: black;
}
body > div:first-of-type{
    width: 50%; height: 50%; position: absolute; top: 25%; left: 25%;
    background-color: #232323; min-height: 400px;
}
body > div:first-of-type nav{
    margin-bottom: 20px;
}
body > div:first-of-type nav ul{
    margin: 0; padding: 0;   
}
body > div:first-of-type nav ul:after{
    content: ''; display: block; clear: both;
}
body > div:first-of-type nav ul li{
    float: left; width: 25%; display: block;
    background-color: #3a3a3a;
}
body > div:first-of-type nav ul li a{
    display: inherit; text-decoration: none; text-align: center;
    line-height: 32px; font-size: 12px; color: #ea0d63;
    text-transform: capitalize;
}
body > div:first-of-type nav ul li a:hover,
body > div:first-of-type nav ul li.currentStat a{
    background-color: #ea0d63; color: white;
}
body > div:first-of-type h1{
    font-size: 14px; color: white; margin: 0 0 25px;
    text-transform: capitalize; text-align: center;
}
body > div:first-of-type fieldset{
    border: none; padding: 0; width: 90%; margin: 0 auto 25px;
}
body > div:first-of-type fieldset ul{
    margin: 0; padding: 0;
}
body > div:first-of-type fieldset ul li{
    display: block;
}
body > div:first-of-type fieldset ul li:first-of-type{
    margin-bottom: 25px;
}
body > div:first-of-type fieldset ul li label{
    width: 15%; display: block; font-size: 12px; padding: 12px 0;
    background-color: #ea0d63; font-weight: bold; color: white;
    text-transform: uppercase; text-align: center; float: left;
    /* line-height: 36px; */
}
body > div:first-of-type fieldset ul li input{
    width: 80%; border: none; font-size: 12px; padding: 12px 2.5%;
    /* line-height: 36px; */
}
body > div:first-of-type fieldset ul li input:focus{
    background-color: #ea0d63;
}
body > div:first-of-type fieldset ul li input[type='password']:focus{
    color: white;
}
body > div:first-of-type input[type='submit']{
    width: 90%; margin: 0 auto; display: block; border: none;
    padding: 10px 0; background-color: #3e3e3e; color: #ea0d63;
}
body > div:first-of-type input[type='submit']:hover{
    background-color: #ea0d63; color: black; cursor: pointer;
}