html{
    height: 100%;
}
body{
    margin:0; height: 100%; font-family: Arial, Helvetica, sans-serif;
}
body > div:first-of-type{
    background-color: black; height: 100%;
}

    div > div:first-of-type{
        position: absolute; width: 50%; height:50%;
        top: 25%; left: 25%; background-color: #262626;
        min-height: 285px;
    }

    div > div:first-of-type nav ul{
        margin:0; padding:0;
    }
    div > div:first-of-type nav ul:after{
        content: ''; display: block; visibility: hidden; clear: both; 
    }
    div > div:first-of-type nav ul li{
        width: 25%; display: block; float: left;
        background-color: #3b3b3b;
    }
    div > div:first-of-type nav ul li a{
        display: inherit; text-decoration: none; text-align: center;
        line-height: 32px; font-size: 12px; color: #ea0e52;
        text-transform: capitalize;
    }
    div > div:first-of-type nav ul li a:hover,
    div > div:first-of-type nav ul li.currentStat a{
        background-color: #ea0e52; color: white;
    }

    div > div:first-of-type h1{
        font-size: 14px; color: white; margin:25px 0;
        text-transform: capitalize; text-align: center;
    }
    div > div:first-of-type fieldset{
        border: none; padding: 0; margin:0 auto; width:90%;
    }
    div > div:first-of-type fieldset ul{
        margin:0; padding:0; list-style:none;
    }
    div > div:first-of-type fieldset ul li{
        margin-bottom: 25px; overflow: hidden;
    }
    div > div:first-of-type fieldset ul li label{
        width: 15%; display: block; float: left; text-align: center;
        background-color: #ea0e52; line-height: 36px; font-size: 12px;
        text-transform: uppercase; font-weight: bold; color: white;
    }
    div > div:first-of-type fieldset ul li input{
        width: 80%; border:none; font-size: 12px; line-height: 36px;
        padding:0 2.5%;
    }
    div > div:first-of-type fieldset ul li input:focus{
        background-color: #ea0e52;
    }
    div > div:first-of-type fieldset ul li input[type='password']:focus{
        color: white;
    }
    div > div:first-of-type input[type='submit']{
        width: 90%; margin:0 auto; border:none; display: block;
        line-height: 36px; background-color: #3e3e3e; color: #ea0e52;
    }
    div > div:first-of-type input[type='submit']:hover{
        background-color: #ea0e52; color: black;
    }


/* 
        html{height:100%;}
        body{margin:0; height:100%; font-family:Arial; background-color:black;}
        .wrap{ height:100%;}
        .wrap .loginBox{width:50%; height:50%; min-height:295px; 
                position:absolute; top:25%; left:25%;  min-height: 295px;
                background-color:#262626;}
        .wrap .loginBox nav ul{margin:0; padding:0;}
        .wrap .loginBox nav ul:after{content:'';display:block;visibility:hidden;clear:both;}
        .wrap .loginBox nav ul li{float:left; width:25%; display:block; background-color:#3b3b3b;}
        .wrap .loginBox nav ul li a{display:inherit; text-decoration:none; text-align:center; padding:10px 0; font-size:12px;color:#ea0e52; text-transform:capitalize;}
        .wrap .loginBox nav ul li a:hover,.wrap .loginBox ul li.currentStat a{
                background-color:#ea0e52;color:white;}

        .wrap .loginBox h1{font-size:14px; color:white; margin:25px 0; text-transform:capitalize; text-align:center;}
        .wrap .loginBox fieldset
        {border:none; padding:0; width:90%; margin:0 auto;}
        .wrap .loginBox fieldset ul
        {margin:0; padding:0;list-style:none;}
        .wrap .loginBox fieldset ul li
        {overflow:hidden; margin-bottom:25px;}
        .wrap .loginBox fieldset ul li label
        {width:15%; display:block; float:left; text-align:center; 
                background-color:#ea0e52; padding:12px 0; font-size:12px;
                 text-transform:uppercase; font-weight:bold; color:white;}
        .wrap .loginBox fieldset ul li input
        {width:80%; border:none; font-size:12px; padding:12px 2.5%;}
        .wrap .loginBox fieldset ul li input:focus
        {background-color:#ea0e52;}
        .wrap .loginBox fieldset ul li input[type='password']:focus
        {color:white;}
        
        .wrap .loginBox input[type='submit']
        {width:90%; margin:0 auto; border:none; display:block; 
                padding:10px 0; background-color:#3e3e3e; color:#ea0e52;}
        .wrap .loginBox input[type='submit']:hover
        {background-color:#ea0e52; color:black;}
*/


    