html{
    height: 100%;
}
body{
    margin: 0; height:100%; font-family: Arial, Helvetica, sans-serif;
    background-color: black; 
}
div:first-of-type{
    width: 50%; height:50%; background-color: #262626; position: absolute;
    left: 25%; top: 25%;

}
div:first-of-type nav{
    margin-bottom: 25px;
}
div:first-of-type nav ul{
    margin: 0; padding: 0; list-style: none;
}
div:first-of-type nav ul:after{
    content: ''; display: block; clear: both;
}
div:first-of-type nav ul li{
    width: 25%; float: left; background-color: #3a3a3a;
}
div:first-of-type nav ul li a{
    display: block; text-decoration: none; text-align: center; font-size: 12px;
    text-transform: capitalize; padding: 10px 0; color:#ea0e52;
}
div:first-of-type nav ul li a:hover,
div:first-of-type nav ul li.currentStat a{
    background-color: #ea0e52; color: white;
}
/* ? tabMenu Fin */