div:first-of-type{
    max-width: 960px; margin: 0 auto;
}
div:first-of-type fieldset{
    border: 1px solid #05f; padding: 15px 20px 25px; margin: 0;
}
div:first-of-type fieldset:not(:last-of-type){
    margin-bottom: 25px;
}
div:first-of-type fieldset label{
    display: inline-block; line-height: 20px; vertical-align: middle;
}
div:first-of-type fieldset input[type='checkbox']{
    accent-color: black;
}
div:first-of-type fieldset textarea{
    display: block; width: 100%; box-sizing: border-box; padding: 10px 1%;
    height: 150px; margin-top: 25px; resize: none; border-color: lightseagreen;
    transition-duration: 0.75s;
}
div:first-of-type fieldset input[type='checkbox']:checked+textarea{
    height: 0px; padding: 0 1%;
}