div:first-of-type{
    max-width: 960px; margin: 0 auto;
}
div:first-of-type fieldset{
    border-width: 1px; border-color: #05f; margin: 0; padding: 15px 20px 25px;
}
div:first-of-type fieldset:not(:last-of-type){
    margin-bottom: 25px;
}
div:first-of-type fieldset label{
    display: inline-block; line-height: 20px; vertical-align: middle;
}
div:first-of-type fieldset input[type='checkbox']{
    vertical-align: -10%;
}
div:first-of-type fieldset textarea{
    display: block; width: 100%; padding: 10px 1%; box-sizing: border-box; resize: none;
    height: 150px; margin-top: 25px; border-color: #05f; transition-duration: 0.75s;
}
div:first-of-type fieldset input[type='checkbox']:checked+textarea{
    height: 0px; padding: 0px 1%;
}