fieldset:first-of-type{
    max-width: 460px; margin: 0 auto; border-color: darkblue; border-radius: 10px;
}
fieldset:first-of-type legend{
    border-radius: 10px; background-color:darkblue; color: white; font-size: 14px;
    padding: 0 10px; line-height:34px;
}
fieldset:first-of-type ul{
    padding: 0; list-style: none;
}
fieldset:first-of-type ul li{
    font-size: 14px;
}
fieldset:first-of-type ul li:not(:last-child){
    margin-bottom: 15px;
}
fieldset:first-of-type ul li label:first-child{
    min-width: 100px; display: inline-block;
}
fieldset:first-of-type ul li >*:not(label){
    vertical-align: middle; padding: 5px 10px; background-color: #fff;
    transition-duration: 0.5s; border: 1px solid #2e8b57;
}
fieldset:first-of-type ul li >*:not(label):hover,
fieldset:first-of-type ul li >*:not(label):focus{
    background-color:#949494; border-color: #000;
}
fieldset:first-of-type ul li input[type='checkbox']+label{
    padding:10px; background-color: #fff; transition-duration: 0.5s;
}
fieldset:first-of-type ul li input[type='checkbox']:checked+label{
    padding: 5px; background-color: #6a5acd; color: #fff; font-size: 12px;
    border-radius: 5px;
}
fieldset:first-of-type > input{
    display: block; width: 45%; float: left; border: none; line-height: 34px; color: white;
}
fieldset:first-of-type > input[type='submit']{
    background-color:navy;
}
fieldset:first-of-type > input[type='reset']{
    background-color: darkred; margin-left: 10%;
}