body{
    width: 80%; margin: 0 auto; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    width: 50%; padding: 15px 50% 15px 0; margin: 0; font-weight: normal;
    font-size: 32px; position: relative; color: #a0a0a0;
}
h1 a{
    position: absolute; right: 0; bottom: 0; width: 50%; display: block;
    font-size: 24px; text-align: right; color: midnightblue;
}
fieldset{
    padding: 10px 40% 10px 0; position: relative;
    border-width: 2px 0 1px; border-style: solid none; border-color: #c4c4c4;
}
fieldset input[type='search']{
    width: 20%; min-width: 115px; border: 1px solid #c4c4c4;
    background-color: #505050; color: white;
}
fieldset input[type='button']{
    width: 10%; min-width: 60px;
}
fieldset select{
    position: absolute; right: 0; width: 25%; min-width: 145px;
    background-color: #505050; color: white; border: 1px solid salmon;
}
h2 :not(strong){
    color: #555; padding: 30px 0; margin: 0;
}
h2 strong{
    color: dodgerblue;
}
h2 strong:not(:nth-of-type(2)){
    text-transform: capitalize;
}
h2 strong:nth-of-type(2){
    text-transform: uppercase;
}
ul{
    margin: 0 0 30px 0; padding: 0; list-style: none;
}
ul li{
    position: relative;
}
ul li:not(:first-child){
    border-bottom: 1px solid black;
}
ul li:first-child{
    border-width: 3px 0 1px; border-style: solid none; border-color: darkred;
    padding: 10px 0;
}
ul li:nth-child(even){
    background-color: #9a9a9a;
}
ul li:after{
    content: ''; display: block; visibility: hidden; clear: both;
}
ul li span{
    display: block; float: left; padding: 10px 2.5%; font-size: 14px;
}
ul li span:nth-child(odd),
ul li span:last-child{
    width: 15%;
}
ul li span:nth-child(2){
    width: 35%;
}