body{
    width: 80%; margin: 0 auto; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    margin: 0; font-size: 30px; font-weight: normal; color: gray; padding: 15px 50% 15px 0;
    position: relative;
}
h1 a{
    position: absolute; right: 0; bottom: 0; font-size: 24px; color: darkgreen; width: 50%;
    text-align: right;
}
/* ! position대상이 있는 공간은 화면이 줄어들었을 때 만나는 부분에 대한 처리를 놓치면 안된다. */
fieldset{
    padding: 10px 40% 10px 0; position: relative; border-width: 2px 0 1px; border-style: solid none;
    border-color: forestgreen;
}
fieldset input[type='search']{
    width: 20%; border: 1px solid forestgreen; background-color: palegreen; line-height: 24px;
    min-width: 115px;
}
fieldset input[type='submit']{
    width: 10%; border: 2px solid lime; background-color: olive; line-height: 24px;
    min-width: 60px;
}