body fieldset{
    max-width: 460px; margin: 0 auto;
    border-color: darkblue; border-radius: 10px;
}

body fieldset legend{
    border-radius: 5px; background-color: darkblue;
    color: white; font-size: 14px; line-height: 34px;
    padding: 0 10px;
}
body fieldset ul{
    padding: 0; margin: 0;
}
body fieldset ul li{
    display: block; margin-bottom: 15px; font-size: 14px;
}
body fieldset ul li:last-child{
    text-align: right;
}
body fieldset ul li label:first-of-type{
    min-width: 100px; display: inline-block;
}
body fieldset ul li > *:not(label){
    vertical-align: middle; padding: 5px 10px;
    background-color: #fff; transition-duration: 0.75s;
}
body fieldset ul li > *:not(label):hover,
body fieldset ul li > *:not(label):focus{
    background-color: #949494;
}
body fieldset ul li input[type='checkbox'] + label{
    padding: 10px; background-color: #fff;
    transition-duration: 0.5s;
}
body fieldset ul li input[type='checkbox']:checked + label{
    padding: 5px; font-size: 12px; background-color: slateblue;
    color: #fff; border-radius: 5px;
}
body fieldset > input{
    display:block; width: 45%; float: left;
    border: none; line-height: 34px; color: white;

}
body fieldset > input[type='submit']{
    background-color: navy;

}
body fieldset > input[type='reset']{
    background-color: darkred; margin-left: 10%;
}