body{
    width: 80%; margin: 0 auto;
    font-family: sans-serif;
}
h1{
    position: relative; width: 50%; padding: 15px 50% 15px 0;
    margin: 0; font-weight: normal; color: #a0a0a0;
    font-size: 32px;
}
h1 a{
    position: absolute; right: 0; bottom: 0; width: 50%;
    display: block; text-align: right; color: midnightblue;
    font-size: 24px;
}
fieldset{
    padding: 10px 40% 10px 0;
    border-width: 2px 0 1px; border-style: solid none;
    border-color: #c4c4c4; position: relative;
}
fieldset input[type='search']{
    width: 20%; min-width: 115px; border: 1px solid #c4c4c4;
    background-color: #505050; color: white;
}
fieldset input[type='button']{
    width: 10%; min-width: 60px; background-color: #dadada;
    border-color: midnightblue; color: midnightblue;
    text-transform: capitalize;
}
fieldset select{
    position: absolute; right: 0; width: 25%; min-width: 120px;
    background-color: #505050; color: white;
    border: 1px solid midnightblue;
}
h2{
    text-transform: capitalize; color: #555;
    padding: 30px 0; margin: 0;
}
h2 strong{
    color: #0091b5;
}
h2 strong:nth-of-type(2){
    text-transform: uppercase;
}
ul{
    margin: 0; padding: 0;
}
ul li{
    display: block; position: relative;
}
ul li:not(:first-child){
    border-bottom: 1px solid black;
}
ul li:first-child{
    border-width: 3px 0 1px; border-style: solid;
    border-color: darkred; padding: 10px 0;
}
ul li:nth-child(even){
    background-color: #9a9a9a;
}
ul li:after{
    content: ''; display: block; visibility: hidden; clear: both;
}
ul li span{
    display: block; float: left; font-size: 14px; padding: 10px 2.5%;
}
ul li:first-child span{
    font-size: 15px; font-weight: bold;
}
ul li span:nth-child(odd),
ul li span:last-of-type{
    width: 15%;
}
ul li span:nth-child(2){
    width: 35%;
}
ul li mark{
    position: absolute; right:0; top: 0; padding: 3px; font-size: 9px;
    background-color: #900; color: white;
}
ol{
    margin: 0; padding: 0; text-align: center;
}
ol li{
    display: inline-block;
}
ol li a{
    text-decoration: none; font-size: 14px; color: #00556b;
    display: block; padding: 5px;
}
ol li a:hover{
    color: red;
}