body{
    width: 80%; margin: 0 auto; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    position: relative; margin: 0; padding: 15px 50% 15px 0; font-size: 30px;
    font-weight: normal; color: gray;
}
h1 a{
    position: absolute; right: 0; bottom: 0; width: 50%; display: block;
    text-align: right; color: darkblue; font-size: 24px;
}
fieldset{
    padding: 10px 40% 10px 0; position: relative; border-width: 2px 0 1px;
    border-style: solid none; border-color: #c4c4c4;
}
fieldset input[type='search']{
    width: 20%; border: 1px solid forestgreen; background-color: palegreen;
    min-width: 115px;
}
fieldset input[type='button']{
    width: 10%; background-color: forestgreen; color: white; border-color: black;
    min-width: 60px; text-transform: capitalize;
}
fieldset select{
    position: absolute; right: 0; width: 25%; min-width: 120px;
    background-color:goldenrod; border-color: salmon;
}
h2{
    padding: 30px 0; margin: 0;
}
h2 :not(strong){
    color: #555;
}
h2 strong{
    color: deepskyblue;
}
h2 strong:not(:nth-of-type(2)){
    text-transform: capitalize;
}
h2 strong:nth-of-type(2){
    text-transform: uppercase;
}
ul{
    margin: 0 0 30px; padding: 0; list-style: none;
}
ul li{
    position: relative;
}
ul li:first-child{
    border-width: 3px 0 1px; border-style: solid; border-color: darkred;
    padding: 10px 0;
}
ul li:not(:first-child){
    border-bottom: 1px solid black;
}
ul li:nth-child(even){
    background-color: #9a9a9a;
}