body{
    width: 80%; margin: 0 auto; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    margin: 0; font-size: 30px; font-weight: normal; color: gray; padding: 15px 50% 15px 0;
    position: relative;
}
h1 a{
    position: absolute; right: 0; bottom: 0; width: 50%; display: block; text-align: right;
    color: darkblue; font-size: 24px;
}
fieldset{
    padding: 10px 40% 10px 0; position: relative; border-width: 2px 0 1px; border-style: solid none;
    border-color: #c4c4c4;
}
fieldset input[type='search']{
    width: 20%; border: 1px solid forestgreen; background-color: palegreen; min-width: 115px;
    line-height: 24px;
}
fieldset input[type='button']{
    width: 10%; min-width: 60px;  background-color: forestgreen; line-height: 24px;
    border: 2px solid lightgreen; color: white; text-transform: capitalize;
}
fieldset select{
    position: absolute; right: 0; width: 25%; min-width: 120px; background-color: lightseagreen;
    padding: 4px 0; border-color: slateblue;
}
h2{
    padding: 30px 0; margin: 0;
}
h2 :not(strong){
    color: #555;
}
h2 strong{
    color: seagreen;
}
h2 strong:not(:nth-of-type(2)){
    text-transform: capitalize;
}
h2 strong:nth-of-type(2){
    text-transform: uppercase;
}
ul{
    margin: 0 0 30px; padding: 0; list-style: none;
}
ul li:first-child{
    border-width: 3px 0 1px; border-style: solid; border-color: seagreen;
    padding: 10px 0;
}
ul li:not(:first-child){
    border-bottom: 1px solid darkblue; position: relative;
}
ul li:nth-child(2n){
    background-color: #9a9a9a;
}
ul li:after{
    content: ''; display: block; clear: both;
}
ul li span{
    display: block; float: left; padding: 10px 2.5%; font-size: 14px;
}
ul li span:not(:nth-child(2)){
    width: 15%;
}
ul li span:nth-child(2){
    width: 35%;
}
ul li mark{
    position: absolute; right: 0; top: 0; padding: 3px; font-size: 9px;
    background-color: limegreen;
}