
.tagSelector h1{color:#0c0; font-size:20px;}
.tagSelector p{color:#0cf; font-size:15px;}
.tagSelector span{color:#336; font-size:13px;}

/*태그선택자 사용법*/

.idSelector p#paragraph1{font-size:16px; text-decoration:underline;}
.idSelector p#paragraph2{color:#09F; text-decoration:line-through;}
.idSelector p#paragraph3{font-weight:bold; text-decoration:overline;}

/*ID선택자 사용법*/

.classSelector p.f_size{font-size:20px;}
.classSelector p.f_weight{font-weight:bold;}
.classSelector p.f_color{color:#9cf;}

/*CLASS 선택자 사용법 + 다중 클래스 지정 */

.attrSelector fieldset{
    border: 1px solid #555; background-color: #9cf;
} 
.attrSelector fieldset legend{
    border: 1px solid #555; background-color: #9cf;
}
.attrSelector ul{
    margin:0; padding:0; list-style: none;
}
.attrSelector ul li{
    color: #444; font-size: 14px; line-height: 30px;
}
.attrSelector ul li label{
    width: 110px; display: inline-block;
}
.attrSelector ul li input,
.attrSelector ul li label{
    vertical-align: middle;
}
.attrSelector ul li input[type='text']{
    background-color: #966; border: 1px solid #c00; color: white;
}
.attrSelector ul li input[type='password']{
    background-color: #fc0; border: 1px dotted #ff0; color: black;
}
.attrSelector ul li input[type='']{
    background-color: ; border: ; color: ;
}