
.tagSelector h1{color:#0c0; font-size:20px;}
.tagSelector p{color:#0cf; font-size:15px;}
.tagSelector span{color:#336; font-size:13px;}

/*태그선택자 사용법*/

.idSelector p#paragraph1{font-size:16px; text-decoration:underline;}
.idSelector p#paragraph2{color:#09F; text-decoration:line-through;}
.idSelector p#paragraph3{font-weight:bold; text-decoration:overline;}

/*ID선택자 사용법*/

.classSelector p.f_size{font-size:20px;}
.classSelector p.f_weight{font-weight:bold;}
.classSelector p.f_color{color:#9cf;}

/*CLASS 선택자 사용법 + 다중 클래스 지정 */

.attrSelector fieldset,
.attrSelector fieldset legend{
    border: 1px solid #555; background-color: #c9f;
}
.attrSelector ul{
    margin:0; padding:0; 
}
.attrSelector ul li{
    display: block;
}
.attrSelector ul li input[type='text']{
    background-color: #669; border: 1px solid #00c; color: white;
}
.attrSelector ul li input[type='password']{
    background-color: #fc0; border: 1px dotted #ff0; color: black;
}
.attrSelector ul li input[type='radio']{
    width: 25px; height: 25px;
}

.directSelector > h1{
    font-size: 28px; color: #66f;
}
.directSelector > span{
    font-size: 22px; color: #906; display: block;
}
/*
    구조적으로 다른 동일 태그를 제외하고, 직계 자손 객체 태그에 동일한 스타일을
    적용 할 수 있다.
*/
