
.tagSelector h1{color:#0c0; font-size:20px;}
.tagSelector p{color:#0cf; font-size:15px;}
.tagSelector span{color:#336; font-size:13px;}

/*태그선택자 사용법*/

.idSelector p#paragraph1{font-size:16px; text-decoration:underline;}
.idSelector p#paragraph2{color:#09F; text-decoration:line-through;}
.idSelector p#paragraph3{font-weight:bold; text-decoration:overline;}

/*ID선택자 사용법*/

.classSelector p.f_size{font-size:20px;}
.classSelector p.f_weight{font-weight:bold;}
.classSelector p.f_color{color:#9cf;}

/*CLASS 선택자 사용법 + 다중 클래스 지정 */

.attrSelector fieldset{
    border: 1px solid #555; background-color: #9cf;
} 
.attrSelector fieldset legend{
    border: 1px solid #555; background-color: #9cf;
}
.attrSelector ul{
    margin:0; padding:0; list-style: none;
}
.attrSelector ul li{
    color: #444; font-size: 14px; line-height: 30px;
}
.attrSelector ul li label{
    width: 110px; display: inline-block;
}
.attrSelector ul li input,
.attrSelector ul li label{
    vertical-align: middle;
}
.attrSelector ul li input[type='text']{
    background-color: #966; border: 1px solid #c00; color: white;
}
.attrSelector ul li input[type='password']{
    background-color: #fc0; border: 1px dotted #ff0; color: black;
}
.attrSelector ul li input[type='radio']{
    background-color: black; border: yellow; width: 25px; height: 25px;
}

/*같은 태그라도 타입에 따라 선택 할 수 있다.*/

.directSelector > h1{
    font-size: 28px; color: #66f;
}
.directSelector > span{
    font-size: 22px; color: #906;
}
/*
    구조적으로 다른 동일 태그를 제외하고, 직계 자손 객체 태그에 동일한 스타일을
    적용 할 수 있다.
*/

.stringAttrSelector img[src$=png]{
    width: 100px; height: 100px; border: 3px solid #f00;
}
.stringAttrSelector img[src$=jpg]{
    width: 200px; height: 200px; border: 5px solid #0f0;
}
.stringAttrSelector img[src$=gif]{
    width: 300px; height: 300px; border: 10px solid #00f;
}
/*문자열 선택자는 해당 문자열 유형으로 분리 적용 할 수 있다.(계륵)*/