body{
    width: 80%; margin: 0 auto; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    margin: 0; font-size: 30px; font-weight: normal; color: gray; position: relative;
    padding: 15px 50% 15px 0;
}
h1 a{
    position: absolute; right: 0; bottom: 0; font-size: 24px; color: forestgreen;
    width: 50%; text-align: right;
}
fieldset{
    padding: 10px 40% 10px 0; position: relative; border-width: 2px 0 1px;
    border-color:darkgreen;
}
fieldset input[type='search']{
    width: 20%; border: 1px solid forestgreen; background-color: palegreen; line-height:24px;
    min-width: 120px;
}
fieldset input[type='submit']{
    width: 10%; min-width: 60px; background-color: darkolivegreen; color: white;
    border: 2px solid limegreen; line-height: 24px;
}
fieldset select{
    position: absolute; right: 0; width: 25%; min-width: 150px; background-color: lightseagreen;
    padding: 5px 0; border-color: lightblue;
}
h2{
    padding: 30px 0; margin: 0; color: #555;
}
h2 strong{
    color: seagreen;
}
h2 strong:not(:nth-of-type(2)){
    text-transform: capitalize;
}
h2 strong:nth-of-type(2){
    text-transform: uppercase;
}
ul{
    margin: 0 0 30px; padding: 0; list-style: none;
}
ul li:first-child{
    border-width: 3px 0 1px; border-style: solid none; border-color: darkgreen; padding: 10px 0;
}
ul li:not(:first-child){
    border-bottom: 1px solid mediumpurple; position: relative;
}
ul li:nth-child(2n){
    background-color: #cacaca;
}
ul li:after{
    content: ''; display: block; clear: both;
}
ul li span{
    display: block; float: left; padding: 10px 2.5%; font-size: 14px;

}
ul li span:nth-child(2){
    width: 35%;
}
ul li span:not(:nth-child(2)){
    width: 15%;
}
