body{
    margin: 0 auto; width: 70%;
}
ul{
    padding: 0; list-style: none;
}
ul li{
    cursor: default;
}
ul li:first-child,
ul li:last-child{
    border-bottom: 1px solid deeppink;
}
ul li:first-child{
    background-color: #505050;
} /* ? table 구조라면 ? thead tr */
ul li:nth-child(2n+1):not(:first-child){
    background-color: #e9e9e9;
}
ul li:nth-child(2n){
    background-color: #f9f9f9;
}
ul li:nth-child(2n+3):hover{
    background-color: midnightblue;
}
ul li:nth-child(2n):hover{
    background-color: darkorange;
}
ul li:after{
    content: ''; display: block; clear: both;
}
ul li span{
    display: block; float: left; padding: 15px 2%; box-sizing: border-box; color: #666;
}
ul li span:nth-child(2n+1){
    width: 15%;
}
ul li span:nth-child(2){
    width: 40%;
}
ul li span:nth-child(4){
    width: 30%;
}
ul li:first-child span:not(:nth-child(2)){ /*? ul의 자손(li)중 첫번째 안에 자손(span)중 두 번째 제외한 나머지*/
    color: palevioletred;
}
ul li:first-child span:nth-child(2){
    color: palegoldenrod;
}
ul li:not(:first-child) span:nth-child(2){
    color: black;
}
ul li:not(:first-child):hover span:nth-child(2){
    color: springgreen;
}
/* 게시판 목록 hover부분 처리 및 pager , 검색 부 미 진행 */

body > div{
    position: relative; width: 50%; margin: 0 auto 15px; padding: 0 3%;
}
body > div a{
    text-decoration: none; color: #555; display: block; text-align: center; line-height: 23px; font-size: 13px;
}
body > div > a{
    position: absolute; width: 3%; top: 0;
}
body > div > a:first-of-type{
    left: 0;
}
body > div > a:last-of-type{
    right: 0;
}
body > div ol{
    margin: 0; padding: 0;
}
body > div ol:after{
    content: ''; display: block; clear: both;
}
body > div ol li{
    display: block; float: left; width: 9%;
}
body > div ol li:not(:first-child){
    margin-left: 1.11%;
}
/* 
    ? contentList 에서의 margin은 좌측을 불필요하기 때문에 :not(:first-child) / :not(3n+1)....
    ! margin 계산시에는 작은 단위 부터 우선 계산을. (나머지 = 큰 단위. 대상 수만큼 나누기만 하면 끝)
*/
body > div ol li a:hover{
    background-color: darkorchid; color: white; border-radius: 5px;
}
body > form fieldset{
    border: none; padding: 0; margin: 0; text-align: center;
}
body > form fieldset input[type='submit']{
    border: 1px solid darkmagenta; background-color: plum; color: darkmagenta;
    text-transform: uppercase;
}