body{
    width: 70%; margin: 0 auto;
}
ul{
    padding: 0; list-style: none;
}
ul li{
    cursor: pointer;
}
ul li:first-child{
    border-bottom: 1px solid greenyellow; background-color: #505050;
}
ul li:last-child{
    border-bottom: 1px solid greenyellow;
}
ul li:nth-child(odd):not(:first-child){
    background-color: #e9e9e9;
}
ul li:nth-child(even){
    background-color: #fafafa;
}
ul li:nth-child(2n+3):hover{
    background-color: greenyellow;
}
ul li:nth-child(even):hover{
    background-color: deeppink;
}
ul li:after{
    content: ''; display: block; visibility: hidden; clear: both;
}
ul li span{
    display: block; float: left; font-size: 14px; text-transform: capitalize;
    padding: 15px 2%; box-sizing: border-box; color: #a0a0a0;
}
ul li:not(:first-child):hover span{
    color: black;
}
ul li:not(:first-child) span:nth-child(2){
    color: darkmagenta;
}
ul li:first-child span:nth-child(2){
    color: antiquewhite;
}
ul li span:nth-child(odd){
    width: 15%;
}
ul li span:nth-child(2){
    width: 40%;
}
ul li span:nth-child(4){
    width: 30%;
}
/* board Fin */

body > div{
    position: relative; width: 50%; margin: 0 auto 15px; padding: 0 3%;
}
body > div a{
    text-decoration: none; color: #555; display: block; text-align: center;
    font-size: 13px; top: 0;
}
body > div > a{
    position: absolute; line-height: 23px;
}
body > div > a:first-of-type{
    left: 0;
}
body > div > a:last-of-type{
    right: 0;
}
body > div ol{
    margin: 0; padding: 0; list-style: none;
}
body > div ol:after{
    content: ''; display: block; visibility: hidden; clear: both;
}
body > div ol li{
    display: block; float: left; width: 9%; line-height: 23px;
}
body > div ol li:not(:first-child){
    margin-left: 1%;
}
body > div ol li a:hover{
    background-color: deeppink; color: black; border-radius: 10px;
    transition-duration: 1s;
}
body > form fieldset{
    border: none; padding: 0; margin: 0; text-align: center;
}
body > form fieldset input[type='submit']{
    border: 1px solid deeppink; background-color: black; color: deeppink;
    text-transform: uppercase;
}