body{
    width: 70%; margin: 0 auto;
}
ul{
    padding: 0; list-style: none;
}
ul li:first-child{
    border-bottom: 1px solid deeppink; background-color: #505050;
}
ul li:last-child{
    border-bottom: 1px solid deeppink;
}
ul li:nth-child(2n){
    background-color: #eaeaea;
}
ul li:nth-child(2n):hover{
    background-color: darkorange;
}
ul li:nth-child(2n+3){
    background-color: #d9d9d9;
}
ul li:nth-child(2n+3):hover{
    background-color:darkblue;
}
ul li:after{
    content: ''; display: block; clear: both;
}
ul li span{
    display: block; float: left; padding: 15px 2%; box-sizing: border-box; color: #999;
}
ul li:not(:first-child):hover span{
    color: paleturquoise;
}
ul li:first-child span:nth-child(2){
    color: palegreen;
}
ul li:not(:first-child) span:nth-child(2){
    color: orangered;
}
ul li:not(:first-child,:nth-child(2n+1)):hover span:nth-child(2){
    color: white;
}
ul li span:nth-child(2n+1){
    width: 15%;
}
ul li span:nth-child(2){
    width: 40%;
}
ul li span:nth-child(4){
    width: 30%;
}
body > div{
    position: relative; width: 50%; margin: 0 auto 15px; padding: 0 3%;
}
body > div a{
    text-decoration: none; color: #555; display: block; text-align: center;
    font-size: 13px; line-height: 23px;
}
body > div > a{
    position:absolute; width: 3%; top: 0;
}
body > div > a:first-of-type{
    left: 0;
}
body > div > a:last-of-type{
    right: 0;
}
body > div ol{
    margin: 0; padding: 0;
}
body > div ol:after{
    content: ''; display: block; clear: both;
}
body > div ol li{
    display: block; float: left; width: 9%;
}
body > div ol li:not(:first-child){
    margin-left: 1.11%;
}
body > div ol li a:hover{
    background-color: darkorchid; color: violet; border-radius: 5px;
}
form fieldset{
    border: none; padding: 0; margin: 0; text-align: center;
}
form fieldset input[type='submit']{
    border: 1px solid darkorchid; background-color: violet; color: darkorchid;
    text-transform: uppercase;
}