body{
    background-color: #e4e5e7;
}
.mont{
    font-family: 'Montserrat', sans-serif;
}
.crim{
    font-family: 'Crimson Text', serif;
}
a{
    text-decoration: none;
}
input[type='radio'],
input[type='checkbox']{
    display: none;
}
/* *All using Part's */

@media screen and (min-width: 1280px){
    header > div,
    footer > div,
    header+nav .slideNav{
        max-width: 1170px; margin: 0 auto;
    }
    header{
        background-color: white;
        border-bottom: 1px solid #f0f2f7;
    }
    header > div > *{
        float: left;
    }
    header > div:after{
        content: ''; display: block; visibility: hidden;
        clear: both;
    }
    header > div label.material-icons{
        display: block; font-size: 20px;
        line-height: 90px; width: 5.3%;
        max-width: 60px;
        border-right: 1px solid #f0f2f7;
    }
    header > div h1{
        min-width: 125px; width: 10.7%;
    }
    header > div h1 a{
        display: block; text-align: right;
        padding: 31px 0;
    }
    header > div h1 a img{
        max-width: 92px;
    }
    header > div nav{
        width: 54.7%;
    }
    header > div nav ul{
        text-align: right;
    }
    header > div nav ul li{
        display: inline-block;
    }
    header > div nav ul li:not(:first-child){
        margin-left: 4.86%;
    }
    header > div nav ul li a{
        font-size: 14px; display: block;
        line-height: 90px; color: #343e5c;
        font-weight: 700;
    }
    header > div div{
        width: 29.3%; font-size: 11px; color: #343e5c;
        line-height: 90px; text-align: right;
    }
    header > div div *:not(input){
        display: inline-block;
    }
    header > div div strong{
        padding-left: 25px; line-height: 18px;
        background: url('../images/bul_cart.png') no-repeat left top;
    }
    header > div div span{
        width: 24px; line-height: 24px;
        background-color: #e3e8f0;
        border-radius: 12px; text-align: center;
        font-weight: 700; margin-left: 2%;
        position: relative;
    }
    /* header > div div span::before{
        content: '+'; position: absolute; left: 0; top: 0;
        display: block; font-size: 11px; line-height: 11px;
    } */
    header > div div input[type='button']{
        margin-left: 8%; padding: 10px 15px;
        background-color: white; font-size: 11px;
        border: 2px solid #e3e8f0; border-radius: 18px;
    }
    /* header Fin */


    footer{
        background-color: #222328;
    }
    footer > div{
        position: relative;
    }
    footer > div span{
        position: absolute; display: block;
    }
    footer > div:first-child{
        padding: 60px 0;
        border-bottom:  1px solid rgba(255,255,255, 0.05);
    }
    footer > div:first-child h2{
        max-width: 92px; width: 7.86%; position: absolute;
        left: 0;
    }
    footer > div:first-child ul{
        text-align: center; padding: 0 10%;
    }
    footer > div:first-child ul li{
        display: inline-block;
    }
    footer > div:first-child ul li:not(:first-child){
        margin-left: 2.56%;
    }
    footer > div:first-child ul li a{
        display: block; color: white; 
        font-size: 12px; font-weight: 700;
    }

    footer > div:first-child span{
        right: 0; top: 60px; width: 8.54%;
    }
    footer > div:first-child span a:not(:first-of-type){
        margin-left: 2.4%;
    }
    footer > div:first-child span a{
        text-indent: -9999px; display: inline-block;
        width: 24px; height: 18px;
        background-position: center; background-repeat: no-repeat;
    }
    footer > div:first-child span a:nth-of-type(1){
        background-image: url('../images/sns_tw.png');
    }
    footer > div:first-child span a:nth-of-type(2){
        background-image: url('../images/sns_book.png');
    }
    footer > div:first-child span a:nth-of-type(3){
        background-image: url('../images/sns_gg.png');
    }
    footer > div:nth-of-type(2){
        padding: 50px 0;
    }
    footer > div:nth-of-type(2) p{
        font-size: 14px; font-style: italic;
        max-width: 510px; width: 50%;
        color: rgba(255,255,255,0.3);
    }
    footer > div:nth-of-type(2) span{
        right: 0; top: 50px; width: 50%;
        text-align: right;
    }
    footer > div:nth-of-type(2) span a{
        font-size: 11px; font-weight: 700;
        color: rgba(255,255,255,0.3);
        display: inline-block;
    }
    footer > div:nth-of-type(2) span a:last-of-type{
        margin-left: 2.56%;
    }
    /* * footer Fin */

}
/* *desktop Fin */