body{
    background-color: #e4e5e7;
}
.mont{
    font-family: 'Montserrat', sans-serif;
}
.crim{
    font-family: 'Crimson Pro', serif;
}

@media screen and (min-width: 1280px){
    
}
/* ?desktop */