body{
    background-color: #e4e5e7;
}
.mont{
    font-family: 'Montserrat', sans-serif;
}
.crim{
    font-family: 'Crimson Text', serif;
}
input[type='checkbox'],
input[type='radio']{
    display: none;
}
a{
    text-decoration: none;
}
.selectBox{
    display: inline-block; padding-right: 20px; box-sizing: border-box;
    background: url('../images/bg_arrow.png') no-repeat right center;
}
.selectBox select{
    border: none; box-shadow: none; background-image: none;
    background-color: transparent; -moz-appearance: none;
    -webkit-appearance: none;
    padding: 10px 0; font-size: 11px; color: #343e5c;
}
/* ?All Use */

@media screen and (max-width: 767px){
    header > div,
    footer > div,
    header + nav .slideNav,
    .contentArea,
    section.bestArea,
    section.tosayArea > div{
        max-width: 760px; margin: 0 auto;
    }
    header{
        border-bottom: 1px solid #f0f2f7; background-color: white;
    }
    header > div:after{
        content: ''; display: block; visibility: hidden; clear: both;
    }
    header > div > *{
        float: left;
    }
    header > div label.material-icons{
        display: block; width: 15%; max-width: 60px; line-height: 90px; text-align: center;
    }
    header > div input[type='checkbox']#mui+nav{
        height: 0; overflow-y: hidden; transition-duration: 0.75s;
    }
    header > div input[type='checkbox']#mui:checked+nav{
        height: 200px;
    }
    header > div h1{
        min-width: 125px; width: 10.7%;
    }
    header > div h1 a{
        display: block; text-align: right; padding: 31px 0;
    }
    header > div h1 a img{
        max-width: 92px; width: 100%;
    }
    header > div nav{
        width: 60%; position: absolute; z-index: 100; top: 90px;
        padding-left: 5%; background-color: white;
    }
    /* header > div nav ul{
        text-align: right;
    } */
    header > div nav ul li{
        display: block;
    }
    /* header > div nav ul li:not(:first-child){
        margin-left: 2%;
    } */
    header > div nav ul li a{
        display: block; font-size: 14px; font-weight: 700; color: #343e5c;
        line-height: 40px;
    }
    header > div div{
        width: 40%; font-size: 11px; color: #343e5c; line-height: 90px;
        text-align: right;
    }
    /* header > div div *:not(input){
        display: inline-block;
    } */
    header > div div strong{
        /* line-height: 17px; */
        display: none;
    }
    header > div div span{
        display: none;
        /* width: 24px; line-height: 24px; border-radius: 12px; text-align: center;
        background-color: #e3e8f0; margin-left: 2%; font-weight: 700; */
    }
    header > div div input[type='button']{
         background-color: white; font-size: 11px; padding: 8px 15px;
        border: 2px solid #e3e8f0; border-radius: 18px; font-weight: 700;
        /* margin-left: 8%; min-width: 85px; */
    }
    /* *header Fin */

    .paging{
        position: relative; background-color: white; border-radius: 4px;
        clear: both;
    }
    .paging > a{
        position: absolute; width: 16%; line-height: 90px; text-align: center;
        font-size: 18px; font-weight: 700; color: #3a405b; top: 0;
    }
    .paging > a:first-of-type{
        left: 0; border-right: 1px solid #f0f2f7;
    }
    .paging > a:last-of-type{
        right: 0; border-left: 1px solid #f0f2f7;
    }
    .paging ol{
        padding: 20px 17%; box-sizing: border-box; text-align: center;
    }
    .paging ol li{
        display: inline-block;
    }
    .paging ol li a{
        display: block; line-height: 50px; width: 50px; border-radius: 25px;
        font-size: 14px; color: #3a405b; background-color: white;
        transition-duration: 0.5s; font-weight: 700;
    }
    .paging ol li a:hover{
        box-shadow: 0 5px 20px #dfe0e5; color: #b9bed1;
    }

    /* todo. pager */

    footer{
        background-color: #222328;
    }
    footer > div{
        position: relative;
    }
    footer > div span{
        position: absolute; display: block;
    }
    footer > div:first-child{
        padding: 60px 15px; border-bottom: 1px solid rgba(255,255,255,0.05);
    }
    footer > div:first-child h2{
        max-width: 92px; width: 7.86%; position: absolute; left: 15px;
    }
    footer > div:first-child ul{
        text-align: center; padding: 0 12%;
    }
    footer > div:first-child ul li{
        display: inline-block;
    }
    footer > div:first-child ul li:not(:first-child){
        margin-left: 2.56%;
    }
    footer > div:first-child ul li a{
        display: block; color: white; font-size: 12px; font-weight: 500;
    }
    footer > div:first-child span{
        right: 15px; top: 60px; width: 11.54%;
    }
    footer > div:first-child span a:not(:first-of-type){
        margin-left: 2.8%;
    }
    footer > div:first-child span a{
        display: inline-block; width: 24px; height: 18px;
        text-indent: -9999px; background-position: center;
        background-repeat: no-repeat;
    }
    footer > div:first-child span a:nth-child(1){
        background-image: url('../images/sns_01.png')
    }
    footer > div:first-child span a:nth-child(2){
        background-image: url('../images/sns_02.png')
    }
    footer > div:first-child span a:nth-child(3){
        background-image: url('../images/sns_03.png')
    }

    footer > div:nth-child(2){
        padding: 60px 15px;
    }
    footer > div:nth-child(2) p{
        font-size: 14px; font-style: italic; max-width: 510px;
        color: rgba(255,255,255,0.3); width: 50%;
    }
    footer > div:nth-child(2) span{
        width: 50%; right: 15px; top: 60px; text-align: right;
    }
    footer > div:nth-child(2) span a{
        font-size: 11px; color: rgba(255,255,255,0.3); display: inline-block;
        font-weight: 500;
    }
    footer > div:nth-child(2) span a:last-of-type{
        margin-left: 2.56%;
    }
    /* *footer Fin */
}
/* ?mobile */

@media screen and (min-width: 768px) and (max-width: 1279px){
    header > div,
    footer > div,
    header + nav .slideNav,
    .contentArea,
    section.bestArea,
    section.tosayArea > div{
        max-width: 1000px; margin: 0 auto;
    }
    header{
        border-bottom: 1px solid #f0f2f7; background-color: white;
    }
    header > div:after{
        content: ''; display: block; visibility: hidden; clear: both;
    }
    header > div > *{
        float: left;
    }
    header > div label.material-icons{
        display: none;
    }
    header > div h1{
        min-width: 125px; width: 10.7%;
    }
    header > div h1 a{
        display: block; text-align: right; padding: 31px 0;
    }
    header > div h1 a img{
        max-width: 92px; width: 100%;
    }
    header > div nav{
        width: 60%;
    }
    header > div nav ul{
        text-align: right;
    }
    header > div nav ul li{
        display: inline-block;
    }
    header > div nav ul li:not(:first-child){
        margin-left: 2%;
    }
    header > div nav ul li a{
        display: block; font-size: 14px; font-weight: 700; color: #343e5c;
        line-height: 90px;
    }
    header > div div{
        width: 23.7%; font-size: 11px; color: #343e5c; line-height: 90px;
        text-align: right;
    }
    header > div div *:not(input){
        display: inline-block;
    }
    header > div div strong{
        line-height: 17px;
    }
    header > div div span{
        width: 24px; line-height: 24px; border-radius: 12px; text-align: center;
        background-color: #e3e8f0; margin-left: 2%; font-weight: 700;
    }
    header > div div input[type='button']{
        min-width: 85px; background-color: white; font-size: 11px; padding: 8px 15px;
        border: 2px solid #e3e8f0; border-radius: 18px; font-weight: 700;
        margin-left: 8%;
    }
    /* *header Fin */

    .paging{
        position: relative; background-color: white; border-radius: 4px;
        clear: both;
    }
    .paging > a{
        position: absolute; width: 16%; line-height: 90px; text-align: center;
        font-size: 18px; font-weight: 700; color: #3a405b; top: 0;
    }
    .paging > a:first-of-type{
        left: 0; border-right: 1px solid #f0f2f7;
    }
    .paging > a:last-of-type{
        right: 0; border-left: 1px solid #f0f2f7;
    }
    .paging ol{
        padding: 20px 17%; box-sizing: border-box; text-align: center;
    }
    .paging ol li{
        display: inline-block;
    }
    .paging ol li a{
        display: block; line-height: 50px; width: 50px; border-radius: 25px;
        font-size: 14px; color: #3a405b; background-color: white;
        transition-duration: 0.5s; font-weight: 700;
    }
    .paging ol li a:hover{
        box-shadow: 0 5px 20px #dfe0e5; color: #b9bed1;
    }

    /* todo. pager */

    footer{
        background-color: #222328;
    }
    footer > div{
        position: relative;
    }
    footer > div span{
        position: absolute; display: block;
    }
    footer > div:first-child{
        padding: 60px 15px; border-bottom: 1px solid rgba(255,255,255,0.05);
    }
    footer > div:first-child h2{
        max-width: 92px; width: 7.86%; position: absolute; left: 15px;
    }
    footer > div:first-child ul{
        text-align: center; padding: 0 12%;
    }
    footer > div:first-child ul li{
        display: inline-block;
    }
    footer > div:first-child ul li:not(:first-child){
        margin-left: 2.56%;
    }
    footer > div:first-child ul li a{
        display: block; color: white; font-size: 12px; font-weight: 500;
    }
    footer > div:first-child span{
        right: 15px; top: 60px; width: 11.54%;
    }
    footer > div:first-child span a:not(:first-of-type){
        margin-left: 2.8%;
    }
    footer > div:first-child span a{
        display: inline-block; width: 24px; height: 18px;
        text-indent: -9999px; background-position: center;
        background-repeat: no-repeat;
    }
    footer > div:first-child span a:nth-child(1){
        background-image: url('../images/sns_01.png')
    }
    footer > div:first-child span a:nth-child(2){
        background-image: url('../images/sns_02.png')
    }
    footer > div:first-child span a:nth-child(3){
        background-image: url('../images/sns_03.png')
    }

    footer > div:nth-child(2){
        padding: 60px 15px;
    }
    footer > div:nth-child(2) p{
        font-size: 14px; font-style: italic; max-width: 510px;
        color: rgba(255,255,255,0.3); width: 50%;
    }
    footer > div:nth-child(2) span{
        width: 50%; right: 15px; top: 60px; text-align: right;
    }
    footer > div:nth-child(2) span a{
        font-size: 11px; color: rgba(255,255,255,0.3); display: inline-block;
        font-weight: 500;
    }
    footer > div:nth-child(2) span a:last-of-type{
        margin-left: 2.56%;
    }
    /* *footer Fin */
}
/* ?tablet */

@media screen and (min-width: 1280px){
    header > div,
    footer > div,
    header + nav .slideNav,
    .contentArea,
    section.bestArea,
    section.tosayArea > div{
        max-width: 1170px; margin: 0 auto;
    }
    header{
        border-bottom: 1px solid #f0f2f7; background-color: white;
    }
    header > div:after{
        content: ''; display: block; visibility: hidden; clear: both;
    }
    header > div > *{
        float: left;
    }
    header > div label.material-icons{
        width: 5.3%; max-width: 60px; line-height: 90px; box-sizing: border-box;
        border-right: 1px solid #f0f2f7; display: block;
    }
    header > div h1{
        min-width: 125px; width: 10.7%;
    }
    header > div h1 a{
        display: block; text-align: right; padding: 31px 0;
    }
    header > div h1 a img{
        max-width: 92px; width: 100%;
    }
    header > div nav{
        width: 54.7%;
    }
    header > div nav ul{
        text-align: right;
    }
    header > div nav ul li{
        display: inline-block;
    }
    header > div nav ul li:not(:first-child){
        margin-left: 2.56%;
    }
    header > div nav ul li a{
        display: block; font-size: 14px; font-weight: 700; color: #343e5c;
        line-height: 90px;
    }
    header > div div{
        width: 29.3%; font-size: 11px; color: #343e5c; line-height: 90px;
        text-align: right;
    }
    header > div div *:not(input){
        display: inline-block;
    }
    header > div div strong{
        padding-left: 25px; line-height: 17px;
        background: url('../images/bul_cart.png') left top / contain no-repeat;
    }
    header > div div span{
        width: 24px; line-height: 24px; border-radius: 12px; text-align: center;
        background-color: #e3e8f0; margin-left: 2%; font-weight: 700;
    }
    header > div div input[type='button']{
        min-width: 85px; background-color: white; font-size: 11px; padding: 8px 15px;
        border: 2px solid #e3e8f0; border-radius: 18px; font-weight: 700;
        margin-left: 8%;
    }
    /* header Fin */

    .paging{
        position: relative; background-color: white; border-radius: 4px;
        clear: both;
    }
    .paging > a{
        position: absolute; width: 16%; line-height: 90px; text-align: center;
        font-size: 18px; font-weight: 700; color: #3a405b; top: 0;
    }
    .paging > a:first-of-type{
        left: 0; border-right: 1px solid #f0f2f7;
    }
    .paging > a:last-of-type{
        right: 0; border-left: 1px solid #f0f2f7;
    }
    .paging ol{
        padding: 20px 17%; box-sizing: border-box; text-align: center;
    }
    .paging ol li{
        display: inline-block;
    }
    .paging ol li a{
        display: block; line-height: 50px; width: 50px; border-radius: 25px;
        font-size: 14px; color: #3a405b; background-color: white;
        transition-duration: 0.5s; font-weight: 700;
    }
    .paging ol li a:hover{
        box-shadow: 0 5px 20px #dfe0e5; color: #b9bed1;
    }

    /* todo. pager */

    footer{
        background-color: #222328;
    }
    footer > div{
        position: relative;
    }
    footer > div span{
        position: absolute; display: block;
    }
    footer > div:first-child{
        padding: 60px 0; border-bottom: 1px solid rgba(255,255,255,0.05);
    }
    footer > div:first-child h2{
        max-width: 92px; width: 7.86%; position: absolute; left: 0;
    }
    footer > div:first-child ul{
        text-align: center; padding: 0 10%;
    }
    footer > div:first-child ul li{
        display: inline-block;
    }
    footer > div:first-child ul li:not(:first-child){
        margin-left: 2.56%;
    }
    footer > div:first-child ul li a{
        display: block; color: white; font-size: 12px; font-weight: 500;
    }
    footer > div:first-child span{
        right: 0; top: 60px; width: 8.54%;
    }
    footer > div:first-child span a:not(:first-of-type){
        margin-left: 2.8%;
    }
    footer > div:first-child span a{
        display: inline-block; width: 24px; height: 18px;
        text-indent: -9999px; background-position: center;
        background-repeat: no-repeat;
    }
    footer > div:first-child span a:nth-child(1){
        background-image: url('../images/sns_01.png')
    }
    footer > div:first-child span a:nth-child(2){
        background-image: url('../images/sns_02.png')
    }
    footer > div:first-child span a:nth-child(3){
        background-image: url('../images/sns_03.png')
    }

    footer > div:nth-child(2){
        padding: 60px 0;
    }
    footer > div:nth-child(2) p{
        font-size: 14px; font-style: italic; max-width: 510px;
        color: rgba(255,255,255,0.3); width: 50%;
    }
    footer > div:nth-child(2) span{
        width: 50%; right: 0; top: 60px; text-align: right;
    }
    footer > div:nth-child(2) span a{
        font-size: 11px; color: rgba(255,255,255,0.3); display: inline-block;
        font-weight: 500;
    }
    footer > div:nth-child(2) span a:last-of-type{
        margin-left: 2.56%;
    }
    /* *footer Fin */
}
/* ?desktop */