body{
    background-color: #e4e5e7;
}
.mont{
    font-family: 'Montserrat', sans-serif;
}
.crim{
    font-family: 'Crimson Text', serif;
}
a{
    text-decoration: none;
}
input[type='radio'],
input[type='checkbox']{
    display: none;
}
/* 
    All Using CSS
*/

@media screen and (min-width: 1280px){
    header > div,
    footer > div,
    header+nav .slideNav,
    .contentArea,
    .contentArea+.paging,
    section.bestArea,
    section.tosayArea > div{
        max-width: 1170px; margin: 0 auto;
    }

    header{
        background-color: white;
        border-bottom: 1px solid #f0f2f7;
    }
    header > div > *{
        float: left;
    }
    header > div:after{
        content: ''; display: block; visibility: hidden; clear: both;
    }
    header > div label.material-icons{
        width: 5.3%; max-width: 60px;
        border-right: 1px solid #f0f2f7;
        display: block; font-size: 25px;
        line-height: 90px;
    }
    header > div h1{
        width: 10.7%; min-width: 125px;
    }
    header > div h1 a{
        display: block; text-align: center;
        padding: 31px 0;
    }
    header > div h1 a img{
        max-width: 92px;
    }
    header > div nav{
        width: 54.7%;
    }
    header > div nav ul{
        text-align: center;
    }
    header > div nav ul li{
        display: inline-block; line-height: 90px;
    }
    header > div nav ul li:not(:first-child){
        margin-left: 4.68%;
    }
    header > div nav ul li a{
        font-size: 14px; color: #343e5c;
        font-weight: 700; display: block;
    }
    header > div div{
        width: 29.3%; font-size: 11px; color:#343e5c;
        line-height: 90px;
    }
    header > div div *:not(input){
        display: inline-block;
    }
    header > div div strong{
        padding-left: 25px; line-height: 17px;
        background: url('../images/bul_cart.png') no-repeat left top;
    }
    header > div div span{
        width: 24px; line-height: 24px; border-radius: 12px;
        background-color: #e3e8f0; text-align: center;
        font-weight: 700; margin-left: 2%;
    }
    header > div div input[type='button']{
        margin-left: 8%; background-color: white;
        border: 2px solid #e3e8f0; font-size: 11px;
        padding: 0 15px; line-height: 32px;
        border-radius: 16px;
    }
    /* header Fin */

    .paging{
        position: relative; background-color: white;
        border-radius: 5px; clear: both;
    }
    .paging > a{
        position: absolute; width: 16%; line-height: 90px;
        text-align: center; font-size: 18px; font-weight: 700;
        color: #3a405b;
    }
    .paging > a:first-of-type{
        left: 0; top: 0; border-right: 1px solid #f0f2f7;
    }
    .paging > a:last-of-type{
        right: 0; top: 0; border-left: 1px solid #f0f2f7;
    }
    .paging ol{
        padding: 20px 17%; box-sizing: border-box;
        text-align: center;
    }
    .paging ol li{
        display: inline-block; line-height: 50px;
    }
    .paging ol li a{
        display: block; font-size: 14px; color: #3a405b;
        width: 50px; background-color: white;
        border-radius: 25px; transition-duration:0.5s;
    }
    .paging ol li a:hover{
        box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    }
    

    footer{
        background-color: #222328;
    }
    footer > div{
        position: relative;
    }
    footer > div span{
        position: absolute; display: block;
    }
    footer > div:first-child{
        padding: 60px 0; border-bottom: 1px solid rgba(255,255,255, 0.05);
    }
    footer > div:first-child h2{
        max-width: 92px; width: 7.86%; position: absolute;
        left: 0;
    }
    footer > div:first-child ul{
        text-align: center; padding: 0 10%;
    }
    footer > div:first-child ul li{
        display: inline-block;
    }
    footer > div:first-child ul li:not(:first-child){
        margin-left: 2.56%;
    }
    footer > div:first-child ul li a{
        display: block; color: white; font-size: 12px;
        font-weight: 500;
    }
    footer > div:first-child span{
        right: 0; top: 60px; width: 8.54%;
    }
    footer > div:first-child span a:not(:first-of-type){
        margin-left: 2.4%;
    }
    footer > div:first-child span a{
        text-indent: -9999px; display: inline-block;
        width: 24px; height: 18px; background-position: center;
        background-repeat: no-repeat;
    }
    footer > div:first-child span a:nth-child(1){
        background-image: url('../images/sns_tw.png');
    }
    footer > div:first-child span a:nth-child(2){
        background-image: url('../images/sns_book.png');
    }
    footer > div:first-child span a:nth-child(3){
        background-image: url('../images/sns_gg.png');
    }
    footer > div:nth-of-type(2){
        padding: 50px 0;
    }
    footer > div:nth-of-type(2) p{
        font-size: 14px; font-style: italic;
        max-width: 510px; color: rgba(255,255,255,0.3);
        width: 50%;
    }
    footer > div:nth-of-type(2) span{
        right: 0; top: 50px; width: 50%;
        text-align: right;
    }
    footer > div:nth-of-type(2) span a{
        font-size: 11px; font-weight: 500;
        color: rgba(255,255,255,0.3);
        display: inline-block;
    }
    footer > div:nth-of-type(2) span a:last-of-type{
        margin-left: 2.56%;
    }
    /* footer Fin */
}