@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,400i|Montserrat:400,500,700,900');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('reset.css');
@import url('global.css');
@import url('page.css');