@media screen and (min-width: 1280px){
    nav{
        background-color: white;
    }
    nav .slideNav:after{
        content: ''; display: block; visibility: hidden; clear: both;
    }
    nav .slideNav > *{
        float: left;
    }
    nav .slideNav ul{
        width: 83%; position: relative;
    }
    nav .slideNav ul li{
        display: inline-block; margin-left: 2.5%;
    }
    nav .slideNav ul li:first-child{
        margin-left: 0;
    }
    nav .slideNav ul li:last-child{
        position: absolute; right: 30px;
    }
    nav .slideNav ul li a{
        font-size: 11px; color: #b9bed1;
        padding: 25px 0; display: block;
    }
    nav .slideNav ul li a:hover,
    nav .slideNav ul li a.active{
        color: #343e5c;
    }
    nav .slideNav input[type='search']{
        width: 17%; padding: 22px 2.5% 22px 5%;
        border-width:0 1px; border-style:solid; border-color: #f0f2f7;
        background: url("../images/bul_search.png") no-repeat 5% center;
    }
    section.slideArea{
        background-color: #1c1e23; margin-bottom: 50px;
        line-height: 0;
    }
    section.slideArea > div{
        position: relative;
    }
    section.slideArea > div > a{
        display: block; position: absolute; width: 42px; line-height:42px;
        border-radius: 21px; color: white; border: 1px solid #494b4f;
        font-size: 18px; text-align: center; z-index: 10;
    }
    section.slideArea > div > a.btn_conL{top: 45%; left: 0;}
    section.slideArea > div > a.btn_conR{top: 45%; right: 0;}
    section.slideArea > div ol{
        position: absolute; left: 50%; bottom: 10%; z-index: 1;
    }
    section.slideArea > div ol li{
        display: inline-block;
    }
    section.slideArea > div ol li a{
        display: block; width: 8px; height: 8px; border-radius: 4px;
        border: 1px solid white; text-indent: -9999px;
    }
    section.slideArea > div ol li a:hover,
    section.slideArea > div ol li a.active{
        background-color: white;
    }
    section.slideArea > div ul{
        z-index: 0;
    }
    section.slideArea > div ul li{
        display: block;
    }
    section.slideArea > div ul li figure{
        position: relative;
    }
    section.slideArea > div ul li figure img{
        width: 100%; min-height: 500px;
    }
    section.slideArea > div ul li figure figcaption{
        position: absolute; color: white; left: 100px;
        top: 100px; width: 460px;
    }
    section.slideArea > div ul li figure figcaption dl dt{
        font-size: 42px; line-height: 50px; font-weight: 900;
        margin-bottom: 30px;
    }
    section.slideArea > div ul li figure figcaption dl dd{
        font-size: 16px; line-height: 24px; margin-bottom: 60px;
    }
    section.slideArea > div ul li figure figcaption input[type='button']{
        background-color: #2754eb; width: 165px; line-height: 42px;
        font-size: 11px; border: none; color: white; border-radius: 21px;
    }
    /* slide Fin */

    .contentArea{
        margin-bottom: 50px;
    }
    .contentArea > form fieldset{
        background-color: white; border-radius: 10px;
        padding:0 20px;
        margin-bottom: 30px;
    }
    .contentArea > form fieldset > *:not([type='checkbox']){
        display: inline-block; vertical-align: middle;
    }
    .contentArea > form fieldset label,
    .contentArea > form fieldset select{
        font-size: 11px; padding: 23px 0;
    }
    .contentArea > form fieldset label{
        color: #a1a7bd; margin-left: 25px;
    }
    .contentArea > form fieldset label:first-of-type,
    .contentArea > form fieldset label:nth-of-type(2){
        margin-left: 0;
    }
    .contentArea > form fieldset label:nth-of-type(2){
        padding-left: 25px; border-left: 2px solid #f2f2f2;
    }
    .contentArea > form fieldset input{
        padding: 10px 15px; border: 1px solid #e3e8f0;
        background-color: #f0f2f7; border-radius: 20px;
    }
    .contentArea > form fieldset input[type='search']#sb_keywords{
        width: 160px;
    }
    .contentArea > form fieldset input[id^='range']{
        width: 60px; color: #343e5c;
    }
    .contentArea > form fieldset span.selectBox select{
        display: block; color: #343e5c;
        border: none; box-shadow: none; background-color: transparent;
        background-image: none;
        -moz-appearance: none;
        -webkit-appearance: none;
    }
    .contentArea > form fieldset span.selectBox{
        background: url("../images/bg_arrow.png") no-repeat right center;
    }
    .contentArea > form fieldset span.sbSelect{
        width: 90px; margin: 0 20px 0 45px;
    }
    .contentArea > form fieldset span.shipSelect{
        width: 45px; margin: 0 0 0 45px;
    }
    .contentArea > form fieldset input[type='checkbox'] + label{
        color: #343e5c; font-size: 13px; border-right: 2px solid #f2f2f2;
        background-color: transparent; padding: 21px 40px 21px 25px;
        transition-duration: 0.5s;
    }
    .contentArea > form fieldset input[type='checkbox']:checked + label{
        background: url("../images/bul_check.png") no-repeat left center;
    }
    /* sort By Fin */

    .contentArea aside{
        width: 23%; float: left; margin-right: 2%;
        font-weight: 500;
    }
    .contentArea aside nav{
        background-color: white; border-radius: 10px;
        margin-bottom: 30px;
    }
    .contentArea aside nav ul > li{
        display: block;
        border-bottom: 1px solid #f0f2f7;
    }
    .contentArea aside nav ul > li:last-child{
        border-bottom: none;
    }
    .contentArea aside nav ul li a{
        display: block;
    }
    .contentArea aside nav ul > li > a{
        padding: 15px 20px; font-size: 13px; color: #343e5c;
        font-weight: 500;
    }
    .contentArea aside nav ul > li > a:after{
        content: url("../images/bg_arrow.png");
        float: right; transform: rotate(-90deg);
        transition-duration: 0.5s;
    }
    .contentArea aside nav ul > li:hover > a:after{
        transform: rotate(0deg);
    }
    .contentArea aside nav ul > li ol li{
        background-color: #f0f2f7;
    }
    .contentArea aside nav ul > li ol li a{
        padding:0 20px; height:0; opacity: 0;
        border-bottom: 0; font-size: 0px; color: #a1a7bd;
        transition-duration:0.3s;
    }
    .contentArea aside nav ul > li:hover ol li a{
        padding:15px 20px; height: 10px; opacity: 1;
        font-size: 11px; border-bottom: 1px solid #dfe4ee;
    }
    .contentArea aside nav ul > li:hover ol li:last-child a{
        border-bottom: none;
    }
    /*aside Nav Fin*/

    .contentArea aside fieldset{
        padding-top: 35px; background-color: white; border-radius: 10px;
        margin-bottom: 30px;
    }
    .contentArea aside fieldset:last-of-type{
        margin-bottom: 0;
    }
    .contentArea aside fieldset legend{
        width: 100%; font-size: 11px; color: #343e5c;
        padding: 0 20px 15px 20px; border-bottom: 1px solid #f0f2f7;
        box-sizing: border-box; position: relative; top: 35px;
    }
    .contentArea aside fieldset legend a{
        position: absolute; right: 20px; top:0; color: #2754eb;
        border-bottom: 2px solid #c9d4fa;
    }
    .contentArea aside fieldset label{
        display: inline-block; padding-left: 55px;
        font-size: 13px; color: #343e5c; cursor: pointer;
    }
    .contentArea aside fieldset label,
    .contentArea aside fieldset span{
        line-height: 55px;
    }
    .contentArea aside fieldset span{
        font-size: 11px; color: #bdbfd3;
    }
    .contentArea aside fieldset input[type='radio'] + label{
        background: url("../images/off_radio.png") no-repeat 27px center;
        width: 175px;
    }
    .contentArea aside fieldset input[type='radio']:checked + label{
        background-image: url("../images/on_radio.png");
    }

    .contentArea aside fieldset input[type='checkbox'] + label{
        background: url("../images/off_check.png") no-repeat 27px center;
        width: 175px;
    }
    .contentArea aside fieldset input[type='checkbox']:checked + label{
        background-image: url("../images/on_check.png");
    }
    .contentArea aside fieldset:last-child input[type='radio']+label{
        width:76px;
        border-right:2px solid #f0f2f7;
    }
    .contentArea aside fieldset:last-child input[type='radio'] + label:last-child{
        border-right:none;
    }
    /*aside Fin*/


}