

@media screen and (min-width: 1280px){
    header+nav{
        clear: left; background-color: white;
    }
    header+nav .slideNav:after{
        content: ''; display: block; visibility: hidden; clear: both;
    }
    header+nav .slideNav > *{
        float: left;
    }
    header+nav .slideNav ul{
        width: 80.34%;
    }
    header+nav .slideNav ul li:not(:first-child){
        margin-left: 2.56%;
    }
    header+nav .slideNav ul li:not(:last-child){
        float: left;
    }
    header+nav .slideNav ul li:last-child{
        float: right;
    }
    header+nav .slideNav ul li a{
        display: block; font-size: 11px;
        color: #b9bed1; line-height: 56px;
        font-weight: 500;
    }
    header+nav .slideNav ul li a:hover,
    header+nav .slideNav ul li a.active{
        color: #343e5c;
    }
    header+nav .slideNav input[type='search']{
        width: 17.1%; padding:18px 2% 18px 4%;
        font-size: 14px; box-sizing: border-box;
        border-width: 0 1px; border-style: solid;
        border-color: #f0f2f7;
        background: url('../images/bul_search.png')
        no-repeat 12% center;
        margin-left: 2.56%; 
    }
    /* slideNav Fin */
    section.slideArea{
        background-color: #1c1e23;
        margin-bottom: 50px; line-height: 0;
    }
    section.slideArea h2{
        display: none;
    }
    section.slideArea > div{
        position: relative; max-width: 1400px;
        margin: 0 auto;
    }
    section.slideArea > div > a{
        display:block; width: 42px; line-height: 42px;
        color: white; border-radius: 21px;
        border: 1px solid rgba(255,255,255,0.2);
        font-size: 18px; font-weight: 700;
        text-align: center; position: absolute;
        z-index: 10;
    }
    section.slideArea > div > a.btn_conL{
        left: 0; top: 50%;
    }
    section.slideArea > div > a.btn_conR{
        right: 0; top: 50%;
    }
    section.slideArea > div ol{
        position: absolute; left: 50%; bottom: 10%;
        z-index: 1;
    }
    section.slideArea > div ol li{
        display: inline-block;
    }
    section.slideArea > div ol li a{
        display: block; width: 8px; height: 8px;
        border-radius: 4px; text-indent: -9999px;
        border: 1px solid rgba(255,255,255,0.5);
    }
    section.slideArea > div ol li a:hover,
    section.slideArea > div ol li a.active{
        background-color: white;
    }
    
    section.slideArea > div ul li{
        display: block;
    }
    section.slideArea > div ul li figure{
        position: relative;
    }
    section.slideArea > div ul li figure img{
        width: 100%;
    }
    section.slideArea > div ul li figure figcaption{
        position: absolute; color: white; width: 40%;
        left: 8.54%; top: 21%;
    }
    section.slideArea > div ul li figure figcaption dl dt{
        font-size: 42px; font-weight: 900; line-height: 50px;
        margin-bottom: 25px;
    }
    section.slideArea > div ul li figure figcaption dl dd{
        font-size: 16px; line-height: 24px; margin-bottom: 60px;
    }
    section.slideArea > div ul li figure figcaption input[type='button']{
        background-color: #2754eb; border: none;
        font-size: 11px; color: white; font-weight: 700;
        width: 35.86%; line-height: 42px; border-radius: 21px;
    }
    /* * slide Fin */

    .contentArea{
        margin-bottom: 50px;
    }
    .contentArea > fieldset{
        background-color: white; border-radius: 4px;
        line-height: 56px; padding: 0 1.7%;
        box-sizing: border-box; margin-bottom: 30px;
    }
    .contentArea > fieldset label{
        font-size: 11px; color: #a1a7bd;
        font-weight: 500; display: inline-block;
        vertical-align: middle;
    }
    .contentArea > fieldset select{
        border: none; box-shadow: none;
        background-image: none;
        background-color: transparent;
        -webkit-appearance: none;
        -moz-appearance: none;
        padding: 10px 0; font-size: 11px;
        color: #343e5c; font-weight: 700;
    }
    .contentArea > fieldset span.selectBox{
        display: inline-block; padding-right: 20px;
        box-sizing: border-box;
        background: url('../images/bg_arrow.png') no-repeat
        right center;
    }
    .contentArea > fieldset input:not([type='checkbox']){
        font-size: 13px; background-color: #f0f2f7;
        border: 1px solid #e3e8f0; padding: 10px 0.94%;
        border-radius: 20px; font-weight: 700;
    }
    .contentArea > fieldset input[type='search']{
        width: 14%;
    }
    .contentArea > fieldset input[type='text']{
        width: 5%;
    }
    .contentArea > fieldset span.sbSelect{
        margin-left: 4.27%;
    }
    .contentArea > fieldset label[for='sb_keywords'],
    .contentArea > fieldset label[for='ship_Select']{
        padding-left: 2.56%; margin-left: 1.7%;
        border-left: 1px solid rgba(0,0,0,0.05);
    }
    .contentArea > fieldset input[type='search'],
    .contentArea > fieldset input[id='range_minprice']{
        margin-left: 1.02%;
    }
    .contentArea > fieldset label[for='range_minprice'],
    .contentArea > fieldset label[for='freeShipCheck']{
        margin-left: 2.56%;
    }
    .contentArea > fieldset label[for='freeShipCheck']{
        padding-left: 2.56%; color: #343e5c;
        transition-duration: 0.5s;
    }
    .contentArea > fieldset input[type='checkbox']:checked + label[for='freeShipCheck']{
        background: url('../images/bul_check.png') no-repeat left center;
    }
    .contentArea > fieldset span.shipSelect{
        padding-left: 6.83%;
    }
    /* * sortBy Fin */

    .contentArea aside{
        width: 23%; float: left;
    }
    .contentArea aside nav{
        background-color: white; border-radius: 5px;
        margin-bottom: 30px;
    }
    .contentArea aside nav ul li,
    .contentArea aside nav ul li a{
        display: block;
    }
    .contentArea aside nav ul > li:not(:last-child){
        border-bottom: 1px solid #f0f2f7;
    }
    .contentArea aside nav ul > li > a{
        font-size: 13px; color: #343e5c;
        padding: 15px 9.25% 15px 7.4%;
    }
    .contentArea aside nav ul > li > a:after{
        content: url('../images/bg_arrow.png');
        float: right; transform: rotate(-90deg);
        transition: transform 0.5s ease-out;
    }
    .contentArea aside nav ul > li:hover > a:after{
        transform: rotate(0deg);
    }
    .contentArea aside nav ul > li ol{
        background-color: #f0f2f7;
    }
    .contentArea aside nav ul > li ol li a{
        font-size: 0px; opacity: 0;
        padding: 0px 7.4%; transition-duration: 0.3s;
        color: #a1a7bd;
    }
    .contentArea aside nav ul > li:hover ol li a{
        font-size: 11px; opacity: 1;
        padding: 15px 7.4%; border-top:1px solid #dfe4ee;
    }
    /* aside Nav Fin */
    .contentArea aside fieldset{
        background-color: white; border-radius: 5px;
        padding-top: 27px;
    }
    .contentArea aside fieldset:not(:last-of-type){
        margin-bottom: 30px;
    }
    .contentArea aside fieldset legend{
        width: 100%; font-size: 11px; color: #343e5c;
        font-weight: 700; text-transform: uppercase;
        padding: 0 7.4% 15px; border-bottom: 1px solid #f0f2f7; 
        box-sizing: border-box; position: relative;
        top: 27px;
    }
    .contentArea aside fieldset legend a{
        color: #2754eb; border-bottom: 2px solid #c9d4fa;
        float: right;
    }
    .contentArea aside fieldset label{
        font-size: 13px; color: #343e5c; cursor: pointer;
        display: inline-block; box-sizing: border-box;
        padding-left: 20.37%;
    }
    .contentArea aside fieldset label,
    .contentArea aside fieldset span{
        line-height: 50px;
    }
    .contentArea aside fieldset span{
        font-size: 11px; color: #bdbfd3;
        display: inline-block; text-align: center;
        max-width: 76px; width: 15%;
    }
    .contentArea aside fieldset label[for *='ava'],
    .contentArea aside fieldset label[for *='brand']{
        width: 83%; max-width: 215px;
    }
    .contentArea aside fieldset label[for*='Condition']{
        width: 93%; max-width: 270px;
    }
    .contentArea aside fieldset label[for*='dlvr']{
        width: 49%; max-width: 135px;
    }
    .contentArea aside fieldset label[for*='dlvr']:last-of-type{
        border-left: 2px solid #f0f2f7;
        box-sizing: border-box;
    }
    .contentArea aside fieldset input[type='radio'] + label{
        background: url('../images/off_radio.png') no-repeat 10% center;
    }
    .contentArea aside fieldset input[type='radio']:checked + label{
        background-image: url('../images/on_radio.png');
    }
    .contentArea aside fieldset input[type='checkbox'] + label{
        background: url('../images/off_check.png') no-repeat 10% center;
    }
    .contentArea aside fieldset input[type='checkbox']:checked + label{
        background-image: url('../images/on_check.png');
    }
    /* aside Fin */

    .contentArea section{
        width: 74.44%; margin-left: 2.56%;
        float: left;
    }
    .contentArea section h3{
        display: none;
    }
    .contentArea section ul:after{
        content: ''; display: block; visibility: hidden; clear: both;
    }
    .contentArea section ul li{
        float: left; width: 31%; margin: 0 0 33px 3.5%;
        background-color: white; box-sizing: border-box;
        border-radius: 4px; height: 380px;
        display: block;
    }
    .contentArea section ul li:nth-child(5){
        width: 65.5%;
    }
    .contentArea section ul li:nth-child(1),
    .contentArea section ul li:nth-child(4),
    .contentArea section ul li:nth-child(6),
    .contentArea section ul li:nth-child(9){
        margin-left: 0;
    }
    .contentArea section ul li figure img{
        width: 100%; border-radius: 4px;
        margin-bottom: 20px;
    }
    .contentArea section ul li figure figcaption dl{
        padding: 0 9%; box-sizing: border-box;
        text-align: center;
    }
    .contentArea section ul li figure figcaption dl dt{
        font-size: 16px; color: #1c1e23; line-height: 20px;
        margin-bottom: 10px; font-weight: 700;
    }
    .contentArea section ul li figure figcaption dl dd:not(:last-of-type){
        font-size: 12px; color: #b8bfd3; margin-bottom: 10px;
    }
    .contentArea section ul li figure figcaption dl dd:last-of-type{
        font-size: 14px; color: #343e5c; font-weight: 700;
    }
    .contentArea section ul li:nth-child(5) figure img{
        margin-bottom: 10px;
    }
    .contentArea section ul li:nth-child(5) figure figcaption{
        position: relative;
    }
    .contentArea section ul li:nth-child(5) figure figcaption dl{
        text-align: left; padding: 0 4.21% 10px; box-sizing: border-box;
    }
    .contentArea section ul li:nth-child(5) figure figcaption dl dd:last-of-type{
        position: absolute; background-color: black;
        left: 4.21%; top: -295px; color: white; border-radius: 3px;
        font-size: 12px; padding: 5px 10px;
    }
    .contentArea section ul li:nth-child(5) figure figcaption span{
        position: absolute; top: 0; right: 4.21%;
    }
    .contentArea section ul li:nth-child(5) figure figcaption span a{
        display: block; width: 110px; float: left;
        text-align: center; line-height: 30px; font-size: 11px;
        color: #3a405b; border: 2px solid #f0f2f7;
        font-weight: 700;
    }
    .contentArea section ul li:nth-child(5) figure figcaption span a:first-of-type{
        border-radius: 15px 0 0 15px;
    }
    .contentArea section ul li:nth-child(5) figure figcaption span a:last-of-type{
        border-radius: 0 15px 15px 0; border-left: none;
    }
    .contentArea section ul li:last-child{
        position: relative;
    }
    .contentArea section ul li:last-child figure figcaption dl{
        position: absolute; left: 0; top: 40px;
        text-align: center; width: 100%; padding: 0 4.21%;
        box-sizing: border-box;
    }
    .contentArea section ul li:last-child figure figcaption dl dd:nth-child(2){
        display: none;
    }
    .contentArea section ul li:last-child figure figcaption dl dd{
        color: rgba(28,23,35,0.5);
    }
    /* * contentArea Fin */
    .contentArea + .paging{
        margin-bottom: 50px;
    }
    section.bestArea{
        background-color: white; border-radius: 4px;
        margin-bottom: 50px;
    }
    section.bestArea h2{
        font-size: 11px; color: #343e5c; line-height: 55px;
        text-align: center; border-bottom: 1px solid #f0f2f7;
        font-weight: 700; text-transform: uppercase;
    }
    section.bestArea ul:after{
        content: ''; display: block; visibility: hidden; clear: both;
    }
    section.bestArea ul li{
        width: 25%; float: left;
        padding-bottom: 35px; display: block;
    }
    section.bestArea ul li:not(:first-child){
        border-left: 1px solid #f0f2f7;
        box-sizing: border-box;
    }
    section.bestArea ul li figure img{
        width: 100%;
    }
    section.bestArea ul li figure figcaption dl{
        text-align: center;
    }
    section.bestArea ul li figure figcaption dl dt{
        font-size: 16px; color: #343e5c;
        margin-bottom: 10px; font-weight: 700;
    }
    section.bestArea ul li figure figcaption dl dd:first-of-type{
        font-size: 11px; color: #a1a8bd;
        margin-bottom: 20px;
    }
    section.bestArea ul li figure figcaption dl dd:last-of-type{
        font-size: 14px; color: #343e5c; font-weight: 700;
    }
    section.bestArea ul li figure figcaption dl dd:last-of-type del{
        color: #a1a8bd; margin-right: 20px;
        font-weight: 500;
    }
    /* *bestArea Fin */
    section.tosayArea{
        background-color: white;
    }
    section.tosayArea > div{
        padding: 75px 0 85px;
    }
    section.tosayArea > div h2{
        font-size: 32px; color: #222328; text-align: center;
        font-weight: 900; margin-bottom: 15px; letter-spacing: -1px;
    }
    section.tosayArea > div > p{
        font-size: 16px; color: #b9bed1; text-align: center;
        margin-bottom: 50px; font-style: italic;
    }
    section.tosayArea > div ul:after{
        content: ''; display: block; visibility: hidden; clear: both;
    }
    section.tosayArea > div ul li{
        display: block; width: 27.64%; float: left;
    }
    section.tosayArea > div ul li:not(:first-child){
        margin-left: 8.54%;
    }
    section.tosayArea > div ul li figure:after{
        content: ''; display: block; visibility: hidden; clear: both;
        margin-bottom: 25px;
    }
    section.tosayArea > div ul li figure img{
        float: left; margin-right: 20px;
    }
    section.tosayArea > div ul li figure dl dt{
        font-size: 14px; color: #3a405b; line-height: 20px;
        margin-bottom: 5px; font-weight: 700;
    } 
    section.tosayArea > div ul li figure dl dd{
        font-style: italic; font-size: 14px; color: #b9bed1;
    }
    section.tosayArea > div ul li p{
        font-size: 16px; color: #3a405b; line-height: 24px;
    }
    /* tosayArea Fin */
}