

@media screen and (min-width: 1280px){
    header + nav{
        background-color: white;
    }
    header + nav .slideNav:after{
        content: ''; display: block; visibility: hidden; clear: both;
    }
    header + nav .slideNav > *{
        float: left;
    }
    header + nav .slideNav ul{
        width: 80.34%;
    }
    header + nav .slideNav ul li:not(:first-child){
        margin-left: 2.56%;
    }
    header + nav .slideNav ul li:not(:last-child){
        float: left;
    }
    header + nav .slideNav ul li:last-child{
        float: right;
    }
    header + nav .slideNav ul li a{
        display: block; font-size: 11px; color: #b9bed1; line-height: 56px;
        font-weight: 500;
    }
    header + nav .slideNav ul li a:hover,
    header + nav .slideNav ul li a.active{
        color: #343e5c;
    }
    header + nav .slideNav input[type='search']{
        margin-left: 2.56%; width: 17.1%; padding: 20px 2% 20px 4%;
        box-sizing: border-box; border-width: 0 1px; border-style: none solid;
        border-color: #f0f2f7; background: url('../images/bul_search.png') no-repeat 12% center;
    }
    /* *slideNav Fin */
}
/* ?desktop */