
/* all Using */

@media screen and (min-width: 1280px) {
    header + nav{
        background-color: white;
    }
    header+nav .slideNav:after{
        content: ''; display: block; visibility: hidden; clear: both;
    }
    header+nav .slideNav > *{
        float: left;
    }
    header+nav .slideNav ul{
        width: 80.34%;
    }
    header+nav .slideNav ul li:not(:first-child){
        margin-left: 2.56%;
    }
    header+nav .slideNav ul li:not(:last-child){
        float: left;
    }
    header+nav .slideNav ul li:last-child{
        float: right;
    }
    header+nav .slideNav ul li a{
        display: block; font-size: 11px; color: #b9bed1; line-height: 56px;
    }
    header+nav .slideNav ul li a:hover,
    header+nav .slideNav ul li a.active{
        color: #343e5c;
    }
    header+nav .slideNav input[type='search']{
        margin-left: 2.56%; width: 17.1%; border-width: 0 1px; border-style: none solid;
        padding: 20px 2% 20px 4%; border-color: #f0f2f7;
        background: url('../images/bul_search.png') no-repeat 12% center;
    }
    /* ?slideNav Fin */

    section.slideArea{
        background-color: #1c1e23; line-height: 0; margin-bottom: 50px;
    }
    section.slideArea h2{
        display: none;
    }
    section.slideArea > div{
        position: relative; max-width: 1400px; margin: 0 auto;
    }
    section.slideArea > div > a{
        display: block; width: 42px; padding: 9px 0 14px; font-size: 18px; color: white;
        border-radius: 21px; border: 1px solid rgba(255,255,255,0.2); text-align: center;
        font-weight: 700; z-index: 10; position: absolute; top: 50%; line-height: 19px;
    }
    section.slideArea > div > a.btn_conL{
        left: 11.78%;
    }
    section.slideArea > div > a.btn_conR{
        right: 11.78%;
    }
    section.slideArea > div ol{
        position: absolute; left: 50%; bottom: 10%; z-index: 1;
    }
    section.slideArea > div ol li{
        display: inline-block;
    }
    section.slideArea > div ol li a{
        display: block; width: 8px; height: 8px; border-radius: 4px;
        border: 1px solid rgba(255,255,255,0.5); text-indent: -9999px;
    }
    section.slideArea > div ol li a:hover,
    section.slideArea > div ol li a.active{
        background-color: white;
    }
    section.slideArea > div ul li{
        display: block;
    }
    section.slideArea > div ul li figure{
        position: relative;
    }
    section.slideArea > div ul li figure img{
        width: 100%;
    }
    section.slideArea > div ul li figure figcaption{
        position: absolute; color: white; width: 40%; max-width: 460px;
        left: 15.21%; top: 21%;
    }
    section.slideArea > div ul li figure figcaption dl dt{
        font-size: 42px; font-weight: 900; line-height: 50px; margin-bottom: 25px;
    }
    section.slideArea > div ul li figure figcaption dl dd{
        font-size: 16px; line-height: 24px; margin-bottom: 60px;
    }
    section.slideArea > div ul li figure figcaption input[type='button']{
        background-color: #2754eb; border: none; width: 35.86%;
        font-size: 11px; font-weight: 700; color: white; line-height: 42px;
        border-radius: 21px;
    }
    /* ?slideArea Fin */
    
    .contentArea{
        margin-bottom: 50px;
    }
    .contentArea > form fieldset{
        background-color: white; border-radius: 4px; line-height: 56px; padding: 0 1.7%;
        box-sizing: border-box; margin-bottom: 30px;
    }
    .contentArea > form fieldset span.sbSelect{
        margin-left: 4.27%;
    }
    .contentArea > form fieldset label{
        font-size: 11px; color: #a1a7bd; display: inline-block;
        vertical-align: middle;
    }
    .contentArea > form fieldset label[for='sb_keywords'],
    .contentArea > form fieldset label[for='ship_Select']{
        padding-left: 2.56%; margin-left: 1.7%;
        border-left: 1px solid rgba(0,0,0,0.05);
    }
    .contentArea > form fieldset input:not([type='checkbox']){
        font-size: 13px; background-color: #f0f2f7; border: 1px solid #e3e8f0;
        line-height: 30px; padding: 0 1%; box-sizing: border-box; border-radius: 16px;
    }
    .contentArea > form fieldset input[type='search']{
        width: 14%;
    }
    .contentArea > form fieldset input[type='text']{
        width: 7%;
    }
    .contentArea > form fieldset input[type='search'],
    .contentArea > form fieldset input[id='range_minprice']{
        margin-left: 1.02%;
    }
    .contentArea > form fieldset label[for='range_minprice'],
    .contentArea > form fieldset label[for='freeShipCheck']{
        margin-left: 2.56%;
    }
    .contentArea > form fieldset label[for='freeShipCheck']{
        padding-left: 2.56%; color: #343e5c; transition: background 0.5s ease-out;
    }
    .contentArea > form fieldset input[type='checkbox']:checked + label[for='freeShipCheck']{
        background: url('../images/bul_check.png') no-repeat left center;
    }
    /* ?sortBar Fin */
}
/* ? desktop */