header > div nav ul li a,
header > div > ul li p,
footer > div *,
#about figcaption p,
section.videoArea h2,
section.expArea ul,
section.teamArea ul,
section.teamArea ul + p,
section.worksArea h2 a,
section.talkArea p > *,
section.contactArea form fieldset input:not([type='submit']),
section.contactArea form fieldset textarea{
    font-family: 'Roboto';
}
header > div > ul li h2,
#about figcaption h2,
section.expArea > *:not(ul),
section.teamArea h2,
section.teamArea > p:not(:last-of-type),
section.worksArea h2,
section.talkArea p,
section.contactArea form fieldset legend,
section.contactArea div h3{
    font-family: 'Playfair Display';
}

a{
    text-decoration: none;
}
.btn_more{
    font-family: 'Hammersmith One'; font-weight: 400;
}
section[class $= Area] > hr{
    min-width: 50px; width: 3%; border-top: 2px solid rgba(65,61,75, 0.3);
    margin: 0 auto 45px;
}
/* ?All Using */

@media screen and (max-width: 767px){

    #about,
    section.expArea,
    section.contactArea,
    footer > div{
        max-width: 600px; margin: 0 auto; padding: 70px 3%;
        /* 
            ? width: 80% margin: 0 auto;
            ? width: 100%; padding: 0 3.8%; box-sizing: border-box;
        */
    }
    .btn_more{
        border: 1px solid #00e0d0; color: #00e0d0; text-align: center;
        display: block; font-size: 16px; padding: 15px 1.59%;
    }
    header{
        background: url('../images/bg_01.png') left top / cover no-repeat;
        padding: 15px 0 70px;
    }
    header > div{
        max-width: 600px; padding: 0 3%; margin: 0 auto; position: relative;
    }
    header > div h1{
        max-width: 128px; width: 35%; float: left;
    }
    header > div h1 a{
        display: block;
    }
    header > div h1 a img{
        width: 100%;
    }
    header > div nav{
        width: 50%; margin-left: 15%; text-align: right; float: right;
    }
    header > div nav input[type='checkbox']{
        display: none;
    }
    header > div nav label.mui{
        padding: 5px 3px; border: 1px solid white; width: 22px; display: block;
        margin: 5px 0 0 auto;
    }
    header > div nav label.mui span{
        border-top: 2px solid white; display: block;
    }
    header > div nav label.mui span:not(:last-of-type){
        margin-bottom: 3px;
    }
    header > div nav ul{
        height: 0; overflow: hidden;
        transition: height 1s ease-in-out;
    }
    header > div nav label.mui + input[type='checkbox']#mnav:checked + ul{
        height: 350px;
    }
    
    header > div nav ul li{
        display: block;
    }
    header > div nav ul li a{
        display: block; line-height: 50px; color: white; font-size: 13px;
        font-weight: 900;
    }
    header > div nav ul li a.active,
    header > div nav ul li a:hover{
        color: #00e0d0;
    }
    /* ? header Nav Fin */

    header > div > ul{
        margin-bottom: 125px;
    }
    header > div > ul li{
        padding-top: 160px; display: block;
    }
    header > div > ul li h2{
        font-size: 32px; color: white; font-weight: 900; text-align: center;
        padding-bottom: 22px; background: url('../images/bd_01.png') no-repeat center bottom;
        margin-bottom: 30px;
    }
    header > div > ul li p{
        font-size: 14px; color: white; font-weight: 300; line-height: 24px;
        max-width: 775px; margin: 0 auto 50px; text-align: center;
    }
    header > div > ul li a.btn_more{
        max-width: 120px; margin: 0 auto;
    }
    header > div > ol{
        text-align: center;
    }
    header > div > ol li{
        display: inline-block;
    }
    header > div > ol li a{
        display: block; text-indent: -9999px; width: 10px; height: 10px;
        border-radius: 5px; border: 1px solid rgba(255,255,255,0.8);
    }
    header > div > ol li a.active,
    header > div > ol li a:hover{
        background-color: #00e0d0; border-color: #00e0d0;
    }
    /* * header Fin */

    footer{
        background: url('../images/bg_05.png') left top / cover no-repeat;
    }
    footer > div div:nth-of-type(1),
    footer > div div:nth-of-type(2){
        width: 47.5%; float: left; margin: 0 0 70px; font-weight: 300;
    }
    footer > div div:nth-of-type(2){
        margin-left: 5%;
    }
    footer > div div h2{
        margin-bottom: 20px;
    }
    footer > div div:first-of-type h2{
        line-height: 0;
    }
    footer > div div:not(:first-of-type) h2{
        line-height: 50px; color: white; font-size: 15px; font-weight: 900;
    }
    footer > div div:not(:nth-of-type(3)){
        font-size: 14px; line-height: 26px; color: white;
    }
    footer > div div:nth-of-type(2) address{
        font-style: normal;
    }
    footer > div div:nth-of-type(2) address span{
        display: block; padding-left: 30px;
        background-repeat: no-repeat; background-position: left 5px;
    }
    footer > div div:nth-of-type(2) address span a{
        display: block; color: white;
    }
    footer > div div:nth-of-type(2) address span:first-of-type{
        background-image: url('../images/bul_map.png'); margin-bottom: 20px;
    }
    footer > div div:nth-of-type(2) address span:last-of-type{
        background-image: url('../images/bul_phone.png');
    }
    footer > div div:nth-of-type(3){
        clear: left;
    }
    footer > div div:nth-of-type(3):after{
        content: ''; display: block; visibility: hidden; clear: both;
    }
    footer > div div:nth-of-type(3) input{
        float: left; margin-bottom: 25px;
    }
    footer > div div:nth-of-type(3) input[type='email']{
        border: 1px solid rgba(255,255,255,0.5); color: rgba(255,255,255,0.75);
        background-color: transparent; width: 35%; display: block; font-size: 14px;
        box-sizing: border-box; line-height: 43px; padding: 0 15px;
    }
    footer > div div:nth-of-type(3) input[type='submit']{
        width: 10%; margin-left: 2%; text-indent: -9999px; border: none; line-height: 43px;
        background: url('../images/btn_send.png') no-repeat center rgba(255,255,255,0.5);
    }
    footer > div div:nth-of-type(3) ul{
        float: left; width: 45%; margin-left: 8%; text-align: center;
    }
    footer > div div:nth-of-type(3) ul li{
        display: inline-block; width: 35px; line-height: 35px;
    }
    footer > div div:nth-of-type(3) ul li:not(:first-child){
        margin-left: 5.8%;
    }
    footer > div div:nth-of-type(3) ul li a{
        display: block; text-indent: -9999px; background-repeat: no-repeat;
        background-size: contain;
    }
    footer > div div:nth-of-type(3) ul li:nth-child(1) a{
        background-image: url('../images/ico_sns_01.png');
    }
    footer > div div:nth-of-type(3) ul li:nth-child(2) a{
        background-image: url('../images/ico_sns_02.png');
    }
    footer > div div:nth-of-type(3) ul li:nth-child(3) a{
        background-image: url('../images/ico_sns_03.png');
    }
    footer > div div:nth-of-type(3) ul li:nth-child(4) a{
        background-image: url('../images/ico_sns_04.png');
    }
    footer > div div:nth-of-type(3) ul li:nth-child(5) a{
        background-image: url('../images/ico_sns_05.png');
    }
    footer > div div:nth-of-type(3) ul li:nth-child(6) a{
        background-image: url('../images/ico_sns_06.png');
    }
    footer > div div:last-of-type{
        clear: left;
    }
    footer > div div:last-of-type a{
        display: inline-block; color: white;
    }
    footer > div div:last-of-type a:not(:first-of-type){
        margin-left: 35px;
    }
    footer > div div:last-of-type p{
        float: right;
    }
}
/* ?mobile */

@media screen and (min-width: 768px) and (max-width: 1279px){
    .mui{
        display: none;
    }

    #about,
    section.expArea,
    section.contactArea,
    footer > div{
        max-width: 728px; margin: 0 auto; padding: 70px 0;
        /* 
            ? width: 80% margin: 0 auto;
            ? width: 100%; padding: 0 3.8%; box-sizing: border-box;
        */
    }
    .btn_more{
        border: 1px solid #00e0d0; color: #00e0d0; text-align: center;
        display: block; font-size: 16px; padding: 15px 1.59%;
    }
    header{
        background: url('../images/bg_01.png') left top / cover no-repeat;
        padding: 15px 0 70px;
    }
    header > div{
        max-width: 728px; margin: 0 auto; position: relative;
    }
    header > div h1{
        max-width: 128px;
    }
    header > div h1 a{
        display: block;
    }
    header > div h1 a img{
        width: 100%;
    }
    header > div nav{
        position: absolute; right: 0; top: 0; width: 100%; padding-left: 130px;
        box-sizing: border-box; text-align: right;
    }
    header > div nav ul li{
        display: inline-block;
    }
    header > div nav ul li:not(:first-child){
        margin-left: 2.65%;
    }
    header > div nav ul li a{
        display: block; line-height: 50px; color: white; font-size: 13px;
        font-weight: 900;
    }
    header > div nav ul li a.active,
    header > div nav ul li a:hover{
        color: #00e0d0;
    }
    /* ? header Nav Fin */

    header > div > ul{
        margin-bottom: 125px;
    }
    header > div > ul li{
        padding-top: 160px; display: block;
    }
    header > div > ul li h2{
        font-size: 32px; color: white; font-weight: 900; text-align: center;
        padding-bottom: 22px; background: url('../images/bd_01.png') no-repeat center bottom;
        margin-bottom: 30px;
    }
    header > div > ul li p{
        font-size: 14px; color: white; font-weight: 300; line-height: 24px;
        max-width: 775px; margin: 0 auto 50px; text-align: center;
    }
    header > div > ul li a.btn_more{
        max-width: 120px; margin: 0 auto;
    }
    header > div > ol{
        text-align: center;
    }
    header > div > ol li{
        display: inline-block;
    }
    header > div > ol li a{
        display: block; text-indent: -9999px; width: 10px; height: 10px;
        border-radius: 5px; border: 1px solid rgba(255,255,255,0.8);
    }
    header > div > ol li a.active,
    header > div > ol li a:hover{
        background-color: #00e0d0; border-color: #00e0d0;
    }
    /* * header Fin */

    footer{
        background: url('../images/bg_05.png') left top / cover no-repeat;
    }
    footer > div div:nth-of-type(1),
    footer > div div:nth-of-type(2){
        width: 47.5%; float: left; margin: 0 0 70px; font-weight: 300;
    }
    footer > div div:nth-of-type(2){
        margin-left: 5%;
    }
    footer > div div h2{
        margin-bottom: 20px;
    }
    footer > div div:first-of-type h2{
        line-height: 0;
    }
    footer > div div:not(:first-of-type) h2{
        line-height: 50px; color: white; font-size: 15px; font-weight: 900;
    }
    footer > div div:not(:nth-of-type(3)){
        font-size: 14px; line-height: 26px; color: white;
    }
    footer > div div:nth-of-type(2) address{
        font-style: normal;
    }
    footer > div div:nth-of-type(2) address span{
        display: block; padding-left: 30px;
        background-repeat: no-repeat; background-position: left 5px;
    }
    footer > div div:nth-of-type(2) address span a{
        display: block; color: white;
    }
    footer > div div:nth-of-type(2) address span:first-of-type{
        background-image: url('../images/bul_map.png'); margin-bottom: 20px;
    }
    footer > div div:nth-of-type(2) address span:last-of-type{
        background-image: url('../images/bul_phone.png');
    }
    footer > div div:nth-of-type(3){
        clear: left;
    }
    footer > div div:nth-of-type(3):after{
        content: ''; display: block; visibility: hidden; clear: both;
    }
    footer > div div:nth-of-type(3) input{
        float: left; margin-bottom: 25px;
    }
    footer > div div:nth-of-type(3) input[type='email']{
        border: 1px solid rgba(255,255,255,0.5); color: rgba(255,255,255,0.75);
        background-color: transparent; width: 35%; display: block; font-size: 14px;
        box-sizing: border-box; line-height: 43px; padding: 0 15px;
    }
    footer > div div:nth-of-type(3) input[type='submit']{
        width: 10%; margin-left: 2%; text-indent: -9999px; border: none; line-height: 43px;
        background: url('../images/btn_send.png') no-repeat center rgba(255,255,255,0.5);
    }
    footer > div div:nth-of-type(3) ul{
        float: left; width: 45%; margin-left: 8%; text-align: center;
    }
    footer > div div:nth-of-type(3) ul li{
        display: inline-block; width: 35px; line-height: 35px;
    }
    footer > div div:nth-of-type(3) ul li:not(:first-child){
        margin-left: 5.8%;
    }
    footer > div div:nth-of-type(3) ul li a{
        display: block; text-indent: -9999px; background-repeat: no-repeat;
        background-size: contain;
    }
    footer > div div:nth-of-type(3) ul li:nth-child(1) a{
        background-image: url('../images/ico_sns_01.png');
    }
    footer > div div:nth-of-type(3) ul li:nth-child(2) a{
        background-image: url('../images/ico_sns_02.png');
    }
    footer > div div:nth-of-type(3) ul li:nth-child(3) a{
        background-image: url('../images/ico_sns_03.png');
    }
    footer > div div:nth-of-type(3) ul li:nth-child(4) a{
        background-image: url('../images/ico_sns_04.png');
    }
    footer > div div:nth-of-type(3) ul li:nth-child(5) a{
        background-image: url('../images/ico_sns_05.png');
    }
    footer > div div:nth-of-type(3) ul li:nth-child(6) a{
        background-image: url('../images/ico_sns_06.png');
    }
    footer > div div:last-of-type{
        clear: left;
    }
    footer > div div:last-of-type a{
        display: inline-block; color: white;
    }
    footer > div div:last-of-type a:not(:first-of-type){
        margin-left: 35px;
    }
    footer > div div:last-of-type p{
        float: right;
    }
}
/* ?tablet */

@media screen and (min-width: 1280px){
    .mui{
        display: none;
    }

    #about,
    section.expArea,
    section.contactArea,
    footer > div{
        max-width: 940px; margin: 0 auto; padding: 70px 0;
    }
    .btn_more{
        border: 1px solid #00e0d0; color: #00e0d0; text-align: center;
        display: block; font-size: 16px; padding: 15px 1.59%;
    }
    header{
        background: url('../images/bg_01.png') left top / cover no-repeat;
        padding: 15px 0 70px;
    }
    header > div{
        max-width: 940px; margin: 0 auto; position: relative;
    }
    header > div h1{
        max-width: 128px;
    }
    header > div h1 a{
        display: block;
    }
    header > div h1 a img{
        width: 100%;
    }
    header > div nav{
        position: absolute; right: 0; top: 0; width: 100%; padding-left: 130px;
        box-sizing: border-box; text-align: right;
    }
    header > div nav ul li{
        display: inline-block;
    }
    header > div nav ul li:not(:first-child){
        margin-left: 2.65%;
    }
    header > div nav ul li a{
        display: block; line-height: 50px; color: white; font-size: 13px;
        font-weight: 900;
    }
    header > div nav ul li a.active,
    header > div nav ul li a:hover{
        color: #00e0d0;
    }
    /* ? header Nav Fin */

    header > div > ul{
        margin-bottom: 125px;
    }
    header > div > ul li{
        padding-top: 160px; display: block;
    }
    header > div > ul li h2{
        font-size: 32px; color: white; font-weight: 900; text-align: center;
        padding-bottom: 22px; background: url('../images/bd_01.png') no-repeat center bottom;
        margin-bottom: 30px;
    }
    header > div > ul li p{
        font-size: 14px; color: white; font-weight: 300; line-height: 24px;
        max-width: 775px; margin: 0 auto 50px; text-align: center;
    }
    header > div > ul li a.btn_more{
        max-width: 120px; margin: 0 auto;
    }
    header > div > ol{
        text-align: center;
    }
    header > div > ol li{
        display: inline-block;
    }
    header > div > ol li a{
        display: block; text-indent: -9999px; width: 10px; height: 10px;
        border-radius: 5px; border: 1px solid rgba(255,255,255,0.8);
    }
    header > div > ol li a.active,
    header > div > ol li a:hover{
        background-color: #00e0d0; border-color: #00e0d0;
    }
    /* * header Fin */

    footer{
        background: url('../images/bg_05.png') left top / cover no-repeat;
    }
    footer > div div:not(:last-of-type){
        width: 32%; float: left; margin: 0 0 70px 2%; font-weight: 300;
    }
    footer > div div:first-of-type{
        margin-left: 0;
    }
    footer > div div h2{
        margin-bottom: 20px;
    }
    footer > div div:first-of-type h2{
        line-height: 0;
    }
    footer > div div:not(:first-of-type) h2{
        line-height: 50px; color: white; font-size: 15px; font-weight: 900;
    }
    footer > div div:not(:nth-of-type(3)){
        font-size: 14px; line-height: 26px; color: white;
    }
    footer > div div:nth-of-type(2) address{
        font-style: normal;
    }
    footer > div div:nth-of-type(2) address span{
        display: block; padding-left: 30px;
        background-repeat: no-repeat; background-position: left 5px;
    }
    footer > div div:nth-of-type(2) address span a{
        display: block; color: white;
    }
    footer > div div:nth-of-type(2) address span:first-of-type{
        background-image: url('../images/bul_map.png'); margin-bottom: 20px;
    }
    footer > div div:nth-of-type(2) address span:last-of-type{
        background-image: url('../images/bul_phone.png');
    }
    footer > div div:nth-of-type(3) input{
        float: left; margin-bottom: 25px;
    }
    footer > div div:nth-of-type(3) input[type='email']{
        border: 1px solid rgba(255,255,255,0.5); color: rgba(255,255,255,0.75);
        background-color: transparent; width: 70%; display: block; font-size: 14px;
        box-sizing: border-box; line-height: 43px; padding: 0 15px;
    }
    footer > div div:nth-of-type(3) input[type='submit']{
        width: 25%; margin-left: 5%; text-indent: -9999px; border: none; line-height: 43px;
        background: url('../images/btn_send.png') no-repeat center rgba(255,255,255,0.5);
    }
    footer > div div:nth-of-type(3) ul{
        clear: left;
    }
    footer > div div:nth-of-type(3) ul li{
        display: inline-block; width: 35px; line-height: 35px;
    }
    footer > div div:nth-of-type(3) ul li:not(:first-child){
        margin-left: 5px;
    }
    footer > div div:nth-of-type(3) ul li a{
        display: block; text-indent: -9999px; background-repeat: no-repeat;
        background-size: contain;
    }
    footer > div div:nth-of-type(3) ul li:nth-child(1) a{
        background-image: url('../images/ico_sns_01.png');
    }
    footer > div div:nth-of-type(3) ul li:nth-child(2) a{
        background-image: url('../images/ico_sns_02.png');
    }
    footer > div div:nth-of-type(3) ul li:nth-child(3) a{
        background-image: url('../images/ico_sns_03.png');
    }
    footer > div div:nth-of-type(3) ul li:nth-child(4) a{
        background-image: url('../images/ico_sns_04.png');
    }
    footer > div div:nth-of-type(3) ul li:nth-child(5) a{
        background-image: url('../images/ico_sns_05.png');
    }
    footer > div div:nth-of-type(3) ul li:nth-child(6) a{
        background-image: url('../images/ico_sns_06.png');
    }
    footer > div div:last-of-type{
        clear: left;
    }
    footer > div div:last-of-type a{
        display: inline-block; color: white;
    }
    footer > div div:last-of-type a:not(:first-of-type){
        margin-left: 35px;
    }
    footer > div div:last-of-type p{
        float: right;
    }
}
/* ?desktop */