header > div nav ul li a,
header > div > ul li p,
footer > div *,
body > figure figcaption p,
section.videoArea h2,
section.expArea ul li > *,
section.teamArea div ul li figure figcaption dl,
section.teamArea div ul + p,
section.worksArea h2 a,
section.talkArea p > *,
section.contactArea form fieldset input:not([type='submit']),
section.contactArea form fieldset textarea{
    font-family: 'Roboto';
}
header > div > ul li h2,
body > figure figcaption h2,
section.expArea h2,
section.teamArea h2,
section.teamArea > p:not(:last-of-type),
section.worksArea h2,
section.talkArea p,
section.contactArea form fieldset legend,
section.contactArea div h3{
    font-family: 'Playfair Display';
}
a{
    text-decoration: none;
}
.btn_more{
    font-weight: 400; font-family: 'Hammersmith One';
}
section[class *= Area] > hr{
    width: 3%; min-width: 50px; border-top: 2px solid rgba(65,61,75, 0.3);
    margin: 0 auto 45px;
}
header > div nav input[type='checkbox']{
    display: none;
}
/* All Using */

@media screen and (max-width: 767px){
    body > figure,
    section.expArea,
    section.teamArea ul,
    section.worksArea h2,
    section.contactArea,
    footer > div
    {
        max-width: 600px; margin: 0 auto;
        padding: 70px 3%;
    }
    .btn_more{
        text-align: center; color: #00e0d0;
        border: 1px solid #00e0d0;
        padding: 15px 0.93%; display: block;
    }
    header{
        padding: 15px 0 70px;
        background: url('../images/bg_01.png') no-repeat left top;
        background-size: cover;
    }
    header > div{
        max-width: 600px; margin: 0 auto;
        padding: 0 3%;
        position: relative;
    }
    header > div h1{
        max-width: 128px; width: 35%; float: left;
    }
    header > div h1 a{
        display: block;
    }
    header > div h1 a img{
        width: 100%;
    }
    header > div nav{
        text-align: right; width: 50%; float: right;
        margin-left: 15%;         
    }
    header > div nav label.mui{
        padding: 3px 3px 0 3px; border: 1px solid white;
        width: 22px; cursor: pointer; display: block;
        margin: 15px 0 15px auto;
    }
    header > div nav label.mui span{
        border-top: 3px solid white;
        display: block; margin-bottom: 3px;
    }
    header > div nav label.mui + input[type='checkbox']#mnav:checked + ul{
        height: 350px;
    }
    header > div nav ul{
        height: 0; overflow: hidden;
        transition: height 1s ease-in;
    }
    header > div nav ul li{
        display: block;
    }
    /* header > div nav ul li:not(:first-child){
        margin-left: 1.56%;
    } */
    header > div nav ul li a{
        font-size: 13px; font-weight: 900; color: white;
        display: block; line-height: 40px;
    }
    header > div nav ul li a.active,
    header > div nav ul li a:hover{
        color: #00e0d0;
    }
    /* header Nav Fin */

    header > div > ul{
        margin-bottom: 125px;
        clear: both;
    }
    header > div > ul li{
        padding-top: 65px; display: block;
    }
    header > div > ul li h2{
        font-size: 32px; color: white; font-weight: 900;
        text-align: center; padding-bottom: 22px;
        background: url('../images/bd_01.png') no-repeat
        center bottom;
        margin-bottom: 30px;
    }
    header > div > ul li p{
        font-size: 14px; color: white; font-weight: 300;
        line-height: 24px; margin-bottom: 50px;
        text-align: center;
    }
    header > div > ul li a.btn_more{
        max-width: 120px; margin: 0 auto;
    }

    header > div > ol{
        text-align: center;
    }
    header > div > ol li{
        display: inline-block;
    }
    header > div > ol li a{
        display: block; text-indent: -9999px;
        width: 10px; height: 10px; border-radius: 5px;
        border: 1px solid rgba(255,255,255, 0.8);
    }
    header > div > ol li a.active,
    header > div > ol li a:hover{
        background-color: #00e0d0; border-color: #00e0d0;
    }
    /* header Fin */

    footer{
        background: url('../images/bg_05.png') no-repeat left top;
        background-size: cover;
    }
    footer > div div:not(:last-of-type){
        margin-bottom: 30px;
    }
    footer > div div > h2{
        margin-bottom: 20px;
    }
    footer > div div:first-of-type h2{
        line-height: 0;
    }
    footer > div div:not(:first-of-type) h2{
        line-height: 50px; font-size: 15px;
        font-weight: 900; color: white;
    }
    footer > div div:not(:nth-of-type(3)){
        font-size: 14px; line-height: 26px;
        color: white;
    }
    footer > div div:nth-of-type(2) address{
        font-style: normal;
    }
    footer > div div:nth-of-type(2) address span{
        display: block; padding-left: 30px;
        background-repeat: no-repeat; background-position: left 5px;
    }
    footer > div div:nth-of-type(2) address span a{
        display: block; color: white;
    }
    footer > div div:nth-of-type(2) address span:first-child{
        background-image: url('../images/bul_map.png');
    }
    footer > div div:nth-of-type(2) address span:last-child{
        background-image: url('../images/bul_phone.png');
    }

    footer > div div:nth-of-type(3) > input{
        float: left; margin-bottom: 25px;
    }
    footer > div div:nth-of-type(3) > input[type='email']{
        font-size: 14px; line-height: 43px;
        color: rgba(255,255,255,0.75);
        background-color: transparent;
        border: 1px solid rgba(255,255,255,0.5);
        width: 75%; padding: 0 15px; box-sizing: border-box;
        font-weight: 300;
    }
    footer > div div:nth-of-type(3) > input[type='submit']{
        width: 23%; margin-left: 2%;
        background: rgba(255,255,255,0.5) url('../images/btn_send.png') no-repeat center;
        text-indent: -9999px; border: none;
        line-height: 43px; 
    }
    footer > div div:nth-of-type(3) > ul li{
        display: inline-block; width: 35px;
        line-height: 35px;
    }
    footer > div div:nth-of-type(3) > ul li:not(:first-child){
        margin-left: 5.8%;
    }
    footer > div div:nth-of-type(3) > ul li a{
        display: block; background-repeat: no-repeat;
        background-size: contain; text-indent: -9999px;
    }
    footer > div div:nth-of-type(3) > ul li:nth-child(1) a{
        background-image: url('../images/ico_sns_01.png');
    }
    footer > div div:nth-of-type(3) > ul li:nth-child(2) a{
        background-image: url('../images/ico_sns_02.png');
    }
    footer > div div:nth-of-type(3) > ul li:nth-child(3) a{
        background-image: url('../images/ico_sns_03.png');
    }
    footer > div div:nth-of-type(3) > ul li:nth-child(4) a{
        background-image: url('../images/ico_sns_04.png');
    }
    footer > div div:nth-of-type(3) > ul li:nth-child(5) a{
        background-image: url('../images/ico_sns_05.png');
    }
    footer > div div:nth-of-type(3) > ul li:nth-child(6) a{
        background-image: url('../images/ico_sns_06.png');
    }

    footer > div div:last-of-type{
        text-align: center;
    }
    footer > div div:last-of-type a{
        color: white; display: inline-block;
    }
    footer > div div:last-of-type a:not(:first-of-type){
        margin-left: 30px;
    }
}
/* ? mobile */

@media screen and (min-width: 768px) and (max-width: 1279px){
    body > figure,
    section.expArea,
    section.teamArea div,
    section.contactArea,
    footer > div
    {
        max-width: 728px; margin: 0 auto;
        padding: 70px 0;
    }
    .btn_more{
        text-align: center; color: #00e0d0;
        border: 1px solid #00e0d0;
        padding: 15px 0.93%; display: block;
    }
    header{
        padding: 15px 0 70px;
        background: url('../images/bg_01.png') no-repeat left top;
        background-size: cover;
    }
    header > div{
        max-width: 728px; margin: 0 auto;
        position: relative;
    }
    header > div h1{
        max-width: 128px;
    }
    header > div h1 a{
        display: block;
    }
    header > div h1 a img{
        width: 100%;
    }
    header > div nav{
        position: absolute; right: 0; top: 0;
        text-align: right; width: 100%;
        padding-left: 130px; box-sizing: border-box;
        line-height: 50px;
    }
    header > div nav ul li{
        display: inline-block;
    }
    header > div nav ul li:not(:first-child){
        margin-left: 1.56%;
    }
    header > div nav ul li a{
        font-size: 13px; font-weight: 900; color: white;
        display: block; line-height: 50px;
    }
    header > div nav ul li a.active,
    header > div nav ul li a:hover{
        color: #00e0d0;
    }
    /* header Nav Fin */

    header > div > ul{
        margin-bottom: 125px;
    }
    header > div > ul li{
        padding-top: 165px; display: block;
    }
    header > div > ul li h2{
        font-size: 32px; color: white; font-weight: 900;
        text-align: center; padding-bottom: 22px;
        background: url('../images/bd_01.png') no-repeat
        center bottom;
        margin-bottom: 30px;
    }
    header > div > ul li p{
        font-size: 14px; color: white; font-weight: 300;
        line-height: 24px; margin-bottom: 50px;
        text-align: center;
    }
    header > div > ul li a.btn_more{
        max-width: 120px; margin: 0 auto;
    }

    header > div > ol{
        text-align: center;
    }
    header > div > ol li{
        display: inline-block;
    }
    header > div > ol li a{
        display: block; text-indent: -9999px;
        width: 10px; height: 10px; border-radius: 5px;
        border: 1px solid rgba(255,255,255, 0.8);
    }
    header > div > ol li a.active,
    header > div > ol li a:hover{
        background-color: #00e0d0; border-color: #00e0d0;
    }
    /* header Fin */

    footer{
        background: url('../images/bg_05.png') no-repeat left top;
        background-size: cover;
    }
    footer > div div:nth-of-type(1),
    footer > div div:nth-of-type(2){
        width: 47.5%; float: left; margin: 0 0 70px /*2%*/;
    }
    footer > div div:nth-of-type(2){
        margin-left: 5%;
    }
    footer > div div > h2{
        margin-bottom: 20px;
    }
    footer > div div:first-of-type h2{
        line-height: 0;
    }
    footer > div div:not(:first-of-type) h2{
        line-height: 50px; font-size: 15px;
        font-weight: 900; color: white;
    }
    footer > div div:not(:nth-of-type(3)){
        font-size: 14px; line-height: 26px;
        color: white;
    }
    footer > div div:nth-of-type(2) address{
        font-style: normal;
    }
    footer > div div:nth-of-type(2) address span{
        display: block; padding-left: 30px;
        background-repeat: no-repeat; background-position: left 5px;
    }
    footer > div div:nth-of-type(2) address span a{
        display: block; color: white;
    }
    footer > div div:nth-of-type(2) address span:first-child{
        background-image: url('../images/bul_map.png');
    }
    footer > div div:nth-of-type(2) address span:last-child{
        background-image: url('../images/bul_phone.png');
    }

    footer > div div:nth-of-type(3) > input{
        float: left; margin-bottom: 25px;
    }
    footer > div div:nth-of-type(3) > input[type='email']{
        font-size: 14px; line-height: 43px;
        color: rgba(255,255,255,0.75);
        background-color: transparent;
        border: 1px solid rgba(255,255,255,0.5);
        width: 35%; padding: 0 15px; box-sizing: border-box;
        font-weight: 300;
    }
    footer > div div:nth-of-type(3) > input[type='submit']{
        width: 10%; margin-left: 2%;
        background: rgba(255,255,255,0.5) url('../images/btn_send.png') no-repeat center;
        text-indent: -9999px; border: none;
        line-height: 43px; 
    }
    footer > div div:nth-of-type(3) > ul{
        float: left; width: 45%; margin-left: 8%;
    }
    footer > div div:nth-of-type(3) > ul li{
        display: inline-block; width: 35px;
        line-height: 35px;
    }
    footer > div div:nth-of-type(3) > ul li:not(:first-child){
        margin-left: 5.8%;
    }
    footer > div div:nth-of-type(3) > ul li a{
        display: block; background-repeat: no-repeat;
        background-size: contain; text-indent: -9999px;
    }
    footer > div div:nth-of-type(3) > ul li:nth-child(1) a{
        background-image: url('../images/ico_sns_01.png');
    }
    footer > div div:nth-of-type(3) > ul li:nth-child(2) a{
        background-image: url('../images/ico_sns_02.png');
    }
    footer > div div:nth-of-type(3) > ul li:nth-child(3) a{
        background-image: url('../images/ico_sns_03.png');
    }
    footer > div div:nth-of-type(3) > ul li:nth-child(4) a{
        background-image: url('../images/ico_sns_04.png');
    }
    footer > div div:nth-of-type(3) > ul li:nth-child(5) a{
        background-image: url('../images/ico_sns_05.png');
    }
    footer > div div:nth-of-type(3) > ul li:nth-child(6) a{
        background-image: url('../images/ico_sns_06.png');
    }

    footer > div div:last-of-type{
        width: 100%; clear: left;
    }
    footer > div div:last-of-type a{
        color: white; display: inline-block;
    }
    footer > div div:last-of-type a:not(:first-of-type){
        margin-left: 30px;
    }
    footer > div div:last-of-type p{
        float: right;
    }
}
/* ? tablet */

@media screen and (min-width: 1280px){
    body > figure,
    section.expArea,
    section.teamArea div,
    section.contactArea,
    footer > div
    {
        max-width: 940px; margin: 0 auto;
        padding: 70px 0;
    }
    .btn_more{
        text-align: center; color: #00e0d0;
        border: 1px solid #00e0d0;
        padding: 15px 0.93%; display: block;
    }
    header{
        padding: 15px 0 70px;
        background: url('../images/bg_01.png') no-repeat left top;
        background-size: cover;
    }
    header > div{
        max-width: 940px; margin: 0 auto;
        position: relative;
    }
    header > div h1{
        max-width: 128px;
    }
    header > div h1 a{
        display: block;
    }
    header > div h1 a img{
        width: 100%;
    }
    header > div nav{
        position: absolute; right: 0; top: 0;
        text-align: right; width: 100%;
        padding-left: 130px; box-sizing: border-box;
        line-height: 50px;
    }
    header > div nav ul li{
        display: inline-block;
    }
    header > div nav ul li:not(:first-child){
        margin-left: 1.56%;
    }
    header > div nav ul li a{
        font-size: 13px; font-weight: 900; color: white;
        display: block; line-height: 50px;
    }
    header > div nav ul li a.active,
    header > div nav ul li a:hover{
        color: #00e0d0;
    }
    /* header Nav Fin */

    header > div > ul{
        margin-bottom: 125px;
    }
    header > div > ul li{
        padding-top: 165px; display: block;
    }
    header > div > ul li h2{
        font-size: 32px; color: white; font-weight: 900;
        text-align: center; padding-bottom: 22px;
        background: url('../images/bd_01.png') no-repeat
        center bottom;
        margin-bottom: 30px;
    }
    header > div > ul li p{
        font-size: 14px; color: white; font-weight: 300;
        line-height: 24px; margin-bottom: 50px;
        text-align: center;
    }
    header > div > ul li a.btn_more{
        max-width: 120px; margin: 0 auto;
    }

    header > div > ol{
        text-align: center;
    }
    header > div > ol li{
        display: inline-block;
    }
    header > div > ol li a{
        display: block; text-indent: -9999px;
        width: 10px; height: 10px; border-radius: 5px;
        border: 1px solid rgba(255,255,255, 0.8);
    }
    header > div > ol li a.active,
    header > div > ol li a:hover{
        background-color: #00e0d0; border-color: #00e0d0;
    }
    /* header Fin */

    footer{
        background: url('../images/bg_05.png') no-repeat left top;
        background-size: cover;
    }
    footer > div div:not(:last-of-type){
        width: 32%; float: left; margin: 0 0 70px 2%;
    }
    footer > div div:first-of-type{
        margin-left: 0;
    }
    footer > div div > h2{
        margin-bottom: 20px;
    }
    footer > div div:first-of-type h2{
        line-height: 0;
    }
    footer > div div:not(:first-of-type) h2{
        line-height: 50px; font-size: 15px;
        font-weight: 900; color: white;
    }
    footer > div div:not(:nth-of-type(3)){
        font-size: 14px; line-height: 26px;
        color: white;
    }
    footer > div div:nth-of-type(2) address{
        font-style: normal;
    }
    footer > div div:nth-of-type(2) address span{
        display: block; padding-left: 30px;
        background-repeat: no-repeat; background-position: left 5px;
    }
    footer > div div:nth-of-type(2) address span a{
        display: block; color: white;
    }
    footer > div div:nth-of-type(2) address span:first-child{
        background-image: url('../images/bul_map.png');
    }
    footer > div div:nth-of-type(2) address span:last-child{
        background-image: url('../images/bul_phone.png');
    }

    footer > div div:nth-of-type(3) > input{
        float: left; margin-bottom: 25px;
    }
    footer > div div:nth-of-type(3) > input[type='email']{
        font-size: 14px; line-height: 43px;
        color: rgba(255,255,255,0.75);
        background-color: transparent;
        border: 1px solid rgba(255,255,255,0.5);
        width: 70%; padding: 0 15px; box-sizing: border-box;
        font-weight: 300;
    }
    footer > div div:nth-of-type(3) > input[type='submit']{
        width: 23%; margin-left: 5%;
        background: rgba(255,255,255,0.5) url('../images/btn_send.png') no-repeat center;
        text-indent: -9999px; border: none;
        line-height: 43px; 
    }
    footer > div div:nth-of-type(3) > ul{
        clear: left;
    }
    footer > div div:nth-of-type(3) > ul li{
        display: inline-block; width: 35px;
        line-height: 35px;
    }
    footer > div div:nth-of-type(3) > ul li a{
        display: block; background-repeat: no-repeat;
        background-size: contain; text-indent: -9999px;
    }
    footer > div div:nth-of-type(3) > ul li:nth-child(1) a{
        background-image: url('../images/ico_sns_01.png');
    }
    footer > div div:nth-of-type(3) > ul li:nth-child(2) a{
        background-image: url('../images/ico_sns_02.png');
    }
    footer > div div:nth-of-type(3) > ul li:nth-child(3) a{
        background-image: url('../images/ico_sns_03.png');
    }
    footer > div div:nth-of-type(3) > ul li:nth-child(4) a{
        background-image: url('../images/ico_sns_04.png');
    }
    footer > div div:nth-of-type(3) > ul li:nth-child(5) a{
        background-image: url('../images/ico_sns_05.png');
    }
    footer > div div:nth-of-type(3) > ul li:nth-child(6) a{
        background-image: url('../images/ico_sns_06.png');
    }

    footer > div div:last-of-type{
        width: 100%; clear: left;
    }
    footer > div div:last-of-type a{
        color: white; display: inline-block;
    }
    footer > div div:last-of-type a:not(:first-of-type){
        margin-left: 30px;
    }
    footer > div div:last-of-type p{
        float: right;
    }
}
/* ? desktop */