
@media screen and (min-width: 768px) and (max-width: 1279px) {
    #about{
        padding-left: /*4%*/ 3.5%; box-sizing: border-box;
    }
    #about:after{
        content: ''; display: block; clear: both;
    }
    #about img{
        float: left; width: /*25%*/ 32%; max-width: 235px;
    }
    #about figcaption{
        float: left; margin-left: /*10%*/8%; width: /*65%*/60%;
    }
    #about figcaption > *:not(a){
        margin-bottom: 30px;
    }
    #about figcaption h2{
        font-size: 22px; font-weight: 700; color: #413d4b;
    }
    #about figcaption p{
        font-size: 12px; font-weight: 300; color: rgba(65,61,75,0.75); line-height: 22px;
    }
    #about figcaption a.btn_more{
        max-width: 120px;
    }
    /* ? CI figure Fin */

    section.videoArea{
        background: url('../images/bg_02.png') left top / cover no-repeat;
        padding: 200px 0;
    }
    section.videoArea a{
        display: block; width: 100px; padding: 20px 0 30px 5px; border-radius: 55px;
        color: white; text-align: center; font-size: 45px; box-sizing: border-box;
        border: 3px solid white; margin: 0 auto 30px;
    }
    section.videoArea h2{
        font-size: 16px; color: white; text-align: center; font-weight: 900;
    }
    /* ? video Fin */
    section.expArea{
        text-align: center;
    }
    section.expArea h2{
        font-size: 22px; font-weight: 700; color: #413d4b; margin-bottom: 10px;
    }
    section.expArea > p{
        font-size: 14px; font-weight: 400; color: rgba(47,45,53,0.75); margin-bottom: 15px;
    }
    section.expArea > hr{
        border-color: rgba(65,61,75,0.3);
    }
    section.expArea ul:after{
        content: ''; display: block; clear: both;
    }
    section.expArea ul li{
        width: 33.33%; float: left; display: block; padding: 120px 3.5% 40px;
        box-sizing: border-box; background-repeat: no-repeat;
        background-position: center 30px;
    }
    /* width,padding, background-position */
    section.expArea ul li:not(:nth-child(n):nth-child(-n+3)){
        border-top: 1px solid rgba(0,0,0,0.2);
    }
    section.expArea ul li:not(:nth-child(3n)){
        border-right: 1px solid rgba(0,0,0,0.2);
    }
    section.expArea ul li:nth-child(1){background-image: url('../images/ico_01.png');}
    section.expArea ul li:nth-child(2){background-image: url('../images/ico_02.png');}
    section.expArea ul li:nth-child(3){background-image: url('../images/ico_03.png');}
    section.expArea ul li:nth-child(4){background-image: url('../images/ico_04.png');}
    section.expArea ul li:nth-child(5){background-image: url('../images/ico_05.png');}
    section.expArea ul li:nth-child(6){background-image: url('../images/ico_06.png');}
    section.expArea ul li h3{
        font-size: 12px; font-weight: 900; color: #413d4b; margin-bottom: 20px;
    }
    /* margin-bottom */
    section.expArea ul li p{
        font-size: 14px; line-height: 22px; font-weight: 300; color: rgba(51,51,51,0.75);
    }
    /* font-size, line-height */
    /* ? expArea Fin */

    section.teamArea{
        background: url('../images/bg_03.png') left top / cover no-repeat; text-align: center;
        color: white; padding: 70px 0;
    }
    section.teamArea h2{
        font-size: 22px; font-weight: 700; margin-bottom: 10px;
    }
    section.teamArea p{
        font-size: 14px;
    }
    section.teamArea p:first-of-type{
        font-weight: 400; margin-bottom: 15px;
    }
    section.teamArea hr{
        border-color: rgba(255,255,255,0.2); max-width: 50px;
    }
    section.teamArea ul{
        max-width: /*940px*/ 728px; margin: 0 auto 65px;
    }
    section.teamArea ul:after{
        content: ''; display: block; clear: both;
    }
    section.teamArea ul li{
        width: 23.5%; float: left; display: block;
    }
    section.teamArea ul li:not(:first-child){
        margin-left: 2%;
    }
    section.teamArea ul li figure{
        background: url('https://via.placeholder.com/220x230') center top / contain no-repeat;
        padding-top: /*230px*/180px;
    }
    section.teamArea ul li figure figcaption{
        border: 1px solid rgba(255,255,255,0.5); padding: 20px 0;
    }
    section.teamArea ul li figure figcaption dl dt{
        font-size: 14px; font-weight: 900; margin-bottom: 10px;
    }
    section.teamArea ul li figure figcaption dl dd{
        font-size: 13px; font-weight: 300; opacity: 0.7;
    }
    section.teamArea ul+p{
        font-weight: 300; margin-bottom: 25px;
    }
    section.teamArea a.btn_more{
        max-width: 140px; margin: 0 auto;
    }
    /* ? teamArea Fin */
    section.worksArea{
        padding: 70px 0;
    }
    section.worksArea h2{
        max-width: /*940px*/ 728px; margin: 0 auto 70px; position: relative;
        font-size: 22px; font-weight: 700; color: #413d4b;
    }
    section.worksArea h2 a{
        position: absolute; right: 0; top: 0; font-size: 14px; font-weight: 300;
        color: inherit; line-height: 22px;
        /* width: 20%; display: block; margin-left: auto; */
        /* float: right; line-height: 22px; */
    }
    section.worksArea ul{
        list-style: none; margin-bottom: 70px;
    }
    section.worksArea ul:after{
        content: ''; display: block; clear: both;
    }
    section.worksArea ul li{
        width: 16.66%; float: left;
    }
    section.worksArea ul li a{
        display: block;
    }
    section.worksArea ul li a img{
        width: 100%; display: block;
    }
    section.worksArea a.btn_more{
        max-width: 140px; margin: 0 auto;
    }
    /* ? worksArea Fin */
    section.talkArea{
        background: url('../images/bg_04.png') left top / cover no-repeat; padding: 70px 0;
        text-align: center;
    }
    section.talkArea h2{
        display: none;
    }
    section.talkArea p{
        max-width: 770px; margin: 0 auto 45px; color: white; padding-top: 70px;
        background: url('../images/quote.png') no-repeat center top;
        font-size: 16px; line-height: 26px; font-weight: 400;
    }
    section.talkArea p > *{
        display: block;
    }
    section.talkArea p strong{
        margin: 40px 0 5px; font-size: 14px; font-weight: 900; line-height: 14px;
    }
    section.talkArea p span{
        font-size: 13px; font-weight: 300; color: rgba(255,255,255,0.7);
    }
    section.talkArea div{
        max-width: 940px; margin: 0 auto;
    }
    section.talkArea div > *{
        display: inline-block; vertical-align: middle;
    }
    section.talkArea div > a{
        font-size: 22px; color: rgba(255,255,255,0.5);  
    }
    section.talkArea div ul{
        max-width: 310px; width: /*33%*/41%;
    }
    section.talkArea div ul li{
        float: left; display: block; width: 19%;
    }
    section.talkArea div ul li:not(:first-child){
        margin-left: 1.25%;
    }
    section.talkArea div ul li a{
        display: block; text-align: center;
    }
    section.talkArea div ul li:not(.active) a{
        padding: 15px 0; transition: padding 0.35s ease-in-out;
    }
    section.talkArea div ul li.active a
    /* ,section.talkArea div ul li:not(.active):hover a */{
        padding: 0;
    }
    section.talkArea div ul li:not(.active) a img{
        width: 65%; transition: width 0.35s ease-in-out;
    }
    section.talkArea div ul li.active a img
    /*,section.talkArea div ul li:not(.active):hover a img*/{
        width: 100%;
    }
    /* ? talkArea Fin */
    section.contactArea:after{
        content: ''; display: block; clear: both;
    }
    section.contactArea h2{
        display: none;
    }
    section.contactArea form fieldset,
    section.contactArea div{
        float: left;
    }
    section.contactArea form fieldset legend,
    section.contactArea div h3{
        font-size: 22px; font-weight: 700; color: #413d4b; margin-bottom: 35px;
    }
    section.contactArea form fieldset{
        width: 50%;
    }
    section.contactArea form fieldset > *:not([type='submit'],legend){
        border: 1px solid rgba(0,0,0,0.1); padding: 14px 20px; font-size: 14px;
        font-weight: 300; display: block; box-sizing: border-box; margin-bottom: 20px;
        width: 100%;
    }
    section.contactArea form fieldset > *:not([type='submit'],legend)::placeholder{
        color: rgba(65,61,75,0.5);
    }
    section.contactArea form fieldset textarea{
        height: 200px; resize: none;
    }
    section.contactArea form fieldset .btn_more{
        background-color: transparent; cursor: pointer; min-width: 120px;
    }

    section.contactArea div{
        width: 40%; margin-left: 10%;
    }
    section.contactArea div ul:after{
        content: ''; display: block; clear: both;
    }
    section.contactArea div ul li{
        width: 50%; float: left; display: block;
    }
    section.contactArea div ul li a{
        display: block; text-align: center;
    }
    section.contactArea div ul li a img{
        width: 100%; max-width: 162px;
    }
    /* ?contactArea Fin */
}
/* ?tablet */

@media screen and (min-width: 1280px) {
    #about{
        padding-left: 4%;
    }
    #about:after{
        content: ''; display: block; clear: both;
    }
    #about img{
        float: left; width: 25%; max-width: 235px;
    }
    #about figcaption{
        float: left; margin-left: 10%; width: 65%;
    }
    #about figcaption > *:not(a){
        margin-bottom: 30px;
    }
    #about figcaption h2{
        font-size: 22px; font-weight: 700; color: #413d4b;
    }
    #about figcaption p{
        font-size: 14px; font-weight: 300; color: rgba(65,61,75,0.75); line-height: 22px;
    }
    #about figcaption a.btn_more{
        max-width: 120px;
    }
    /* ? CI figure Fin */

    section.videoArea{
        background: url('../images/bg_02.png') left top / cover no-repeat;
        padding: 200px 0;
    }
    section.videoArea a{
        display: block; width: 100px; padding: 20px 0 30px 5px; border-radius: 55px;
        color: white; text-align: center; font-size: 45px; box-sizing: border-box;
        border: 3px solid white; margin: 0 auto 30px;
    }
    section.videoArea h2{
        font-size: 16px; color: white; text-align: center; font-weight: 900;
    }
    /* ? video Fin */
    section.expArea{
        text-align: center;
    }
    section.expArea h2{
        font-size: 22px; font-weight: 700; color: #413d4b; margin-bottom: 10px;
    }
    section.expArea > p{
        font-size: 14px; font-weight: 400; color: rgba(47,45,53,0.75); margin-bottom: 15px;
    }
    section.expArea > hr{
        border-color: rgba(65,61,75,0.3);
    }
    section.expArea ul:after{
        content: ''; display: block; clear: both;
    }
    section.expArea ul li{
        width: 33.33%; float: left; display: block; padding: 120px 3.5% 40px;
        box-sizing: border-box; background-repeat: no-repeat;
        background-position: center 30px;
    }
    section.expArea ul li:not(:nth-child(n):nth-child(-n+3)){
        border-top: 1px solid rgba(0,0,0,0.2);
    }
    section.expArea ul li:not(:nth-child(3n)){
        border-right: 1px solid rgba(0,0,0,0.2);
    }
    section.expArea ul li:nth-child(1){background-image: url('../images/ico_01.png');}
    section.expArea ul li:nth-child(2){background-image: url('../images/ico_02.png');}
    section.expArea ul li:nth-child(3){background-image: url('../images/ico_03.png');}
    section.expArea ul li:nth-child(4){background-image: url('../images/ico_04.png');}
    section.expArea ul li:nth-child(5){background-image: url('../images/ico_05.png');}
    section.expArea ul li:nth-child(6){background-image: url('../images/ico_06.png');}
    section.expArea ul li h3{
        font-size: 14px; font-weight: 900; color: #413d4b; margin-bottom: 20px;
    }
    section.expArea ul li p{
        font-size: 14px; line-height: 22px; font-weight: 300; color: rgba(51,51,51,0.75);
    }
    /* ? expArea Fin */

    section.teamArea{
        background: url('../images/bg_03.png') left top / cover no-repeat; text-align: center;
        color: white; padding: 70px 0;
    }
    section.teamArea h2{
        font-size: 22px; font-weight: 700; margin-bottom: 10px;
    }
    section.teamArea p{
        font-size: 14px;
    }
    section.teamArea p:first-of-type{
        font-weight: 400; margin-bottom: 15px;
    }
    section.teamArea hr{
        border-color: rgba(255,255,255,0.2); max-width: 50px;
    }
    section.teamArea ul{
        max-width: 940px; margin: 0 auto 65px;
    }
    section.teamArea ul:after{
        content: ''; display: block; clear: both;
    }
    section.teamArea ul li{
        width: 23.5%; float: left; display: block;
    }
    section.teamArea ul li:not(:first-child){
        margin-left: 2%;
    }
    section.teamArea ul li figure{
        background: url('https://via.placeholder.com/220x230') center top / contain no-repeat;
        padding-top: 230px;
    }
    section.teamArea ul li figure figcaption{
        border: 1px solid rgba(255,255,255,0.5); padding: 20px 0;
    }
    section.teamArea ul li figure figcaption dl dt{
        font-size: 14px; font-weight: 900; margin-bottom: 10px;
    }
    section.teamArea ul li figure figcaption dl dd{
        font-size: 13px; font-weight: 300; opacity: 0.7;
    }
    section.teamArea ul+p{
        font-weight: 300; margin-bottom: 25px;
    }
    section.teamArea a.btn_more{
        max-width: 140px; margin: 0 auto;
    }
    /* ? teamArea Fin */
    section.worksArea{
        padding: 70px 0;
    }
    section.worksArea h2{
        max-width: 940px; margin: 0 auto 70px; position: relative;
        font-size: 22px; font-weight: 700; color: #413d4b;
    }
    section.worksArea h2 a{
        position: absolute; right: 0; top: 0; font-size: 14px; font-weight: 300;
        color: inherit; line-height: 22px;
        /* width: 20%; display: block; margin-left: auto; */
        /* float: right; line-height: 22px; */
    }
    section.worksArea ul{
        list-style: none; margin-bottom: 70px;
    }
    section.worksArea ul:after{
        content: ''; display: block; clear: both;
    }
    section.worksArea ul li{
        width: 16.66%; float: left;
    }
    section.worksArea ul li a{
        display: block;
    }
    section.worksArea ul li a img{
        width: 100%; display: block;
    }
    section.worksArea a.btn_more{
        max-width: 140px; margin: 0 auto;
    }
    /* ? worksArea Fin */
    section.talkArea{
        background: url('../images/bg_04.png') left top / cover no-repeat; padding: 70px 0;
        text-align: center;
    }
    section.talkArea h2{
        display: none;
    }
    section.talkArea p{
        max-width: 770px; margin: 0 auto 45px; color: white; padding-top: 70px;
        background: url('../images/quote.png') no-repeat center top;
        font-size: 16px; line-height: 26px; font-weight: 400;
    }
    section.talkArea p > *{
        display: block;
    }
    section.talkArea p strong{
        margin: 40px 0 5px; font-size: 14px; font-weight: 900; line-height: 14px;
    }
    section.talkArea p span{
        font-size: 13px; font-weight: 300; color: rgba(255,255,255,0.7);
    }
    section.talkArea div{
        max-width: 940px; margin: 0 auto;
    }
    section.talkArea div > *{
        display: inline-block; vertical-align: middle;
    }
    section.talkArea div > a{
        font-size: 22px; color: rgba(255,255,255,0.5);  
    }
    section.talkArea div ul{
        max-width: 310px; width: 33%;
    }
    section.talkArea div ul li{
        float: left; display: block; width: 19%;
    }
    section.talkArea div ul li:not(:first-child){
        margin-left: 1.25%;
    }
    section.talkArea div ul li a{
        display: block; text-align: center;
    }
    section.talkArea div ul li:not(.active) a{
        padding: 15px 0; transition: padding 0.35s ease-in-out;
    }
    section.talkArea div ul li.active a,
    section.talkArea div ul li:not(.active):hover a{
        padding: 0;
    }
    section.talkArea div ul li:not(.active) a img{
        width: 65%; transition: width 0.35s ease-in-out;
    }
    section.talkArea div ul li.active a img,
    section.talkArea div ul li:not(.active):hover a img{
        width: 100%;
    }
    /* ? talkArea Fin */
    section.contactArea:after{
        content: ''; display: block; clear: both;
    }
    section.contactArea h2{
        display: none;
    }
    section.contactArea form fieldset,
    section.contactArea div{
        float: left;
    }
    section.contactArea form fieldset legend,
    section.contactArea div h3{
        font-size: 22px; font-weight: 700; color: #413d4b; margin-bottom: 35px;
    }
    section.contactArea form fieldset{
        width: 50%;
    }
    section.contactArea form fieldset > *:not([type='submit'],legend){
        border: 1px solid rgba(0,0,0,0.1); padding: 14px 20px; font-size: 14px;
        font-weight: 300; display: block; box-sizing: border-box; margin-bottom: 20px;
        width: 100%;
    }
    section.contactArea form fieldset > *:not([type='submit'],legend)::placeholder{
        color: rgba(65,61,75,0.5);
    }
    section.contactArea form fieldset textarea{
        height: 200px; resize: none;
    }
    section.contactArea form fieldset .btn_more{
        background-color: transparent; cursor: pointer; min-width: 120px;
    }

    section.contactArea div{
        width: 40%; margin-left: 10%;
    }
    section.contactArea div ul:after{
        content: ''; display: block; clear: both;
    }
    section.contactArea div ul li{
        width: 50%; float: left; display: block;
    }
    section.contactArea div ul li a{
        display: block; text-align: center;
    }
    section.contactArea div ul li a img{
        width: 100%; max-width: 162px;
    }
    /* ?contactArea Fin */
}
/* ?desktop */