
@media screen and (max-width:767px){
    body > figure:after{
        content:''; display: block; visibility: hidden; clear: both;
    }
    body > figure img{
        float: left; width: 30%; margin-right: 5%;
        margin-bottom: 20px;
    }
    body > figure figcaption{
        display: block; 
    }
    body > figure figcaption > *:not(a){
        margin-bottom: 30px;
    }
    body > figure figcaption h2{
        font-size: 22px; font-weight: 900;
    }
    body > figure figcaption p{
        font-size: 14px; line-height: 22px; font-weight: 300;
    }
    body > figure figcaption a.btn_more{
        margin:0 auto;
    }
    /* * CI Fin */

    section.videoArea{
        background: url("../images/bg_02.png") no-repeat left top;
        background-size: cover; padding: 200px 0;
    }
    section.videoArea a{
        width: 45px; display: block; border: 3px solid white;
        color: white; font-size: 45px; text-align: center;
        margin:0 auto 35px auto;
        padding: 18px 18px 25px 25px; border-radius: 47px;
    }
    section.videoArea h2{
        text-align: center; font-size: 16px; font-weight: 900;
        color: white;
    }
    /* * videoArea Fin */

    section.expArea > *{
        text-align: center;
    }
    section.expArea h2{
        font-size: 22px; font-weight: 900; color: #413d4b;
        margin-bottom: 10px;
    }
    section.expArea p{
        font-size: 14px; color: #2f2d35; font-weight: 400;
        margin-bottom: 10px;
    }
    section.expArea ul li{
        display:block; box-sizing: border-box;
        padding: 120px 30px 40px 30px;
        background-repeat: no-repeat; background-position: center 30px;
        border-bottom: 1px solid #ebebeb;
    }
    section.expArea ul li > *{
        font-size: 14px;
    }
    section.expArea ul li h3{
        font-weight: 900; margin-bottom: 20px;
    }
    section.expArea ul li p{
        font-weight: 300; line-height: 22px;
    }
    section.expArea ul li:nth-child(1){
        background-image: url("../images/ico_01.png");
    }
    section.expArea ul li:nth-child(2){
        background-image: url("../images/ico_02.png");
    }
    section.expArea ul li:nth-child(3){
        background-image: url("../images/ico_03.png");
    }
    section.expArea ul li:nth-child(4){
        background-image: url("../images/ico_04.png");
    }
    section.expArea ul li:nth-child(5){
        background-image: url("../images/ico_05.png");
    }
    section.expArea ul li:nth-child(6){
        background-image: url("../images/ico_06.png");
    }
    /* expArea Fin */

    section.teamArea{
        background: url("../images/bg_03.png") no-repeat left top;
        background-size: cover;
    }
    section.teamArea h2,
    section.teamArea p{
        text-align: center; color: white;
    }
    section.teamArea h2{
        font-size: 22px; margin-bottom: 10px; font-weight: 900;
        padding-top: 70px;
    }
    section.teamArea > p{
        font-size: 14px; line-height: 21px; margin-bottom: 10px;
    }
    section.teamArea div ul{
        margin-bottom: 70px;
    }
    section.teamArea div ul li{
        display: block; margin-bottom: 20px;
    }
    section.teamArea div ul li figure{
        background: url("https://via.placeholder.com/220x230") no-repeat left top;
        background-size: cover;
        padding-top: 230px;
    }
    section.teamArea div ul li figure figcaption{
        border: 1px solid rgba(255,255,255,0.5);
        padding: 20px 0;
        background-color: rgba(0,0,0,0.5);
    }
    section.teamArea div ul li figure figcaption dl > *{
        color: white; text-align: center;
    }
    section.teamArea div ul li figure figcaption dl dt{
        font-size: 14px; font-weight: 900; margin-bottom: 10px; 
    }
    section.teamArea div ul li figure figcaption dl dd{
        font-size: 13px; font-weight: 300;
    }
    section.teamArea div ul + p{
        margin-bottom: 25px; text-align: center; color: white;
    }
    section.teamArea div a.btn_more{
        margin: 0 auto;
    }
    /* teamArea Fin */

    section.worksArea{
        padding-bottom: 70px;
    }
    section.worksArea h2{
        font-size: 22px; font-weight: 900; position: relative;
        color: #413d4b;
    }
    section.worksArea h2 a{
        font-size: 14px; font-weight: 300; color: #413d4b;
        position: absolute; right:0; top: 70px;
    }
    section.worksArea ul{
        margin-bottom: 70px;
    }
    section.worksArea ul li{
        display: block;
        line-height: 0;
        margin-bottom: 10px;
    }
    section.worksArea ul li img{
        width: 100%;
    }
    section.worksArea a.btn_more{
        margin: 0 auto;
    }
    /* worksArea Fin */
    
    .talkArea{
        background: url("../images/bg_04.png") no-repeat left top;
        background-size: cover; padding: 70px 0; text-align: center;
    }
    .talkArea p{
        margin: 0 auto 45px auto; padding: 70px 3% 0 3%;
        background: url("../images/quote.png") no-repeat center top;
        color: white; font-size: 16px; line-height: 26px;
        box-sizing: border-box;
    }
    .talkArea p > *{
        display: block;
    }
    .talkArea p strong{
        margin: 50px 0 10px 0; font-weight: 900; font-size: 14px;
        line-height: 22px;
    }
    .talkArea p span{
        font-weight: 300; font-size: 13px; line-height: 22px;
    }
    .talkArea div{
        margin:0 auto;
    }
    .talkArea div *:not(img){
        display: inline-block;
    }
    .talkArea div a{
        font-size: 45px; color: white; vertical-align: middle;
    }
    .talkArea div > a{
        display: none;
    }
    .talkArea div ul{
        vertical-align: middle; margin: 0 30px;
    }
    .talkArea div ul li{
        margin-left: 1%; width: 15%;
    }
    .talkArea div ul li:first-child{
        margin-left: 0;
    }
    .talkArea div ul li a img{
        width: 100%;
    }
    /* talkArea Fin */

    section.contactArea h2{
        display: none;
    }
    section.contactArea form fieldset,
    section.contactArea div{
        display: block; 
    }
    section.contactArea form fieldset{
        margin-bottom: 25px;
    }
    section.contactArea form fieldset legend,
    section.contactArea div h3{
        font-size: 22px; color: #413d4b; font-weight: 700;
        margin-bottom: 30px; text-align: center;
    }
    section.contactArea form fieldset *:not(legend){
        margin-bottom: 25px;
        box-sizing: border-box;
    }
    section.contactArea form fieldset input:not([type='submit']),
    section.contactArea form fieldset textarea{
        border: 1px solid #e5e5e5; width: 100%;
        padding: 15px 20px;
    }
    section.contactArea form fieldset textarea{
        height: 200px; resize: none;
    }
    section.contactArea form fieldset input[type='submit'].btn_more{
        background-color: transparent; margin:0 auto;
    }
    /* contactArea Left Fin */
    
    section.contactArea div ul:after{
        content:''; display: block; visibility: hidden; clear: both;
    }
    section.contactArea div ul li{
        width: 50%; float: left; margin-bottom: 15px;
    }
    section.contactArea div ul li a{
        display: block; text-align: center;
    }
    section.contactArea div ul li a img{
        width: 100%; max-width: 162px;
    }
    
}
@media screen and (min-width:768px) and (max-width:1024px){
    body > figure:after{
        content:''; display: block; visibility: hidden; clear: both;
    }
    body > figure img{
        float: left; width: 30%;
    }
    body > figure figcaption{
        margin-left: 3.33%; display: block; width: 66.66%;
        float: left;
    }
    body > figure figcaption > *:not(a){
        margin-bottom: 30px;
    }
    body > figure figcaption h2{
        font-size: 22px; font-weight: 900;
    }
    body > figure figcaption p{
        font-size: 14px; line-height: 22px; font-weight: 300;
    }
    /* * CI Fin */

    section.videoArea{
        background: url("../images/bg_02.png") no-repeat left top;
        background-size: cover; padding: 200px 0;
    }
    section.videoArea a{
        width: 45px; display: block; border: 3px solid white;
        color: white; font-size: 45px; text-align: center;
        margin:0 auto 35px auto;
        padding: 18px 18px 25px 25px; border-radius: 47px;
    }
    section.videoArea h2{
        text-align: center; font-size: 16px; font-weight: 900;
        color: white;
    }
    /* * videoArea Fin */

    section.expArea > *{
        text-align: center;
    }
    section.expArea h2{
        font-size: 22px; font-weight: 900; color: #413d4b;
        margin-bottom: 10px;
    }
    section.expArea p{
        font-size: 14px; color: #2f2d35; font-weight: 400;
        margin-bottom: 10px;
    }
    section.expArea ul li{
        display:block; box-sizing: border-box;
        padding: 120px 30px 40px 30px;
        background-repeat: no-repeat; background-position: center 30px;
        border-bottom: 1px solid #ebebeb;
    }
    section.expArea ul li > *{
        font-size: 14px;
    }
    section.expArea ul li h3{
        font-weight: 900; margin-bottom: 20px;
    }
    section.expArea ul li p{
        font-weight: 300; line-height: 22px;
    }
    section.expArea ul li:nth-child(1){
        background-image: url("../images/ico_01.png");
    }
    section.expArea ul li:nth-child(2){
        background-image: url("../images/ico_02.png");
    }
    section.expArea ul li:nth-child(3){
        background-image: url("../images/ico_03.png");
    }
    section.expArea ul li:nth-child(4){
        background-image: url("../images/ico_04.png");
    }
    section.expArea ul li:nth-child(5){
        background-image: url("../images/ico_05.png");
    }
    section.expArea ul li:nth-child(6){
        background-image: url("../images/ico_06.png");
    }
    /* expArea Fin */

    section.teamArea{
        background: url("../images/bg_03.png") no-repeat left top;
        background-size: cover;
    }
    section.teamArea h2,
    section.teamArea p{
        text-align: center; color: white;
    }
    section.teamArea h2{
        font-size: 22px; margin-bottom: 10px; font-weight: 900;
        padding-top: 70px;
    }
    section.teamArea > p{
        font-size: 14px; line-height: 21px; margin-bottom: 10px;
    }
    section.teamArea div ul{
        margin-bottom: 70px;
    }
    section.teamArea div ul:after{
        content:''; display: block; visibility: hidden; clear: both;
    }
    section.teamArea div ul li{
        display: block; width: 45%; margin-left: 10%;
        float: left;
    }
    section.teamArea div ul li:nth-child(odd){
        margin-left: 0;
    }
    section.teamArea div ul li figure{
        background: url("https://via.placeholder.com/220x230") no-repeat left top;
        background-size: cover;
        padding-top: 230px;
    }
    section.teamArea div ul li figure figcaption{
        border: 1px solid rgba(255,255,255,0.5);
        padding: 20px 0;
        background-color: rgba(0,0,0,0.5);
    }
    section.teamArea div ul li figure figcaption dl > *{
        color: white; text-align: center;
    }
    section.teamArea div ul li figure figcaption dl dt{
        font-size: 14px; font-weight: 900; margin-bottom: 10px; 
    }
    section.teamArea div ul li figure figcaption dl dd{
        font-size: 13px; font-weight: 300;
    }
    section.teamArea div ul + p{
        margin-bottom: 25px; text-align: center; color: white;
    }
    section.teamArea div a.btn_more{
        margin: 0 auto;
    }
    /* teamArea Fin */

    section.worksArea{
        padding-bottom: 70px;
    }
    section.worksArea h2{
        font-size: 22px; font-weight: 900; position: relative;
        color: #413d4b;
    }
    section.worksArea h2 a{
        font-size: 14px; font-weight: 300; color: #413d4b;
        position: absolute; right:0; top: 70px;
    }
    section.worksArea ul{
        margin-bottom: 70px;
    }
    section.worksArea ul:after{
        content: ''; display: block; visibility: hidden; clear: both;
    }
    section.worksArea ul li{
        float: left; display: block; width: 16.66%;
        line-height: 0;
    }
    section.worksArea ul li img{
        width: 100%;
    }
    section.worksArea a.btn_more{
        margin: 0 auto;
    }
    /* worksArea Fin */
    
    .talkArea{
        background: url("../images/bg_04.png") no-repeat left top;
        background-size: cover; padding: 70px 0; text-align: center;
    }
    .talkArea p{
        margin: 0 auto 45px auto; padding: 70px 3% 0 3%;
        background: url("../images/quote.png") no-repeat center top;
        color: white; font-size: 16px; line-height: 26px;
        box-sizing: border-box;
    }
    .talkArea p > *{
        display: block;
    }
    .talkArea p strong{
        margin: 50px 0 10px 0; font-weight: 900; font-size: 14px;
        line-height: 22px;
    }
    .talkArea p span{
        font-weight: 300; font-size: 13px; line-height: 22px;
    }
    .talkArea div{
        margin:0 auto;
    }
    .talkArea div *:not(img){
        display: inline-block;
    }
    .talkArea div a{
        font-size: 45px; color: white; vertical-align: middle;
    }
    .talkArea div ul{
        vertical-align: middle; margin: 0 30px;
    }
    .talkArea div ul li{
        margin-left: 10px;
    }
    .talkArea div ul li:first-child{
        margin-left: 0;
    }
    /* talkArea Fin */

    section.contactArea:after{
        content:''; display: block; visibility: hidden; clear: both;
    }
    section.contactArea h2{
        display: none;
    }
    section.contactArea form fieldset,
    section.contactArea div{
        float: left; width: 45%; display: block;
    }
    section.contactArea form fieldset{
        margin-right: 10%;
    }
    section.contactArea form fieldset legend,
    section.contactArea div h3{
        font-size: 22px; color: #413d4b; font-weight: 700;
        margin-bottom: 30px;
    }
    section.contactArea form fieldset *:not(legend){
        margin-bottom: 25px;
        box-sizing: border-box;
    }
    section.contactArea form fieldset input:not([type='submit']),
    section.contactArea form fieldset textarea{
        border: 1px solid #e5e5e5; width: 100%;
        padding: 15px 20px;
    }
    section.contactArea form fieldset textarea{
        height: 200px; resize: none;
    }
    section.contactArea form fieldset input[type='submit'].btn_more{
        background-color: transparent;
    }
    /* contactArea Left Fin */
    
    section.contactArea div ul li{
        width: 50%; float: left; margin-bottom: 15px;
    }
    section.contactArea div ul li a{
        display: block; text-align: center;
    }
    section.contactArea div ul li a img{
        width: 100%; max-width: 162px;
    }
    
}
@media screen and (min-width:1025px){
    body > figure:after{
        content:''; display: block; visibility: hidden; clear: both;
    }
    body > figure img{
        float: left;
    }
    body > figure figcaption{
        margin-left: 330px; display: block; width: 540px;
    }
    body > figure figcaption > *:not(a){
        margin-bottom: 30px;
    }
    body > figure figcaption h2{
        font-size: 22px; font-weight: 900;
    }
    body > figure figcaption p{
        font-size: 14px; line-height: 22px; font-weight: 300;
    }
    /* * CI Fin */

    section.videoArea{
        background: url("../images/bg_02.png") no-repeat left top;
        background-size: cover; padding: 200px 0;
    }
    section.videoArea a{
        width: 45px; display: block; border: 3px solid white;
        color: white; font-size: 45px; text-align: center;
        margin:0 auto 35px auto;
        padding: 18px 18px 25px 25px; border-radius: 47px;
    }
    section.videoArea h2{
        text-align: center; font-size: 16px; font-weight: 900;
        color: white;
    }
    /* * videoArea Fin */

    section.expArea > *{
        text-align: center;
    }
    section.expArea h2{
        font-size: 22px; font-weight: 900; color: #413d4b;
        margin-bottom: 10px;
    }
    section.expArea p{
        font-size: 14px; color: #2f2d35; font-weight: 400;
        margin-bottom: 10px;
    }
    section.expArea ul:after{
        content:''; display:block; visibility: hidden; clear: both;
    }
    section.expArea ul li{
        float: left; width: 310px; box-sizing: border-box;
        padding: 120px 30px 40px 30px;
        background-repeat: no-repeat; background-position: center 30px;
    }
    section.expArea ul li > *{
        font-size: 14px;
    }
    section.expArea ul li h3{
        font-weight: 900; margin-bottom: 20px;
    }
    section.expArea ul li p{
        font-weight: 300; line-height: 22px;
    }
    section.expArea ul li:nth-child(1n):nth-child(-n+3){
        border-bottom: 1px solid #ebebeb;
    }
    section.expArea ul li:nth-child(3n+2){
        border-left:1px solid #ebebeb;
        border-right:1px solid #ebebeb;
    }
    section.expArea ul li:nth-child(1){
        background-image: url("../images/ico_01.png");
    }
    section.expArea ul li:nth-child(2){
        background-image: url("../images/ico_02.png");
    }
    section.expArea ul li:nth-child(3){
        background-image: url("../images/ico_03.png");
    }
    section.expArea ul li:nth-child(4){
        background-image: url("../images/ico_04.png");
    }
    section.expArea ul li:nth-child(5){
        background-image: url("../images/ico_05.png");
    }
    section.expArea ul li:nth-child(6){
        background-image: url("../images/ico_06.png");
    }
    /* expArea Fin */

    section.teamArea{
        background: url("../images/bg_03.png") no-repeat left top;
        background-size: cover;
    }
    section.teamArea h2,
    section.teamArea p{
        text-align: center; color: white;
    }
    section.teamArea h2{
        font-size: 22px; margin-bottom: 10px; font-weight: 900;
        padding-top: 70px;
    }
    section.teamArea > p{
        font-size: 14px; line-height: 21px; margin-bottom: 10px;
    }
    section.teamArea div ul{
        margin-bottom: 70px;
    }
    section.teamArea div ul li{
        display: inline-block; width: 220px; margin-left: 14px;
    }
    section.teamArea div ul li:first-child{
        margin-left: 0;
    }
    section.teamArea div ul li figure{
        background: url("https://via.placeholder.com/220x230") no-repeat left top;
        background-size: contain;
        padding-top: 230px;
    }
    section.teamArea div ul li figure figcaption{
        border: 1px solid rgba(255,255,255,0.5);
        padding: 20px 0;
    }
    section.teamArea div ul li figure figcaption dl > *{
        color: white; text-align: center;
    }
    section.teamArea div ul li figure figcaption dl dt{
        font-size: 14px; font-weight: 900; margin-bottom: 10px; 
    }
    section.teamArea div ul li figure figcaption dl dd{
        font-size: 13px; font-weight: 300;
    }
    section.teamArea div ul + p{
        margin-bottom: 25px; text-align: center; color: white;
    }
    section.teamArea div a.btn_more{
        margin: 0 auto;
    }
    /* teamArea Fin */

    section.worksArea{
        padding-bottom: 70px;
    }
    section.worksArea h2{
        font-size: 22px; font-weight: 900; position: relative;
        color: #413d4b;
    }
    section.worksArea h2 a{
        font-size: 14px; font-weight: 300; color: #413d4b;
        position: absolute; right:0; top: 70px;
    }
    section.worksArea ul{
        margin-bottom: 70px;
    }
    section.worksArea ul:after{
        content: ''; display: block; visibility: hidden; clear: both;
    }
    section.worksArea ul li{
        float: left; display: block; width: 16.66%;
        line-height: 0;
    }
    section.worksArea ul li img{
        width: 100%;
    }
    section.worksArea a.btn_more{
        margin: 0 auto;
    }
    /* worksArea Fin */
    
    .talkArea{
        background: url("../images/bg_04.png") no-repeat left top;
        background-size: cover; padding: 70px 0; text-align: center;
    }
    .talkArea p{
        width: 940px; margin: 0 auto 45px auto; padding-top: 70px;
        background: url("../images/quote.png") no-repeat center top;
        color: white; font-size: 16px; line-height: 26px;
    }
    .talkArea p > *{
        display: block;
    }
    .talkArea p strong{
        margin: 50px 0 10px 0; font-weight: 900; font-size: 14px;
        line-height: 22px;
    }
    .talkArea p span{
        font-weight: 300; font-size: 13px; line-height: 22px;
    }
    .talkArea div{
        width: 940px; margin:0 auto;
    }
    .talkArea div *:not(img){
        display: inline-block;
    }
    .talkArea div a{
        font-size: 45px; color: white; vertical-align: middle;
    }
    .talkArea div ul{
        vertical-align: middle; margin: 0 30px;
    }
    .talkArea div ul li{
        margin-left: 10px;
    }
    .talkArea div ul li:first-child{
        margin-left: 0;
    }
    /* talkArea Fin */

    section.contactArea:after{
        content:''; display: block; visibility: hidden; clear: both;
    }
    section.contactArea h2{
        display: none;
    }
    section.contactArea form fieldset,
    section.contactArea div{
        float: left; width: 45%; display: block;
    }
    section.contactArea form fieldset{
        margin-right: 10%;
    }
    section.contactArea form fieldset legend,
    section.contactArea div h3{
        font-size: 22px; color: #413d4b; font-weight: 700;
        margin-bottom: 30px;
    }
    section.contactArea form fieldset *:not(legend){
        margin-bottom: 25px;
        box-sizing: border-box;
    }
    section.contactArea form fieldset input:not([type='submit']),
    section.contactArea form fieldset textarea{
        border: 1px solid #e5e5e5; width: 100%;
        padding: 15px 20px;
    }
    section.contactArea form fieldset textarea{
        height: 200px; resize: none;
    }
    section.contactArea form fieldset input[type='submit'].btn_more{
        background-color: transparent;
    }
    /* contactArea Left Fin */
    
    section.contactArea div ul li{
        width: 50%; float: left; margin-bottom: 15px;
    }
    section.contactArea div ul li a{
        display: block; text-align: center;
    }
    section.contactArea div ul li a img{
        width: 100%; max-width: 162px;
    }
    
}