@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
body{
    font-family: 'Nanum Gothic';
    /* 
        ? 주어 + 부어 다를경우
        ? 주어와 부어중 일반적으로 주어가 범위가 넓다. (ex> english).
        ? 타 국가 언어가 부어로 된다. 일반적으로 국소적 범위만 타 국가 언어로 표현.
        ! 주어 + 부어 다를경우 . 주어가 만약  타국가언어라면 부어는 범위가넓은 (영어) 언어로 적용이 불필요.

        ? 주어 + 부어 같을경우
        ? 주어와 부어가 같음 으로 1번 font가 비 적용시  2번 font가 대신 적용.
    */
}
p{
    font-size: 14px;
}
p.letter{
    letter-spacing: 10px;
    /* letter-spacing : 글자간 간격 */
}
p.word{
    word-spacing: 10px;
    /* 단어간격 (spaceBar 기준) */
}
p.w_normal{
    width: 150px; white-space: normal;
    line-height: 21px;
}
p.w_nowrap{
    width: 150px; border: 1px solid red;
    white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
}
.v_alignTest img{
    vertical-align: middle;
}
.v_alignTest span{
    vertical-align: 100%;
}
/* 
    ? vertical-align (수직정렬)
    * 1. display: inline, inline-block인 애들끼리만.
    * 2. 높은 애를 기준으로 preset(ex > top, middle, bottom....)
    * 3. 작은 애가 높은 애를 기준으로 움직임.
    * 4. 작은 애에게 상대적 수치 (%)를 이용하여 나머지 부분을 더 움직일 수 있다.
    ! 작은애의 높이 를 기준으로 100%를 잡고, 양수일경우 위로, 음수일경우 아래로. 
*/
p.t_indent{
    text-indent: 50px; font-size: 25px;
}
button.indentTest{
    width: 150px; line-height: 50px; border: none; font-size: 14px;
    background: url('https://via.placeholder.com/150x50?text=blabla button');
    text-indent: -9999px;
}