@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800&display=swap&subset=korean');
/* ? webfont LOAD */

body{
    font-family: "Nanum Gothic";
}
/* ? body에 전역으로 웹폰트 나눔고딕을 부여하면 이하 객체들의 폰트가 일괄적으로 나눔고딕으로 적용됨*/

h1{font-size: 20px; line-height:25px; color: #06f;}
/*
    font가 들어가는 부분은 무조건 line-height를 설정해야 하는데, 그 이유인 즉슨
    block 속성이 아닌 태그들에게 line-height를 지정하지 않게 되면 폰트의 영역이(컨텐츠의 영역이)
    무시되는 경우가 있으며, block 속성이라 하여도, text가 길 경우 줄바꿈이 이루어
    졌을때 윗줄과 아랫줄의 줄간이 없어 글자들이 붙거나 겹치는 현상이 있기때문이다.
*/

h2{
    font-size:15px; line-height:21px; color:#966;
}
h3{
    font-size:13px; line-height:19px; color:#f90;
}

p{
    font-size:14px;
}

p.letter{
    letter-spacing: 10px; /*? letter-spacing : 자간*/
}

p.word{
    word-spacing: 10px; /*? word-spacing: 단간(space bar 기준) */
}

p.w_normal{
    width: 100px; white-space: normal; line-height:21px;
    border:1px solid black;
}

p.w_nowrap{
    width: 100px; white-space: nowrap;
    border:1px solid black;
}