@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;800&family=Roboto:wght@100;300;400;700;900&display=swap');
/* webfont Load */

body{
    font-family: 'Roboto','Nanum Myeongjo';
}
h1{
    font-size: 20px; line-height: 25px; color: #333;
}
/*font가 들어가는 부분은 무조건 line-height를 설정해야 하는데, 그 이유인 즉슨
block 속성이 아닌 태그들에게 line-height를 지정하지 않게 되면 폰트의 영역이(컨텐츠의 영역이)
무시되는 경우가 있으며, block 속성이라 하여도, text가 길 경우 줄바꿈이 이루어
졌을때 윗줄과 아랫줄의 줄간이 없어 글자들이 붙거나 겹치는 현상이 있기때문이다.
*/
h2{
    font-size:15px; line-height:21px; color:#966;
}
h3{
    font-size:13px; line-height:19px; color:#F90;
}

p.letter{
    letter-spacing: -1px; /* ?letter-spacing : 자간*/
}
p.word{
    word-spacing: 10px; /* ?word-spacing : 단어간격(space bar 기준)*/
}
p.w_normal{
    width: 150px; white-space: normal; line-height: 21px;
}
p.w_nowrap{
    width: 150px; white-space: nowrap; overflow: hidden;
    text-overflow: ellipsis;
}

.v_alignTest img{
    vertical-align: middle;
}
.v_alignTest span{
    vertical-align: middle; /* ? % 로 상대적 위치 수정도 가능*/
}

/*
* baseline: 문자의 밑선에 맞추어 정렬
* middle: 문자의 중앙을 기준으로 해서 정렬
* sub : 아래첨자
* super : 위 첨자
* text-top:문자의 윗선을 밑선으로 해서 정렬
* top: 위쪽에 정렬
* bottom : 아래쪽 정렬
* % : 퍼센트로 정렬 위치를 지정
*/	

p.t_indent{
    text-indent: -9999px; font-size: 40px;
}

button.test{
    background: url("https://via.placeholder.com/150x50?text=blabla");
    border: none; width: 150px; line-height: 50px; font-size: 12px;
    text-indent: -9999px;
}
a{
    display: block;
}
a.t_deco_N{
    text-decoration: none; text-transform: none; color: #090;
}
a.t_deco_U{
    text-decoration: underline; text-transform: uppercase; color: #009;
}
a.t_deco_O{
    text-decoration: overline; text-transform: lowercase; color: #900;
}
a.t_deco_T{
    text-decoration: line-through; text-transform: capitalize; color: #099;
}
p.DR_ltr{direction: ltr;}
p.DR_rtl{direction: rtl;}