/* 
    ? fontWeight 정리
    * 1. thin - 100.
    * 2. extralight - 200.(명칭가변가능)
    * 3. light - 300.
    * 4. regular - 400. (default)
    * 5. medium - 500.
    * 6. semibold - 600. (명칭가변가능)
    * 7. bold - 700.
    * 8. extraBold - 800. (명칭가변가능)
    * 9. black - 900. 
*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body{
    font-family: 'Noto Sans KR', sans-serif;
}

h1{
    font-size: 50px; line-height: 62px; color: #0066ff;
    font-weight: 100;
}
h2{
    font-size: 35px; line-height: 45px; color: #60f;
    font-weight: 300;
}
h3{
    font-size: 20px; line-height: 26px; color: #f60;
    font-weight: 500;
}
p.letter{
    letter-spacing: -1px;
    /* ? 자간 */
}
p.word{
    word-spacing: 10px;
    /* ? 단간 */
}

p[class^='w_']{
    border: 1px solid black;
}
p.w_normal{
    width: 150px; white-space: normal; line-height: 21px;
}
p.w_nowrap{
    width: 150px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
}

.v_alignTest img{
    width: 200px; vertical-align: bottom;
}
.v_alignTest span{
    vertical-align: 100%;
}
/* 
    ? vertical-align (수직정렬)
    * 1. display: inline, inline-block인 애들끼리만.
    * 2. 높은 애를 기준으로 preset(ex > top, middle, bottom....)
    * 3. 작은 애가 높은 애를 기준으로 움직임.
    * 4. 작은 애에게 상대적 수치 (%)를 이용하여 나머지 부분을 더 움직일 수 있다.
    ! 작은애의 높이 를 기준으로 100%를 잡고, 양수일경우 위로, 음수일경우 아래로. 
*/
p.t_indent{
    text-indent: 50px; font-size: 20px;
}
.test{
    background: url('https://via.placeholder.com/150x50?text=blablaButton'); border: none; width: 150px;
    line-height: 50px; font-size: 12px; text-indent: -9999px;
}
a{
    display: block;
}
a.t_deco_N{
    text-decoration: none; text-transform: none; color: #090;
}
a.t_deco_U{
    text-decoration: underline; text-transform: lowercase; color: #0cf;
}
a.t_deco_O{
    text-decoration: overline; text-transform: capitalize; color: #96c;
}
a.t_deco_T{
    text-decoration: line-through; text-transform: uppercase; color: #f63;
}