@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

body{
    font-family: 'Nanum Gothic';
}
h1,h2,h3{
    border: 1px solid black;
}
h1{
    font-size: 20px; line-height: 26px; color: rgb(0,102,255);
    /* 
        * HEX - 16진 이용한 COLOR. 0~9-A~F = 16. #0066ff = #06f;. ex> #eaeaea -> 무채색.
        * RGB - rgb(red,green,blue); -> rgba(red,green,blue,alpha);
        * HSL(ightness)A(HSB(rightness)A) - hsla(hue,saturate,lightness,alpha(투명도));
     */
}
h2{
    font-size: 15px; line-height: 21px; color: #966;
}
h3{
    font-size: 12px; line-height: 18px; color: #f90;
}

p{
    font-size: 14px;
}
p.letter{
    letter-spacing: 10px;
}
p.word{
    word-spacing: 10px;
}

p[class^='w_']{
    border: 1px solid black; width: 150px;
}
p.w_normal{
    white-space: normal;
}
p.w_nowrap{
    white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
}
/* 
    ! vertical-align : 대상의 display 속성이 inline or inline-block. (block - x)
    * 1. 높이가 높은 애를 기준으로 preset(top,middle,bottom) 적용을 한다.
    * 2. 높이가 작은 애를 세부조정.(%)
    ? 자신의 높이를 기준으로 하는 100%. 양수면 위로 / 음수면 아래로.
*/
.v_alignTest img{
    vertical-align: middle;
}
.v_alignTest span{
    vertical-align: 100%; line-height: 18px;
}

p.t_indent{
    font-size: 20px; text-indent: 200px; line-height: 26px;
}
button.test{
    background: url('https://via.placeholder.com/150x50?text=blahblahButton');
    width: 150px; line-height: 50px; font-size: 12px; text-indent: -9999px;
}
a{
    display: block; margin: 10px;
}
a.t_deco_N{
    text-decoration: none; text-transform: none; color: #090;
}
a.t_deco_U{
    text-decoration: underline; text-transform: lowercase; color: #0cf;
}
a.t_deco_O{

}
a.t_deco_T{

}
