@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    font-family: 'Noto Sans KR';
}
/*
웹폰트로드하는방법
1. 영어권이냐 ? 영어권이아니냐

- 영어권 : alternate(대체).
- 비영어권 : 앞에 있는 font에 영문이 없을 시 뒤에 폰트로 영문변경. (해당폰트에 영문이없을시)
(한글,영어)
- 비영어권 : 앞,뒤 폰트 모두 한글 font일 경우. alternate(대체).

*/
/* 
    ! 100 - 900 (font마다 상이)
    * 100 - thin(hairLine)
    * 200 - UltraLight
    * 300 - light
    ! 400 - regular (default)
    * 500 - medium
    * 600 - semiBold
    * 700 - bold
    * 800 - extraBold
    * 900 - black.
*/
h1{
    font-size: 20px; line-height: 26px; color: rgb(186, 43, 43);
    /* 
        * HEX - 16진 이용한 COLOR. 0~9-A~F = 16. #0066ff = #06f;. ex> #eaeaea -> 무채색.
        * RGB - rgb(red,green,blue); -> rgba(red,green,blue,alpha);
        * hsla(hue,saturate,lightness,alpha(투명도));
     */
}
h2{
    font-size: 15px; line-height: 21px; color: rgba(0,0,0,0.1);
}
h3{
    font-size: 13px; line-height: 19px; color: rgba(200,200,0,0.3);
}
p{
    font-size: 14px;
}
p.letter{
    letter-spacing: 10px;
}
p.word{
    word-spacing: 10px;
}
p.w_normal{
    width: 150px; border: 1px solid black; line-height: 21px; white-space: normal;
}
p.w_nowrap{
    width: 150px; border: 1px solid black; line-height: 21px;
    white-space: nowrap; text-overflow: ellipsis; overflow: hidden;
}
.v_alignTest img{
    width: 200px; vertical-align: middle;
}
.v_alignTest span{
    vertical-align: 10%;
}
/*
baseline: 문자의 밑선에 맞추어 정렬(default)
middle: 문자의 중앙을 기준으로 해서 정렬
sub : 아래첨자
super : 위 첨자
text-top:문자의 윗선을 밑선으로 해서 정렬
top: 위쪽에 정렬
bottom : 아래쪽 정렬
% : 퍼센트로 정렬 위치를 지정 (
    후처리 = 높이가 낮은 대상. 그 대상의 높이기준
    또한 선처리 된 vertical-align의 방향에 따라 적용기준달라짐 (ex > top 이면 +%불가)
    )
*/	

/* 
? vertical-align (수직정렬)
* 1. display: inline, inline-block인 애들끼리만.
* 2. 높은 애를 기준으로 preset(ex > top, middle, bottom....)
* 3. 작은 애가 높은 애를 기준으로 움직임.
* 4. 작은 애에게 상대적 수치 (%)를 이용하여 나머지 부분을 더 움직일 수 있다.
! 작은애의 높이 를 기준으로 100%를 잡고, 양수일경우 위로, 음수일경우 아래로. 
*/

p.t_indent{
    text-indent: 200px;
}
.test{
    background: url('https://via.placeholder.com/150x50?text=blahButton');
    border: none; width: 150px; line-height: 50px; font-size: 12px;
    text-indent: -9999px;
}
a{
    display: block;
}
a.t_deco_N{text-decoration: none; text-transform: none; color: #090;}
a.t_deco_U{text-decoration: underline; text-transform: lowercase; color: #0cf;}
a.t_deco_O{text-decoration: overline; text-transform: capitalize; color: #96c;}
a.t_deco_T{text-decoration: line-through; text-transform: uppercase; color: #f63;}

p.DR_ltr{
    /* direction: ltr; */
    text-align: left;
}
p.DR_rtl{
    /* direction: rtl; */
    text-align: center;
}
/* ! text-align은 inline 관련 속성을 정렬할 수 있다. */