html,
body,
.wrap{
    height: 100%;
}
body{
    margin: 0;
}
.wrap{
    background-image: url('../images/pt.gif'); background-repeat: repeat;
}
.wrap p{
    background-color: #0cf; padding: 20px; margin: 0 0 20px 0;
}
.wrap button{
    line-height: 75px; padding: 0 40px; color: white; border: none;
    background-image: url('../images/pt_ex.png');
    background-repeat: repeat-x;
}