html,
body,
.wrap{
    height: 100%;
}

body{
    margin: 0;
}
.wrap{
    background-image: url('../images/pt.gif');
}
.wrap p{
    background-color: #0cf; padding: 20px; margin: 0 0 20px 0;
}

.wrap button{
    line-height: 75px; color: white; border: none;
    background: url('../images/pt_ex.png') repeat-x left center;
    width: 100px;
}