
html,body,.wrap{
    height: 100%;
}
body, p{
    margin: 0;
}
.wrap{
    background-image: url('../images/pt.gif');
}
.wrap p{
    background-color: #0cf; padding: 20px; margin-bottom: 20px;
}
.wrap button{
    line-height: 60px; padding: 0 40px; color: white; border: none;
    background: url('../images/pt_ex.png') repeat-x left top;
}