html,body{
    height: 100%;
}
body{
    margin: 0;
    background-image: url('../images/BackgroundFront.png'), url('../images/BackgroundBack.png');
    background-size: 90%;
	/*
		background-size는 100% 250px 처럼 공백으로 구분하면 width와 height를 설정
		100% 250px, 200% 250px 처럼 , 로 구분하면 1번이미지, 2번이미지 로 나눠서 설정
		100%, 200% 처럼 구분하면 두이미지 모두 height는 설정 안하고 width만 설정

		%,px 등의 단위도 사용가능
		cover : cover 는 무조건 꽉채움.
		contain : contain은 종횡비 로 꽉채움.(너비나 높이 중 먼저 한계선에 닿는 부분 우선)
	*/
    background-repeat: no-repeat;
	/*
		background-repeat는 기본옵션은 repeat, 수직 반복 repeat-y, 수평 반복 repeat-x
		반복안함은 no-repeat
	*/
    background-position: center;
    /* 
        ? background-position은 xAxis, yAxis로 구분 되는데 하나만 적을 경우 x,y동일적용.(center유일 / 수치 적용시 가능)
        * preset - left,center,right - 좌,중,우 / top, center, bottom - 상,중,하
        * css 기본 방향은 정시방향(top right bottom left).
    */
    background-attachment: fixed;
    /* 
        ? background-attachment는 기본 scroll / fixed으로 고정가능.
    */
}
p{
    height: 2000px;
}