html,body{
    height: 100%;
}
body{
    margin: 0;
    background-image: url('../images/BackgroundFront.png'), url('../images/BackgroundBack.png');
    background-repeat: no-repeat;
    background-size: contain;
    /* 
        %,px 등의 다양한 단위 사용 가능
        1. 값을 하나만 주었을 때 - 너비를 적용하고 높이는 종횡비를 따른다.
        2. 값을 두개를 입력했을 때 - 너비,높이 별도로 적용
        ! 정상적 이미지 출력의 조건은 - 종횡비가 맞을 때 / 2번 방법은 특이한 상황을 제외하고는 추천되지 않는다.
        3. , 로 구분 지으면 다중 배경에 별도 적용이 가능해진다.
        4. preset(이미약속된값)
        ? cover : 공간을 무조건 꽉 채움.
        ! 공간이 배경이미지보다 큰 경우 - 배경이미지의 종,횡비를 무시하고 무조건 늘려서 꽉 채운다.
        ! 공간이 배경이미지보다 작은 경우 - 채울수 있는 부분까지만 채우고 나머지는 넘어간다.
        ? contain : 공간의 우측, 하단 경계중 한곳에 닿을 때까지 비율로 채움.
        ! 배경이미지의 너비가 높이보다 크다면 - 비율대로 증가 했을 때 공간의 우측 경계에 도달 할 때 까지
        ! 배경이미지의 높이가 너비보다 크다면 - 비율대로 증가 했을 때 공간의 하단 경계에 도달 할 때 까지
        ! 100%와 다름 = 무조건 너비를 기준으로 작동시키는 것.
    */
}