html,body{
    height: 100%;
}
body{
    margin: 0;
    background-image: url('../images/BackgroundFront.png'), url('../images/BackgroundBack.png');
    /*
		background-image는 대상의 배경 설정, css3부터는 , 로 구분하여 2개 이상 설정가능
	*/
    background-size: 50%;
    /*
		background-size는 100% 250px 처럼 공백으로 구분하면 width와 height를 설정
		100% 250px, 200% 250px 처럼 , 로 구분하면 1번이미지, 2번이미지 로 나눠서 설정
		100%, 200% 처럼 구분하면 두이미지 모두 height는 설정 안하고 width만 설정

		%,px 등의 단위도 사용가능
		cover : cover 는 무조건 꽉채움.
		contain : contain은 종횡비 로 꽉채움.(너비나 높이 중 먼저 한계선에 닿는 부분 우선)
	*/
    background-repeat: no-repeat;
    background-position: center;
	background-attachment: fixed;
}
p{
	height: 2000px;
}