*{
    margin: 0; padding: 0;
}
html,
body{
    height: 100%;
}
body{
    /* todo. background: url('../images/example.jpg') no-repeat center; */
    background-image: url('../images/example.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
body > div{
    background-color: white; margin-bottom: 15%; padding: 5%;
}
body > div h2{
    font-size: 38px; margin-bottom: 20px;
}