html,body{
    height: 100%;    
}
body,h2{
    margin: 0;
}
body{
    background: url('../images/example.jpg') center / cover no-repeat fixed;
    /* 
        ? background: [background-image] [background-position] / [background-size] [background-repeat] [background-attachment] [background-origin] [background-clip] ([background-color])
    */
}
div{
    padding: 5%; margin-bottom: 15%; background-color: white;
}
div h2{
    font-size: 38px; margin-bottom: 20px;
}