*{
    margin: 0; padding: 0;
}
/* 
    ? * - 전체선택자.
    ! 단, 이 코드는 test용도로만 사용해야 함.
*/

html,body{
    height: 100%;
}
body{
    background: url('../images/example.jpg') center / cover no-repeat fixed;
    /* background-image: url('../images/example.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; */
    /* 
        ? background shortHand
        * background: [background-image] [background-position] / [background-size] [background-repeat] [background-attachment] [background-origin] [background-clip] [background-color];
    */
}
div{
    background-color: white; margin-bottom: 15%; padding: 5%;
}
div h2{
    font-size: 38px; margin-bottom: 20px;
}