*{
    margin: 0; padding: 0;
}
/* ? tempCode : 임시 적용 */
html,body{
    height: 100%;
}
body{
    background: url('../images/example.jpg') center / cover no-repeat fixed;
    /* background-image: url('../images/example.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; */
}
div{
    background-color: white; padding: 5%; margin-bottom: 15%;
}
div h2{
    font-size: 38px; margin-bottom: 20px;
}
div p{
    font-size: 24px; line-height: 30px; color: slateblue;
}