*{
    margin: 0; padding: 0;
}
h1{
    text-align: center; margin-bottom: 20px;
}
ul{
    width: 640px; margin: 0 auto;
}
ul:after{
    content: ''; display: block; visibility: hidden; clear: both;
}
ul li{
    float: left; display: block; width: 160px; height: 140px;   
    background-image: url('../images/sprite.png');
    background-repeat: no-repeat;
}
ul li.captain{
    background-position: 0px 0px;
}
ul li.wolverine{
    background-position: -160px 0px;
}
ul li.thor{
    background-position: -320px 0px;
}
ul li.ironman{
    background-position: -480px 0px;
}
ul li.spiderman{
    background-position: 0px -140px;
}
ul li.superman{
    background-position: -160px -140px;
}
ul li.rangerRed{
    background-position: -320px -140px;
}
ul li.rangerBlue{
    background-position: -480px -140px;
}