*{
    margin: 0; padding: 0;
}
h1{
    text-align: center;
    margin-bottom: 20px;
}
ul{
    width: 640px; margin: 0 auto;
}
ul:after{
    content: ''; display: block; visibility: hidden; clear: both;
}
ul li{
    float: left; display: block; width: 160px; height: 140px;
    
}
