ul li.circle{
    list-style: circle;
}
ul li.disc{
    list-style: disc;
}
ul li.square{
    list-style: square;
}

ol li.decimal{list-style: decimal;}
ol li.lower-alpha{list-style: lower-alpha;}
ol li.upper-alpha{list-style: upper-alpha;}
ol li.lower-roman{list-style: lower-roman;}
ol li.upper-roman{list-style: upper-roman;}
ol li.none{list-style: none;}
ul.custom{
    list-style-image: url('../images/bul_li.gif');
    list-style-position: inside;
    /*
        ? custom bullet 사용방법
        ? -position : 기본 outside / depth 필요시 inside
    */
    /* list-style: none; */
}
/* ul.custom li{
    padding-left: 20px; background: url('../images/bul_li.gif') no-repeat left 5px;
} */