ul li.circle{
    list-style: circle;
}
ul li.disc{
    list-style: disc;
}
ul li.square{
    list-style: square;
}

ol li.decimal{
    list-style: decimal;
}
ol li.lower-alpha{
    list-style: lower-alpha;
}
ol li.upper-alpha{
    list-style: upper-alpha;
}
ol li.lower-roman{
    list-style: lower-roman;
}
ol li.upper-roman{
    list-style: upper-roman;
}
/* ? default preset 값들은 법률조항 표기등에만 일부 사용 됨. */
ol li.none{
    list-style: none;
}

/* ul.custom{
    list-style-image: url('../images/bul_li.gif');
    list-style-position: outside;
} */
ul{
    list-style: none; margin: 0; padding: 0;
}
ul li{
    background: url('../images/bul_li.gif') left center no-repeat;
    padding-left: 20px;
}