div{
    width: 300px; height: 150px; margin-bottom: 10px;
}
.singleBox{
    border: 3px solid #60f;
    /* ? border shorthand */
}
.multiBox{
    /* * 속성별 분리 */
    /* ? top / right / bottom / left */
    /*
    border-width: 1px 3px 10px 25px; 
    border-style: solid dotted dashed double;
    border-color: red green blue yellow;
    */
    /* * 방향별 분리 */
    border-top: 1px solid red;
    border-right: 3px dotted green;
    border-bottom: 10px dashed blue;
    border-left: 25px double yellow;
}

.searchField{
    /* todo. 두개의 이미지를 좌,우 위치에 배치하고 하단 line 만 지니고 있는 검색창. */
    /* ! none -> 극도의 부정. border-> none = 선을없애다. */
    /* * input -> display: inline-block. */
    padding: 0 64px; box-sizing: border-box; display: block; width: 100%; 
    line-height: 50px; font-size: 18px; border-width: 0 0 1px 0;
    background-image: url('../images/chevron_right_FILL0_wght400_GRAD0_opsz48.svg'), url('../images/search_FILL0_wght400_GRAD0_opsz48.svg');
    background-position: 20px center, right 20px center;
    background-repeat: no-repeat;
    background-size: 24px; outline: none;
}