div{
    width: 300px; height: 150px; margin-bottom: 10px;
}
.singleBox{
    border: 3px solid #60f;
}
.multiBox{
    /*
     ? border-width: 1px 3px 10px 25px;
     ? border-style: solid dotted dashed double;
     ? border-color: #1958b7 #f07 #66f #fc6;
    */
    border-top:1px solid #1985b7;
    border-right:3px dotted #f07;
    border-bottom:10px dashed #66f;
    border-left:25px double #fc6;
}
/*
solid : 직선 , dotted : 점선 dashed : 자르는선 double : 두줄의 선
*/
/*
    border 개별 설정
    border-top , border-right, border-bottom, border-left 로 설정 할 수 있다.
    또는 border: 5px 10px; 방식으로 상하, 좌우로 묶어 표현 할 수 있다.            
*/
.grooveBox{
    border: 20px groove #666;
}
.ridgeBox{
    border: 20px ridge #666;
}
.insetBox{
    border: 20px inset #930;
}
.outsetBox{
    border: 20px outset #930;
}
.radiusBox{
    border: 5px solid black; color: darkgoldenrod;
    border-radius: 10px;
}

.circleBox{
    width: 50px; height: 50px; background-color: midnightblue;
    text-indent: -9999px; border-radius: 25px;
}