html,body{
    height: 100%;
}
div{
    width: 300px; height: 150px; margin-bottom: 30px; font-size: 14px;
}
.singleBox{
    border: 3px solid #60f;
    /* ? border: [width] [style] [color] */
}
.multiBox{
    /* ! 각기다르게 넣는부분 : 1. 속성별 분리 / 2. 방향별 분리 */
    /* border-width: 1px 3px 10px 25px; */
    /* ? 선의 굵기 */
    /* border-style: solid dotted dashed double; */
    /* ? 선의 모양 */
    /* border-color: rgba(255,0,0,0.8) rgba(0,255,0,0.8) rgba(0,0,255,0.8) rgba(255,150,0,0.8); */
    /* todo 방향별 분리 로 변경 */
    border-top: 1px solid rgba(255,0,0,0.8);
    border-right: 3px dotted rgba(0,255,0,0.8);
    border-bottom: 10px dashed rgba(0,0,255,0.8);
    border-left: 25px double rgba(255,150,0,0.8);
}
.grooveBox{
    border: 20px groove #666;
}
.ridgeBox{
    border: 20px ridge #666;
}
.insetBox{
    border: 20px inset #666;
}
.outsetBox{
    border: 8px outset #666;
}
.radiusBox{
    background-color: black; color: yellow;
    border-radius: 10px 30px 50px 70px;
}
.circleBox{
    background-color: midnightblue; text-align: center; color: cyan;
    width: 500px; height: 500px; font-size: 30px; line-height: 500px; border-radius: 250px;
    /* width: 50%; height: 50%; text-indent: -9999px; border-radius: 50%; */
    /* width: 50vw; height: 50vw; border-radius: 25vw; font-size: 2vw; line-height: 50vw; */
}