a{
    font-size: 20px; word-spacing: 15px; display: inline-block; text-decoration: none;
    padding: 10px;
}

a:link{
    color: olive;
}
a:visited{
    color: darkred;
}
a:hover{
    color: slateblue; background-color: violet; border-radius: 10px;
}
a:active{
    color: yellow; background-color: black;
}
a:focus{
    background-color: yellow;
}