
a{
    text-decoration: none; font-size: 20px; display: inline-block; padding: 10px;
}
a:link{
    color: olive;
}
a:hover{ /* ? js : onMouseOver*/
    color: #3cf; text-decoration: underline;
}
a:active{
    color: #f00;
}
a:visited{
    color: lightgreen;
}