a{
    text-decoration: none; font-size: 20px; display: block; margin-bottom: 30px;
}
a:link{ /* * 링크 평시 상태*/
    color: darkorange;
}
a:visited{ /* * 방문한 적이 있는 상태 */
    color: darkred;
}
a:hover{ /* * cursor Over 상태 */
    color: darkblue; text-decoration: underline;
}
a:active{ /* *활성화 된 상태 (ex > a -> click.) */
    font-size: 40px; color: lime;
}
a:focus{ /* *화면상에서 초점이 맞춰진 상태 (tab, click, touch...) */
    font-size: 40px; color: black; outline: transparent;
    /* ! focus 상태에서 outline 건드리지 말것. */
}