.flexContainer{
    margin: 10px; padding: 15px; border-radius: 23px; background-color: #a4a4a4;
    display: flex;
}
.test{
    background-color: #a4a4a4; width: 48%; box-sizing: border-box; border-radius: 23px;
    display: inline-flex;
}
.flexContainer .flexItem,
.test a{
    margin: 10px; padding: 20px; color: white; text-align: center; border-radius: 27px;
    background-color: black;
}

.flexContainer.direction{
    flex-direction: row-reverse;
}
.flexContainer.wrap{
    flex-wrap: wrap-reverse; flex-direction: row-reverse;
}
.flexContainer.flow{
    flex-flow: row wrap;
}
.flexContainer.flow .flexItem{
    width: 500px;
}
.flexContainer.justifyContent{
    justify-content: space-around; padding: 0;
    /*
        justify-content : 
        flex container의 main axis를 기준으로 flexItem을 수평(or수직) 정렬한다.
        
        flex-start (flexItem을 좌측 기준정렬)
        flex-end (flexItem을 우측 기준정렬)
        center (flexItem을 가운데 기준정렬)
        space-between (flexItem 중 처음은 좌측기준, 마지막은 우측기준, 나머지는 동일간격으로 정렬)
        space-around (모든 flexItem은 처음,마지막 사이를  동일간격으로 정렬 외 나머지 배치)
        space-evenly (여유 공간을 flex 항목 사이의 공간 및 시작선 및 끝선과 flex 항목 간의 공간에 모두 균등하게 배분.)
    */
}
.flexContainer.justifyContent .flexItem{
    margin: 0;
}
.flexContainer.alignContent{
    height: 400px; flex-wrap: wrap; padding: 0;
    align-content: space-between; justify-content: flex-end;
}
.flexContainer.alignContent .flexItem{
    width: 300px; margin: 0;
    /* 
        ! align(yAxis)
        align-content: (창조절필요)
        flex container의 cross axis를 기준으로 flexItem을 수직 정렬한다.
        
        stretch (flexItem 행 간격을 균등하게. cross Start에서 End까지 꽉찬 높이.)
        flex-start (flexItem 행 간격 없이 (stack))
        flex-end (flexContainer의 cross end 기준으로 행 간격 없이)
        center (flexContainer의 cross axis 중앙 기준으로 행 간격 없이)
        space-between (첫 행은 flexContainer cross start 기준, 마지막 행은 flexContainer cross end 기준, 나머지 행 균등하게)
        space-around (모든 flexItem은 처음,마지막 사이를  동일간격으로 정렬 외 나머지 배치)
        space-evenly (여유 공간을 flex 항목 사이의 공간 및 시작선 및 끝선과 flex 항목 간의 공간에 모두 균등하게 배분.) 
    */
}

.flexContainer.alignItems{
    align-items: baseline;
    background-color: orange;
}
/* 
    ? align-items : 
    * flexItem을 line-height(contentHeight)기준으로 flexContainer의 수직 방향으로 정렬한다.
    * align-items 속성은 모든 flexItem에 적용된다.

    * stretch (cross Start 에서 End까지 꽉찬 높이)
    * flex-start (cross Start 기준으로 정렬.)
    * flex-end (cross End 기준으로 정렬.)
    * center  (flexContainer의 주축 중앙에 정렬.)
    * baseline (안의 컨텐츠 End 기준으로 정렬.)
*/
.flexContainer.alignItems:hover{
    align-items: flex-start;
}
.flexContainer.alignItems .flexItem:first-of-type{
    line-height: 50px;
}
.flexContainer.alignItems .flexItem:nth-of-type(2){
    line-height: 100px;
}
.flexContainer.justifyItems{
    display: grid; background-color: yellow; width: 300px;
    justify-items: flex-start;
}
/* 
    ? justify-items:
    * flexItem을 parent Width기준으로 flexContainer의 수평 방향으로 정렬한다.
    * justify-items 속성은 모든 flexitem에 적용된다.

    * stretch (cross Start 에서 End까지 꽉찬 너비)
    * flex-start (cross Start 기준으로 정렬.)
    * flex-end (cross End 기준으로 정렬.)
    * center (flexContainer의 주축 중앙에 정렬.)
*/
.flexContainer.justifyItems:hover{
    justify-items: flex-end;
}
.flexContainer.justifyItems .flexItem{
    margin: 1px;
}
.flexContainer.alignSelf .flexItem:first-of-type{
    line-height: 100px;
}
.flexContainer.alignSelf .flexItem:nth-of-type(2){
    align-self: flex-end;
}
/* 
    ?align-self
    * stretch - 요소들중 가장 높은 것을 기준으로 자신의 높이를 맞추기
    * flex-start - 요소들중 가장 높은 것의 윗선을 기준으로 자신을 맞추기
    * flex-end - 요소들중 가장 높은 것의 밑선을 기준으로 자신을 맞추기
*/
.flexContainer.justifySelf{
    width: 220px; display: grid;
}
.flexContainer.justifySelf .flexItem:first-of-type{
    justify-self: flex-end;
}
.flexContainer.justifySelf:hover .flexItem:first-of-type{
    justify-self: flex-start;
}
/* 
    ?justify-self
    * stretch - 내부 공간 기준으로 자신의 너비 맞추기
    * flex-start - 내부 공간 기준으로 자신의 위치를 좌측으로 맞추기
    * flex-end - 내부 공간 기준으로 자신의 위치를 우측으로 맞추기
*/

.flexContainer.orderItem .flexItem.order1{
    order: 4;
}
.flexContainer.orderItem .flexItem.order2{
    order: 3;
}
.flexContainer.orderItem .flexItem.order3{
    order: 2;
}
.flexContainer.orderItem .flexItem:nth-of-type(4){
    order: 1;
}
.flexContainer.orderItem .flexItem:nth-of-type(5){
    order: 0;
}

.flexContainer.flexShortHand{
    width: 50%; margin: 0; padding: 0;
    /* ? shrink(수축비) test */
    max-width: 300px;
}
.flexContainer.flexShortHand .flexItem{
    margin: 0; padding: 0; word-break: break-all;
}
.flexContainer.flexShortHand .flexItem:first-child{
    /* flex-grow: 2; flex-basis: 0; */
    flex-shrink: 2; flex-basis: 150px;
}
.flexContainer.flexShortHand .flexItem:first-child~*{
    /* flex-grow: 1; flex-basis: 0; */
    flex-shrink: 1; flex-basis: 150px;
}
/*
    ? flex-grow(팽창(확장)비):
    ! item의 증가비율을 정한다. default: 0. 즉, 빈 공간을 알아서 확장하여 채우지 않는다.
    ! 음수 비허용. 양수 입력 시 '총 증가 내부팽창지수(grow합산)의 너비중 입력된 비율만큼의 너비를 가진다.
    ! 단, max-width가 설정되면 해당 수치를 넘지 않는다.
    * example. item이 3개이고 item들에게 grow가 1이 부여된다면 각각 1/3(33.33%)의 너비를 갖게 된다.

    ?ex.1 > 만약 전체 너비 (300px)의 item 3개에 개별적으로 grow가 부여되었다면?
    todo. flexItem:first-child{flex-grow:2;} -> 0(basis) + (300/4)*2 = 150.
    todo. flexItem:first-child~*{flex-grow:1;} -> 0(basis) + (300/4)*1 = 75.
    ? why 3(x) 4? = first 2 +  ~* 1 + 1.
*/
/*
    ? flex-shrink(수축비):
    ! 기준되는 부모(절대)가 줄어들 때 item의 수축비를 정한다. default: 1.
    ! 음수 비허용. 양수 입력 시 '총 수축 내부수축지수(shrink합산)의 너비 중 입력된 비율 만큼 수축될 수 있다.
    ! 단, min-width가 설정되면 해당 수치를 넘지 않는다. (basis -> max로 변환 가동)
    * example. item이 3개이고 item들에게 shrink가 1이 부여된다면 각각 1/3의 수축비를 갖게된다.
    ?ex. 2 > 만약 수축중인 부모 너비가 300px인 item 4개(각너비 150px)에  shrink를 부여하면?
    todo. 초과되는 수치인 150 에 대한. shrink총합인 4를 나눈 37.5가 곧 shrink: 1이된다.
    todo. flexItem:first-child{flex-shrink: 2;} -> 150(대상너비) - (150/4)*2 = 75;
    todo. flexItem:first-child~*{flex-shrink: 1;} -> 150(대상너비) - (150/4)*1 = 112.5;
    
    basis:
    !item의 너비를 정한다. 기본값은 auto 이며 다양한 단위 percentages(%) || ems || rems || pixels 를 사용 할 수있다.
    auto : 안의 컨텐츠의 길이만큼 너비가 늘어난다.
*/