.flexContainer{
    margin: 10px; padding: 15px; border-radius: 23px; background-color: #a4a4a4;
    display: flex;
}
.test{
    background-color: #a4a4a4; width: 48%; box-sizing: border-box; border-radius: 23px;
    display: inline-flex;
}
.flexContainer .flexItem,
.test a{
    margin: 10px; padding: 20px; color: white; text-align: center; border-radius: 27px;
    background-color: black;
}

.flexContainer.direction{
    flex-direction: row-reverse;
}
.flexContainer.wrap{
    flex-wrap: wrap-reverse; flex-direction: row-reverse;
}
.flexContainer.flow{
    flex-flow: row wrap;
}
.flexContainer.flow .flexItem{
    width: 500px;
}
.flexContainer.justifyContent{
    justify-content: space-around; padding: 0;
    /*
        justify-content : 
        flex container의 main axis를 기준으로 flexItem을 수평(or수직) 정렬한다.
        
        flex-start (flexItem을 좌측 기준정렬)
        flex-end (flexItem을 우측 기준정렬)
        center (flexItem을 가운데 기준정렬)
        space-between (flexItem 중 처음은 좌측기준, 마지막은 우측기준, 나머지는 동일간격으로 정렬)
        space-around (모든 flexItem은 처음,마지막 사이를  동일간격으로 정렬 외 나머지 배치)
        space-evenly (여유 공간을 flex 항목 사이의 공간 및 시작선 및 끝선과 flex 항목 간의 공간에 모두 균등하게 배분.)
    */
}
.flexContainer.justifyContent .flexItem{
    margin: 0;
}
.flexContainer.alignContent{
    height: 400px; flex-wrap: wrap; padding: 0;
    align-content: space-between; justify-content: flex-end;
}
.flexContainer.alignContent .flexItem{
    width: 300px; margin: 0;
    /* 
        ! align(yAxis)
        align-content: (창조절필요)
        flex container의 cross axis를 기준으로 flexItem을 수직 정렬한다.
        
        stretch (flexItem 행 간격을 균등하게. cross Start에서 End까지 꽉찬 높이.)
        flex-start (flexItem 행 간격 없이 (stack))
        flex-end (flexContainer의 cross end 기준으로 행 간격 없이)
        center (flexContainer의 cross axis 중앙 기준으로 행 간격 없이)
        space-between (첫 행은 flexContainer cross start 기준, 마지막 행은 flexContainer cross end 기준, 나머지 행 균등하게)
        space-around (모든 flexItem은 처음,마지막 사이를  동일간격으로 정렬 외 나머지 배치)
        space-evenly (여유 공간을 flex 항목 사이의 공간 및 시작선 및 끝선과 flex 항목 간의 공간에 모두 균등하게 배분.) 
    */
}