header > div nav ul li a,
header > div > ul li p,
#about figcaption p,
section.videoArea h2,
section.expArea ul,
section.teamArea ul,
section.teamArea ul+p,
section.worksArea h2 a,
footer > div *{
    font-family: 'Roboto';
}
header > div > ul li h2,
#about figcaption h2,
section.expArea > *:not(ul),
section.teamArea h2,
section.worksArea h2,
section.teamArea > p:not(:last-of-type){
    font-family: 'Playfair Display';
}
a{
    text-decoration: none;
}
.btn_more{
    font-family: 'Hammersmith One'; font-weight: 400; text-align: center; display: block;
    font-size: 16px; border: 1px solid #00e0d0; color: #00e0d0; padding: 12px 0.6%;
    box-sizing: border-box;
}
section[class$='Area'] > hr{
    width: 5%; min-width: 50px; border-width: 2px 0 0; border-style: solid; margin: 0 auto 45px;
}
/* ? A/U */

@media screen and (min-width: 1280px) {
    #about,
    section.expArea,
    footer > div{
        max-width: 940px; margin: 0 auto; padding: 70px 0;
    }

    header{
        padding: 15px 0 70px; background: url('../images/bg_01.png') left top / cover no-repeat;
    }
    header > div{
        max-width: 940px; margin: 0 auto; position: relative;
    }
    header > div h1{
        max-width: 128px;
    }
    header > div h1 *{
        display: block;
    }
    header > div h1 a img{
        width: 100%;
    }
    header > div nav{
        position: absolute; right: 0; top: 0; width: 100%; text-align: right;
        padding-left: 130px; box-sizing: border-box;
    }
    header > div nav ul li{
        display: inline-block;
    }
    header > div nav ul li:not(:first-child){
        margin-left: 2.65%;
    }
    header > div nav ul li a{
        display: block; line-height: 50px; font-size: 13px; color: white; font-weight: 900;
    }
    header > div nav ul li a:hover,
    header > div nav ul li a.active{
        color: #00e0d0;
    }
    /* ?header GNB Fin */

    header > div > ul{
        margin-bottom: 125px;
    }
    header > div > ul li{
        padding-top: 165px; display: block;
    }
    header > div > ul li h2{
        font-size: 32px; color: white; font-weight: 900; text-align: center;
        padding-bottom: 22px; margin-bottom: 30px;
        /* todo */
        background: url('../images/border.png') no-repeat center bottom;
    }
    /* todo p tag style*/
    header > div > ul li p{
        font-size: 14px; color: white; font-weight: 300; max-width: 775px; text-align: center;
        margin: 0 auto 50px; line-height: 24px;
    }
    header > div > ul li a.btn_more{
        max-width: 120px; margin: 0 auto;
    }
    header > div > ol{
        text-align: center;
    }
    header > div > ol li{
        display: inline-block;
    }
    header > div > ol li a{
        display: block; text-indent: -9999px; width: 8px; height: 8px; border: 1px solid rgba(255,255,255,0.8);
        border-radius: 5px;
    }
    header > div > ol li a:hover,
    header > div > ol li a.active{
        background-color: #00e0d0; border-color: #00e0d0;
    }
    /* * header Fin */
    footer{
        background: url('../images/bg_05.png') left top / cover no-repeat;
    }
    footer > div div:not(:last-of-type){
        float: left; width: 31%; margin: 0 0 70px 3.5%;
    }
    footer > div div:first-of-type{
        margin-left: 0;
    }
    footer > div div h2{
        margin-bottom: 20px;
    }
    footer > div div:not(:first-of-type) h2{
        line-height: 50px; color: white; font-size: 15px; font-weight: 900;
    }
    footer > div div:not(:nth-of-type(3)){
        font-size: 14px; line-height: 26px; color: white;
    }
    footer > div div:nth-of-type(1),
    footer > div div:nth-of-type(2){
        font-weight: 300;
    }
    footer > div div:not(:nth-of-type(3)) a{
        color: white;
    }
    footer > div div:nth-of-type(2) address{
        font-style: normal;
    }
    footer > div div:nth-of-type(2) address span{
        display: block; padding-left: 30px; background-repeat: no-repeat;
        background-position: left 5px;
    }
    footer > div div:nth-of-type(2) address span:nth-of-type(1){
        background-image: url('../images/bul_map.png');
    }
    footer > div div:nth-of-type(2) address span:nth-of-type(2){
        background-image: url('../images/bul_Phone.png');
    }
    footer > div div:nth-of-type(3) input{
        display: block; float: left; box-sizing: border-box; margin-bottom: 25px;
    }
    footer > div div:nth-of-type(3) input[type='email']{
        width: 70%; font-size: 14px; border: 1px solid rgba(255,255,255,0.5);
        line-height:43px; padding: 0 15px; background-color: transparent; color: white;
    }
    footer > div div:nth-of-type(3) input[type='email']::placeholder{
        color: rgba(255,255,255,0.75);
    }
    footer > div div:nth-of-type(3) input[type='submit']{
        width: 25%; margin-left: 5%; text-indent: -9999px; border: none; line-height: 43px;
        background: url('../images/btn_submit.png') no-repeat center rgba(255,255,255,0.5);
    }
    footer > div div:nth-of-type(3) ul{
        clear: left;
    }
    /* todo. SNS ICON's 배치하기 */
    footer > div div:nth-of-type(3) ul li{
        display: inline-block; width: 35px; line-height: 35px;
    }
    footer > div div:nth-of-type(3) ul li:not(:first-child){
        margin-left: 5px;
    }
    footer > div div:nth-of-type(3) ul li a{
        display: block; text-indent: -9999px; background-repeat: no-repeat; background-size: contain;
    }
    footer > div div:nth-of-type(3) ul li:nth-child(1) a{
        background-image: url('../images/ico_sns_01.png');
    }
    footer > div div:nth-of-type(3) ul li:nth-child(2) a{
        background-image: url('../images/ico_sns_02.png');
    }
    footer > div div:nth-of-type(3) ul li:nth-child(3) a{
        background-image: url('../images/ico_sns_03.png');
    }
    footer > div div:nth-of-type(3) ul li:nth-child(4) a{
        background-image: url('../images/ico_sns_04.png');
    }
    footer > div div:nth-of-type(3) ul li:nth-child(5) a{
        background-image: url('../images/ico_sns_05.png');
    }
    footer > div div:nth-of-type(3) ul li:nth-child(6) a{
        background-image: url('../images/ico_sns_06.png');
    }
    footer > div div:last-of-type{
        clear: left; font-weight: 400;
    }
    footer > div div:last-of-type a{
        display: inline-block;
    }
    footer > div div:last-of-type a:not(:first-of-type){
        margin-left: 30px;
    }
    footer > div div:last-of-type p{
        float: right;
    }
}
/* ?desktop */