

@media screen and (min-width: 1280px) {
    #about{
        padding-left: 4%;
    }
    #about:after{
        content: ''; display: block; clear: both;
    }
    #about img{
        width: 25%; float: left;
    }
    #about figcaption{
        width: 60%; margin-left: 15%; float: left;
    }
    #about figcaption > *:not(a){
        margin-bottom: 30px;
    }
    #about figcaption h2{
        font-size: 22px; font-weight: 700; color: #413d4b;
    }
    #about figcaption p{
        font-size: 14px; font-weight: 300; color: rgba(65,61,75,0.75); line-height: 22px;
    }
    #about figcaption a.btn_more{
        max-width: 120px;
    }
    /* ? CI figure Fin */

    section.videoArea{
        background: url('../images/bg_02.png') left top / cover no-repeat;
        padding: 200px 0; /* ? tempCode : 임시 코드*/
    }
    section.videoArea a{
        display: block; width: 100px; padding: 20px 0 30px 5px; border-radius: 50px; text-align: center;
        color: white; font-size: 45px; border: 3px solid white; box-sizing: border-box;
        margin: 0 auto 30px;
    }
    section.videoArea h2{
        text-align: center; color: white; font-size: 16px; font-weight: 900;
    }
    /* ? video Fin */
}
/* ?desktop */