

@media screen and (min-width: 768px) and (max-width:1279px) {
    #about{
        padding-left: 7%;
    }
    #about:after{
        content: ''; display: block; clear: both;
    }
    #about img{
        float: left; width: 25%; max-width: 235px; 
    }
    #about figcaption{
        float: left; margin-left: 10%; width: 65%;
    }
    #about figcaption > *:not(a){
        margin-bottom: 20px;
    }
    #about figcaption h2{
        font-size: 22px; font-weight: 700; color: #413d4b;
    }
    #about figcaption p{
        font-size: 14px; font-weight: 300; color: rgba(65,61,75,0.75); line-height: 22px;
    }
    #about figcaption a.btn_more{
        max-width: 120px;
    }
    /* ? CI figure Fin */
    
    section.videoArea{
        background: url('../images/bg_02.png') left top / cover no-repeat; padding: 200px 0;
    }
    section.videoArea a{
        display: block; width: 100px; padding: 29px 0 26px 5px; border-radius: 60px; border: 3px solid white;
        box-sizing: borderbox; text-align: center; font-size: 45px; color:white; margin: 0 auto 30px;
    }
    section.videoArea h2{
        font-size: 16px; color: white; text-align: center; font-weight: 900;
    }
    /* ? videoArea Fin*/
    /* todo. expertise 완성해보기 */
    /* 
        * 1. global - font, guide 설정 셋팅하기.
        * 2. 첫 title(h2), 첫 문단(p), 구분선(hr)-module
        * 3. list 처리
        *   3-1. float 배치 (afterCancel)
        *   3-2. border 처리
        *   3-3. background-image 처리
        *   3-4. 부제(h3), 관련문단(p) 처리
    */
    section.expArea{
        text-align: center;
    }
    section.expArea h2{
        font-size: 22px; font-weight: 700; color: #413d4b; margin-bottom: 10px;
    }
    section.expArea > p{
        font-size: 14px; font-weight: 400; color: rgba(47,45,53,0.75); margin-bottom: 15px;
    }
    section.expArea > hr{
        width: 5%; border-color: rgba(65,61,75,0.3);
    }
    section.expArea  ul:after{
        content: ''; display: block; clear: both;
    }
    section.expArea  ul li{
        width: 33.33%; float: left; display: block; padding: 120px 3.5% 40px; box-sizing: border-box;
        background-repeat: no-repeat; background-position: center 30px;
    }
    section.expArea  ul li:not(:nth-child(n):nth-child(-n+3)){
        border-top: 1px solid rgba(0,0,0,0.2);
    }
    section.expArea ul li:not(:nth-child(3n)){
        border-right: 1px solid rgba(0,0,0,0.2);
    }
    section.expArea ul li:nth-child(1){background-image: url('../images/ico_01.png');}
    section.expArea ul li:nth-child(2){background-image: url('../images/ico_02.png');}
    section.expArea ul li:nth-child(3){background-image: url('../images/ico_03.png');}
    section.expArea ul li:nth-child(4){background-image: url('../images/ico_04.png');}
    section.expArea ul li:nth-child(5){background-image: url('../images/ico_05.png');}
    section.expArea ul li:nth-child(6){background-image: url('../images/ico_06.png');}
    section.expArea ul li h3{
        font-size: 14px; font-weight: 900; color: #413d4b; margin-bottom: 20px;
    }
    section.expArea ul li p{
        font-size: 14px; font-weight: 300; color: rgba(51,51,51,0.75); line-height: 22px;
    }
    /* ? expArea Fin */
    section.teamArea{
        background: url('../images/bg_03.png') left top / cover no-repeat; text-align: center; color: white;
        padding: 70px 0;
    }
    section.teamArea h2{
        font-size: 22px; font-weight: 700; margin-bottom: 10px;
    }
    section.teamArea p{
        font-size: 14px;
    }
    section.teamArea p:first-of-type{
        font-weight: 400; margin-bottom: 15px;
    }
    section.teamArea hr{
        width: 3%; border-color: rgba(255,255,255,0.2);
    }
    section.teamArea ul{
        max-width: 940px; margin: 0 auto 70px; list-style: none;
    }
    section.teamArea ul:after{
        content: ''; display: block; clear: both;
    }
    section.teamArea ul li{
        width:  23.5%; float: left;
    }
    section.teamArea ul li:not(:first-child){
        margin-left: 2%;
    }
    section.teamArea ul li figure{
        background: url("https://placehold.co/220x230") center top / contain no-repeat;
        padding-top: 230px;
    }
    section.teamArea ul li figure figcaption{
        border: 1px solid rgba(255,255,255,0.5); padding: 20px 0;
    }
    section.teamArea ul li figure figcaption dl dt{
        font-size: 14px; font-weight: 900; margin-bottom: 10px;
    }
    section.teamArea ul li figure figcaption dl dd{
        font-size: 13px; font-weight: 300; color: rgba(250,250,250,0.7);
    }
    section.teamArea ul + p{
        margin-bottom: 25px; font-weight: 300;
    }
    section.teamArea a.btn_more{
        max-width: 140px; margin: 0 auto;
    }
    /* teamArea Fin */
    section.worksArea{
        padding: 70px 0;
    }
    section.worksArea h2{
        font-size: 22px; font-weight: 700; color: #413d4b; max-width: 940px; margin: 0 auto 70px;
        position: relative;
    }
    section.worksArea h2 a{
        position: absolute; right: 0; top: 0; font-size: 14px; font-weight: 300; line-height: 22px; color: #413d4b;
        /* width: 20%; display: inline-block; margin-left: auto; */
        /* float:right; display:inherit; line-height: 22px; */
    }
    section.worksArea ul{
        list-style: none; margin-bottom: 70px;
    }
    section.worksArea ul:after{
        content: ''; display: block; clear: both;
    }
    section.worksArea ul li{
        width: 16.66%; float: left;
    }
    section.worksArea ul li *{
        display: block; width: 100%;
    }
    section.worksArea a.btn_more{
        max-width: 140px; margin: 0 auto;
    }
    /* worksArea FIn */

    section.talkArea{
        background: url('../images/bg_04.png') left top / cover no-repeat; padding: 70px 0;
        text-align: center;
    }
    section.talkArea h2{
        display: none;
    }
    section.talkArea p{
        max-width: 770px; margin: 0 auto 45px; color: white; padding-top: 70px;
        background: url('../images/quote.png') no-repeat center top;
        font-size: 16px; line-height: 26px; font-weight: 400;
    }
    section.talkArea p *{
        display: block;
    }
    section.talkArea p strong{
        margin: 40px 0 0; font-size: 14px; font-weight: 900;
    }
    section.talkArea p span{
        font-size: 13px; font-weight: 300; color: rgba(255,255,255,0.7);
    }
    section.talkArea div{
        max-width: 940px; margin: 0 auto;
    }
    section.talkArea div > *{
        display: inline-block; vertical-align: middle;
    }
    section.talkArea div > a{
        font-size: 22px; color: #9f9f9f;
    }
    section.talkArea div ul{
        max-width: 310px; width: 33%;
    }
    section.talkArea div ul:after{
        content: ''; display: block; clear: both;
    }
    section.talkArea div ul li{
        display: block; float: left; width: 19%;
    }
    section.talkArea div ul li:not(:first-child){
        margin-left: 1.25%;
    }
    section.talkArea div ul li a{
        display: block; text-align: center;
    }
    section.talkArea div ul li:not(.active) a{
        padding: 15px 0; transition: padding 0.35s ease-in-out;
    }
    section.talkArea div ul li.active a,
    section.talkArea div ul li:not(.active):hover a{
        padding: 0;
    }
    section.talkArea div ul li:not(.active) a img{
        width: 65%; transition: width 0.35s ease-in-out;
    }
    section.talkArea div ul li.active a img,
    section.talkArea div ul li:not(.active):hover a img{
        width: 100%;
    }
    /* ? talkArea Fin */
    section.contactArea:after{
        content: ''; display: block; clear: both;
    }
    section.contactArea h2{
        display: none;
    }
    section.contactArea form fieldset,
    section.contactArea div{
        float: left;
    }
    section.contactArea form fieldset legend,
    section.contactArea div h3{
        font-size: 22px; font-weight: 700; color: #413d4b; margin-bottom: 35px;
    }
    section.contactArea form fieldset{
        width: 49%;
    }
    section.contactArea form fieldset > *:not([type='submit'],legend){
        border: 1px solid rgba(0,0,0,0.1); padding: 14px 20px; font-size: 14px; font-weight: 300;
        display: block; width: 100%; box-sizing: border-box; margin-bottom: 20px;
    }
    section.contactArea form fieldset > *:not([type='submit'],legend)::placeholder{
        color: rgba(65,61,75,0.5);
    }
    section.contactArea form fieldset textarea{
        height: 200px; resize: none;
    }
    section.contactArea form fieldset .btn_more{
        background-color: transparent; cursor: pointer; min-width: 120px;
    }


    section.contactArea div{
        width: 40%; margin-left: 11%;
    }
    /* 설명 이어해야함 */
    section.contactArea div ul:after{
        content: ''; display: block; visibility: hidden; clear: both;
    }
    section.contactArea div ul li{
        width: 50%; float: left; display: block;
    }
    section.contactArea div ul li a{
        display: block;
    }
    section.contactArea div ul li:nth-child(2n+1) a{
        text-align: left;
    }
    section.contactArea div ul li:nth-child(2n) a{
        text-align: right;
    }
    section.contactArea div ul li a img{
        width: 100%; max-width: 162px;
    }
}
/* ? tablet */

@media screen and (min-width: 1280px) {
    #about{
        padding-left: 7%;
    }
    #about:after{
        content: ''; display: block; clear: both;
    }
    #about img{
        float: left; width: 25%; max-width: 235px; 
    }
    #about figcaption{
        float: left; margin-left: 10%; width: 65%;
    }
    #about figcaption > *:not(a){
        margin-bottom: 20px;
    }
    #about figcaption h2{
        font-size: 22px; font-weight: 700; color: #413d4b;
    }
    #about figcaption p{
        font-size: 14px; font-weight: 300; color: rgba(65,61,75,0.75); line-height: 22px;
    }
    #about figcaption a.btn_more{
        max-width: 120px;
    }
    /* ? CI figure Fin */
    
    section.videoArea{
        background: url('../images/bg_02.png') left top / cover no-repeat; padding: 200px 0;
    }
    section.videoArea a{
        display: block; width: 100px; padding: 29px 0 26px 5px; border-radius: 60px; border: 3px solid white;
        box-sizing: borderbox; text-align: center; font-size: 45px; color:white; margin: 0 auto 30px;
    }
    section.videoArea h2{
        font-size: 16px; color: white; text-align: center; font-weight: 900;
    }
    /* ? videoArea Fin*/
    /* todo. expertise 완성해보기 */
    /* 
        * 1. global - font, guide 설정 셋팅하기.
        * 2. 첫 title(h2), 첫 문단(p), 구분선(hr)-module
        * 3. list 처리
        *   3-1. float 배치 (afterCancel)
        *   3-2. border 처리
        *   3-3. background-image 처리
        *   3-4. 부제(h3), 관련문단(p) 처리
    */
    section.expArea{
        text-align: center;
    }
    section.expArea h2{
        font-size: 22px; font-weight: 700; color: #413d4b; margin-bottom: 10px;
    }
    section.expArea > p{
        font-size: 14px; font-weight: 400; color: rgba(47,45,53,0.75); margin-bottom: 15px;
    }
    section.expArea > hr{
        width: 5%; border-color: rgba(65,61,75,0.3);
    }
    section.expArea  ul:after{
        content: ''; display: block; clear: both;
    }
    section.expArea  ul li{
        width: 33.33%; float: left; display: block; padding: 120px 3.5% 40px; box-sizing: border-box;
        background-repeat: no-repeat; background-position: center 30px;
    }
    section.expArea  ul li:not(:nth-child(n):nth-child(-n+3)){
        border-top: 1px solid rgba(0,0,0,0.2);
    }
    section.expArea ul li:not(:nth-child(3n)){
        border-right: 1px solid rgba(0,0,0,0.2);
    }
    section.expArea ul li:nth-child(1){background-image: url('../images/ico_01.png');}
    section.expArea ul li:nth-child(2){background-image: url('../images/ico_02.png');}
    section.expArea ul li:nth-child(3){background-image: url('../images/ico_03.png');}
    section.expArea ul li:nth-child(4){background-image: url('../images/ico_04.png');}
    section.expArea ul li:nth-child(5){background-image: url('../images/ico_05.png');}
    section.expArea ul li:nth-child(6){background-image: url('../images/ico_06.png');}
    section.expArea ul li h3{
        font-size: 14px; font-weight: 900; color: #413d4b; margin-bottom: 20px;
    }
    section.expArea ul li p{
        font-size: 14px; font-weight: 300; color: rgba(51,51,51,0.75); line-height: 22px;
    }
    /* ? expArea Fin */
    section.teamArea{
        background: url('../images/bg_03.png') left top / cover no-repeat; text-align: center; color: white;
        padding: 70px 0;
    }
    section.teamArea h2{
        font-size: 22px; font-weight: 700; margin-bottom: 10px;
    }
    section.teamArea p{
        font-size: 14px;
    }
    section.teamArea p:first-of-type{
        font-weight: 400; margin-bottom: 15px;
    }
    section.teamArea hr{
        width: 3%; border-color: rgba(255,255,255,0.2);
    }
    section.teamArea ul{
        max-width: 940px; margin: 0 auto 70px; list-style: none;
    }
    section.teamArea ul:after{
        content: ''; display: block; clear: both;
    }
    section.teamArea ul li{
        width:  23.5%; float: left;
    }
    section.teamArea ul li:not(:first-child){
        margin-left: 2%;
    }
    section.teamArea ul li figure{
        background: url("https://placehold.co/220x230") center top / contain no-repeat;
        padding-top: 230px;
    }
    section.teamArea ul li figure figcaption{
        border: 1px solid rgba(255,255,255,0.5); padding: 20px 0;
    }
    section.teamArea ul li figure figcaption dl dt{
        font-size: 14px; font-weight: 900; margin-bottom: 10px;
    }
    section.teamArea ul li figure figcaption dl dd{
        font-size: 13px; font-weight: 300; color: rgba(250,250,250,0.7);
    }
    section.teamArea ul + p{
        margin-bottom: 25px; font-weight: 300;
    }
    section.teamArea a.btn_more{
        max-width: 140px; margin: 0 auto;
    }
    /* teamArea Fin */
    section.worksArea{
        padding: 70px 0;
    }
    section.worksArea h2{
        font-size: 22px; font-weight: 700; color: #413d4b; max-width: 940px; margin: 0 auto 70px;
        position: relative;
    }
    section.worksArea h2 a{
        position: absolute; right: 0; top: 0; font-size: 14px; font-weight: 300; line-height: 22px; color: #413d4b;
        /* width: 20%; display: inline-block; margin-left: auto; */
        /* float:right; display:inherit; line-height: 22px; */
    }
    section.worksArea ul{
        list-style: none; margin-bottom: 70px;
    }
    section.worksArea ul:after{
        content: ''; display: block; clear: both;
    }
    section.worksArea ul li{
        width: 16.66%; float: left;
    }
    section.worksArea ul li *{
        display: block; width: 100%;
    }
    section.worksArea a.btn_more{
        max-width: 140px; margin: 0 auto;
    }
    /* worksArea FIn */

    section.talkArea{
        background: url('../images/bg_04.png') left top / cover no-repeat; padding: 70px 0;
        text-align: center;
    }
    section.talkArea h2{
        display: none;
    }
    section.talkArea p{
        max-width: 770px; margin: 0 auto 45px; color: white; padding-top: 70px;
        background: url('../images/quote.png') no-repeat center top;
        font-size: 16px; line-height: 26px; font-weight: 400;
    }
    section.talkArea p *{
        display: block;
    }
    section.talkArea p strong{
        margin: 40px 0 0; font-size: 14px; font-weight: 900;
    }
    section.talkArea p span{
        font-size: 13px; font-weight: 300; color: rgba(255,255,255,0.7);
    }
    section.talkArea div{
        max-width: 940px; margin: 0 auto;
    }
    section.talkArea div > *{
        display: inline-block; vertical-align: middle;
    }
    section.talkArea div > a{
        font-size: 22px; color: #9f9f9f;
    }
    section.talkArea div ul{
        max-width: 310px; width: 33%;
    }
    section.talkArea div ul:after{
        content: ''; display: block; clear: both;
    }
    section.talkArea div ul li{
        display: block; float: left; width: 19%;
    }
    section.talkArea div ul li:not(:first-child){
        margin-left: 1.25%;
    }
    section.talkArea div ul li a{
        display: block; text-align: center;
    }
    section.talkArea div ul li:not(.active) a{
        padding: 15px 0; transition: padding 0.35s ease-in-out;
    }
    section.talkArea div ul li.active a,
    section.talkArea div ul li:not(.active):hover a{
        padding: 0;
    }
    section.talkArea div ul li:not(.active) a img{
        width: 65%; transition: width 0.35s ease-in-out;
    }
    section.talkArea div ul li.active a img,
    section.talkArea div ul li:not(.active):hover a img{
        width: 100%;
    }
    /* ? talkArea Fin */
    section.contactArea:after{
        content: ''; display: block; clear: both;
    }
    section.contactArea h2{
        display: none;
    }
    section.contactArea form fieldset,
    section.contactArea div{
        float: left;
    }
    section.contactArea form fieldset legend,
    section.contactArea div h3{
        font-size: 22px; font-weight: 700; color: #413d4b; margin-bottom: 35px;
    }
    section.contactArea form fieldset{
        width: 49%;
    }
    section.contactArea form fieldset > *:not([type='submit'],legend){
        border: 1px solid rgba(0,0,0,0.1); padding: 14px 20px; font-size: 14px; font-weight: 300;
        display: block; width: 100%; box-sizing: border-box; margin-bottom: 20px;
    }
    section.contactArea form fieldset > *:not([type='submit'],legend)::placeholder{
        color: rgba(65,61,75,0.5);
    }
    section.contactArea form fieldset textarea{
        height: 200px; resize: none;
    }
    section.contactArea form fieldset .btn_more{
        background-color: transparent; cursor: pointer; min-width: 120px;
    }


    section.contactArea div{
        width: 40%; margin-left: 11%;
    }
    /* 설명 이어해야함 */
    section.contactArea div ul:after{
        content: ''; display: block; visibility: hidden; clear: both;
    }
    section.contactArea div ul li{
        width: 50%; float: left; display: block;
    }
    section.contactArea div ul li a{
        display: block;
    }
    section.contactArea div ul li:nth-child(2n+1) a{
        text-align: left;
    }
    section.contactArea div ul li:nth-child(2n) a{
        text-align: right;
    }
    section.contactArea div ul li a img{
        width: 100%; max-width: 162px;
    }
}
/* ? desktop */