

@media screen and (min-width: 1280px) {
    #about{
        padding-left: 7%;
    }
    #about:after{
        content: ''; display: block; clear: both;
    }
    #about img{
        float: left; width: 25%; max-width: 235px;
    }
    #about figcaption{
        float: left; width: 65%; margin-left: 10%;
    }
    #about figcaption > *:not(a){
        margin-bottom: 20px;
    }
    #about figcaption h2{
        font-size: 22px; font-weight: 700; color: #413d4b;
    }
    #about figcaption p{
        font-size: 14px; font-weight: 300; color: rgba(65,61,75,0.75); line-height: 22px;
    }
    #about figcaption a.btn_more{
        max-width: 120px;
    }
    /* ? CI figure Fin */

    section.videoArea{
        background: url('../images/bg_02.png') left top / cover no-repeat;
        padding: 200px 0;
    }
    section.videoArea a{
        display: block; width: 100px; padding: 30px 0 25px 3px; border: 3px solid white;
        border-radius: 55px; text-align: center; font-size: 45px; color: white; margin: 0 auto 30px;
    }
    section.videoArea h2{
        font-size: 16px; font-weight: 900; color: white; text-align: center;
    }
    /* todo. expertise 완성해보기 */
    /* 
        * 1. global - font, guide 설정 셋팅하기.
        * 2. 첫 title(h2), 첫 문단(p), 구분선(hr)-module
        * 3. list 처리
        *   3-1. float 배치 (afterCancel)
        *   3-2. border 처리
        *   3-3. background-image 처리
        *   3-4. 부제(h3), 관련문단(p) 처리
    */
    section.expArea{
        text-align: center;
    }
    section.expArea h2{
        font-size: 22px; font-weight: 700; color: #413d4b; margin-bottom: 10px;
    }
    section.expArea > p{
        font-size: 14px; font-weight: 400; color: rgba(47,45,53,0.75); margin-bottom: 15px;
    }
    section.expArea > hr{
        border-color: rgba(65,61,75,0.3);
    }
    section.expArea ul:after{
        content: ''; display: block; clear: both;
    }
    section.expArea ul li{
        width: 33.33%; float: left; display: block; padding: 120px 2.65% 40px; box-sizing: border-box;
        background-repeat: no-repeat; background-position: center 30px;
    }
    section.expArea ul li:not(:nth-child(n):nth-child(-n+3)){
        border-top: 1px solid rgba(0,0,0,0.2);
    }
    section.expArea ul li:not(:nth-child(3n)){
        border-right: 1px solid rgba(0,0,0,0.2);
    }
    section.expArea ul li:nth-child(1){background-image: url('../images/ico_01.png');}
    section.expArea ul li:nth-child(2){background-image: url('../images/ico_02.png');}
    section.expArea ul li:nth-child(3){background-image: url('../images/ico_03.png');}
    section.expArea ul li:nth-child(4){background-image: url('../images/ico_04.png' );}
    section.expArea ul li:nth-child(5){background-image: url('../images/ico_05.png');}
    section.expArea ul li:nth-child(6){background-image: url('../images/ico_06.png');}

    section.expArea ul li h3{
        font-size: 14px; font-weight: 900; color: #413d4b; margin-bottom: 20px;
    }
    section.expArea ul li p{
        font-size: 14px; font-weight: 300; color: rgba(51,51,51,0.75); line-height: 22px;
    }
    /* ?expArea Fin */
    section.teamArea{
        background: url('../images/bg_03.png') left top / cover no-repeat; text-align: center; color: white;
        padding: 70px 0;
    }
    section.teamArea h2{
        font-size: 22px; font-weight: 700; margin-bottom: 10px;
    }
    section.teamArea p{
        font-size: 14px;
    }
    section.teamArea p:first-of-type{
        font-weight: 400; margin-bottom: 15px;
    }
    section.teamArea hr{
        border-color: rgba(255,255,255,0.2); max-width: 50px;
        /* ! 공용 규격(guide:940px)을 사용 할 수 없기 때문에 발생된 max-width. */
    }
    /* todo list 배치해보기 */
    section.teamArea ul{
        max-width: 940px; margin: 0 auto 70px;
    }
    section.teamArea ul:after{
        content: ''; display: block; clear: both;
    }
    section.teamArea ul li{
        width: 23.5%; float: left; display: block;
    }
    section.teamArea ul li:not(:first-child){
        margin-left: 2%;
    }
    section.teamArea ul li figure{
        background: url('https://via.placeholder.com/220x230') center top / contain no-repeat;
        padding-top: 230px;
    }
    section.teamArea ul li figure figcaption{
        border: 1px solid rgba(255,255,255,0.5); padding: 20px 0;
    }
    section.teamArea ul li figure figcaption dl dt{
        font-size: 14px; font-weight: 900; margin-bottom: 10px;
    }
    section.teamArea ul li figure figcaption dl dd{
        font-size: 13px; font-weight: 300; color: rgba(250,250,250,0.7);
    }
    section.teamArea ul + p{
        margin-bottom: 25px; font-weight: 300;
    }
    section.teamArea a.btn_more{
        max-width: 140px; margin: 0 auto;
    }
    /* ? teamArea Fin */
    section.worksArea{
        padding: 70px 0;
    }
    section.worksArea h2{
        font-size: 22px; font-weight: 700; color: #413d4b; max-width: 940px; margin: 0 auto 70px;
        position: relative;
    }
    section.worksArea h2 a{
        position: absolute; right: 0; top: 0; font-size: 14px; font-weight: 300; line-height: 22px;
        color: inherit;
        /* width: 20%; display: inline-block; margin-left: auto; */
        /* float: right; display: inherit; line-height: 22px; */
    }
    /* todo. worksArea ul li floating */
    section.worksArea ul{
        list-style: none; margin-bottom: 70px;
    }
    section.worksArea ul:after{
        content: ''; display: block; clear: both;
    }
    section.worksArea ul li{
        width: 16.66%; float: left;
    }
    section.worksArea ul li *{
        display: block;
    }
    section.worksArea ul li a img{
        width: 100%;
    }
    section.worksArea a.btn_more{
        max-width: 140px; margin: 0 auto;
    }
    /* ? worksArea Fin */

}
/* ? desktop */  