p.classEx1{
    color: red;
}
.btn{
    padding: 10px 30px;
    border-width: 1px;
    font-size: 18px;
}
.btn.create{
    background-color: white;
    color: black;
    border-style: solid;
    border-color: black;
}
.btn.modify{
    background-color: transparent;
    border-style: dashed;
    border-color: gray;
    color: gray;
}
.btn.delete{
    background-color: rgb(90, 0, 0);
    color: red;
    border-style: solid;
    border-color: red;
}
.btn.confirm{
    background-color: midnightblue;
    color: white;
    border-style: solid;
    border-color: blue;
}
.btn.cancel{
    color: gray;
    border-color: gray;
    border-style: solid;
}
#userName{
    border: 1px solid #eaeaea;
    line-height: 21px; font-size: 12px;
    padding: 5px 15px; color: green;
}