
[class^='ex']{
    color: red;
}

.ex1{
    text-decoration: underline;
}
.ex2{
    text-decoration: line-through;
}
.ex3{
    text-decoration: overline;
}

.btn{
    padding: 10px 30px;
    border-width: 1px;
    font-size: 14px;
}
.btn.create{
    background-color: white; color: black; border-style: solid; border-color: black;
}
.btn.modify{
    background-color: transparent; border-style: dashed; border-color: gray;
    color: gray; font-weight: bold;
}
.btn.delete{
    background-color: rgb(90,0,0);
    color: red; border-style: solid; border-color: red;
}
.btn.confirm{
    background-color: midnightblue; color: white; border-style: solid;
    border-color: blue;
}
.btn.cancel{
    color: lightgrey; border-color: gray; border-style: solid;
}