body{
    margin: 0;
}
h1{
    font-size: 12px; color: #f0c;
}
img{
    width: 350px; border: 3px solid #3f3;
}
ul,ol,dl{
    color: #60f;
}
ul li{
    font-size: 25px; font-weight: bold;
}
ol li{
    font-size: 20px; text-decoration: underline;
}

dl{
    font-size: 35px;
}
dl dt{
     color: orange;
}
dl dd{
    color: brown;
}
section ul li figure img{
    width: 50px;
}
section ul li figure figcaption dl dt{
    color: skyblue;
}
section ul li figure figcaption dl dd{
    font-size: 50px;
}