body{
    margin:0; padding:0;
}
h1{
    font-size:14px; color: #f03;
}
img{
    width:250px; height: 250px; border:5px solid #3f3;
}

/* * 각각의 태그를 지목하여 스타일을 설정 할 수 있다. */

ul,ol,dl{
    list-style: none; color: blue;
}
/* * , 로 여러 대상에게 동일한 스타일을 동시 설정 할 수 있다.(grouping) */

ul li{
    font-size: 15px; font-weight: bold;
}
ol li{
    font-size: 20px; text-decoration: underline;
}

/* * 하위대상을 지목하여 스타일을 설정 할 수 있다. */

dl dt, dl dd{
    font-size: 35px; font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* * 하위 대상에 grouping */