
@media screen and (max-width:767px){
    body{
        font-family: 'Noto Sans KR'; background-color: lightcoral; color: brown;
    }
    h1{
        font-size: 18px; line-height: 24px;
    }
    p{
        font-size: 12px; text-align: center; line-height: 18px;
    }
}
/* ? mobile device - 사용자 해상도가 768미만일 때 실행 되는 code. */

@media screen and (min-width:768px) and (max-width: 1279px){
    body{
        font-family: 'Roboto'; background-color: lightseagreen; color: darkblue;
    }
    h1{
        font-size: 24px; line-height: 30px; text-align: right;
    }
    p{
        font-size: 14px; text-align: left; line-height: 20px;
    }
}
/* ? tablet device - 사용자 해상도가 768이상일 때 1280미만일 때 실행 되는 code. */

@media screen and (min-width:1280px){
    body{
        font-family: 'Noto Sans KR'; background-color: blue; color: white;
    }
    h1{
        font-size: 32px; line-height: 48px;
    }
    p{
        font-size: 16px; text-align: right; line-height: 22px;
    }
}
/* ? desktop device - 사용자 해상도가 1280이상일 때 실행 되는 code. */