/* 
    ? 화면상 반응형 : 코드의 흐름이 거꾸로 올라감 (desktop -> tablet -> mobile = 화면크기순)
*/
/*
    * live server Device 연동 방법.
    * 1-1. window 기준 "window Key + r" 입력 후 cmd 입력 enter. -> ipconfig enter.(ipV4)
    * 1-2. mac 기준 wifi 설정 -> 세부사항 ip번호
    * 2. ip번호+port번호+/Responsive/step2/(index.html-생략가능) -> 접속하고자 하는 장치의 browser에서 입력
    todo. 192.168.100.48:5501/Responsive/step2
*/
@media screen and (min-width: 1280px){
    body{
        background-color: lightblue;
    }
    h1{
        font-size: 32px; line-height: 40px; background-color: lightgreen;
        margin-bottom: 30px;
    }
    article{
        background-color: lightgray; margin-bottom: 30px; padding: 30px;
    }
    article h2{
        background-color: seagreen; color: lightgreen; font-size: 24px; line-height: 30px;
        margin-bottom: 30px;
    }
    article p{
        background-color: lightyellow; font-size: 16px; line-height: 22px; padding: 20px;
        color: brown;
    }
}
/* 
    ? M(edia)/Q(uery) : 화면의 크기(viewPort : browser(scrollW 등 제외. 온전히 body부분))를 감지하는 코드
*/