
@media screen and (min-width:768px) and (max-width: 1279px) and (orientation: landscape){
    body{
        background-color: palevioletred; color: green; font-weight: normal;
    }
    h1{
        font-size: 18px; line-height: 24px; margin-bottom: 30px;
    }
    blockquote{
        background-color:forestgreen; color: white; margin-bottom: 20px; padding: 40px 0;
    }
    p{
        font-size: 14px; text-align: center; line-height: 20px;
    }
}

@media screen and (min-width:768px) and (max-width: 1279px) and (orientation: portrait){
    body{
        background-color: palegreen; color: green; font-weight: normal;
    }
    h1{
        font-size: 18px; line-height: 24px; margin-bottom: 30px;
    }
    blockquote{
        background-color:forestgreen; color: white; margin-bottom: 20px; padding: 40px 0;
    }
    p{
        font-size: 14px; text-align: center; line-height: 20px;
    }
}
/* ?tablet Device - 사용자의 해상도가 768이상, 1280미만 일 때 위 code가 실행됨. */

@media screen and (min-width:1280px){
    body{
        background-color: paleturquoise; color: blue; font-weight: bold;
    }
    h1{
        font-size: 24px; line-height: 32px; margin-bottom: 40px;
    }
    blockquote{
        background-color:blueviolet; color: white; margin-bottom: 30px; padding: 10px 0;
    }
    p{
        font-size: 16px; text-align: right; line-height: 21px;
    }
}
/* ?desktop Device - 사용자 해상도가 1280이상일 때 위 code가 실행됨. */