
@media screen and (max-width:767px) and (orientation:landscape){
    body{
        font-family: 'Roboto'; background-color: slateblue;
        text-align: center;
    }
    h1{
        font-weight: 700; font-size: 1.5rem; line-height: 2.1rem;
        color: navy;
    }
    p{
        font-weight: 400; font-size: 1.35rem; line-height: 2.15rem;
        color: mediumseagreen;
    }
}
/* ? mobile - 사용자 해상도가 768px 미만 일 때 실행. (가로보기) */

@media screen and (max-width:767px) and (orientation:portrait){
    body{
        font-family: 'Roboto'; background-color: yellow;
    }
    h1{
        font-weight: 700; font-size: 1rem; line-height: 1.8rem;
        text-align: right; color: green;
    }
    p{
        font-weight: 400; font-size: 0.85rem; line-height: 1.45rem;
        text-align: left; color: darkgreen;
    }
}
/* ? mobile - 사용자 해상도가 768px 미만 일 때 실행. (세로보기) */

@media screen and (min-width:768px) and (max-width:1279px) and (orientation:landscape){
    body{
        font-family: 'Roboto'; background-color: red; color: white;
        text-align: right;
    }
    h1{
        font-weight: 300; font-size: 2rem; line-height: 2.5rem;
    }
    p{
        font-weight: 500; font-size: 1rem; line-height: 1.6rem;
    }
}
/* ? tablet - 사용자 해상도가 768px 이상 일 때 1280 미만 일 때 실행. (가로보기) */

@media screen and (min-width:768px) and (max-width:1279px) and (orientation:portrait){
    body{
        font-family: 'Roboto'; background-color: green; color: white;
        text-align: center;
    }
    h1{
        font-weight: 300; font-size: 3rem; line-height: 3.8rem;
    }
    p{
        font-weight: 500; font-size: 1.5rem; line-height: 2.1rem;
    }
}
/* ? tablet - 사용자 해상도가 768px 이상 일 때 1280 미만 일 때 실행. (세로보기) */

@media screen and (min-width:1280px){
    body{
        font-family: 'Roboto'; background-color: blue; color: white;
    }
    h1{
        font-weight: 300; font-size: 2rem; line-height: 3rem;
    }
    p{
        font-weight: 500; font-size: 1rem; line-height: 1.5rem;
    }
}
/* ? desktop - 사용자 해상도가 1280px 이상 일 때 실행. */