body{
    margin: 0;
}
.firstDiv{
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    background-color: #555;
}
.firstDiv article{
    background-color: #039; color: white;
}
.secondDiv{
    background-color: #ddd; margin: 20px 15px;
    /* padding-bottom: 10px; */
    /* ! firstDiv의 margin-bottom: 10px 상쇄. */
}
.secondDiv article{
    background-color: #930; margin: 10px;
    /* margin-top: 10px; */
    /* ! margin-bottom이 오적용된것을 확인 할 수 있다.(부모경계선너머 적용) */
    /* ? 그렇기 때문에 부모요소가 자손요소에게 padding을 사용함이 바람직 하다. */
}
.centerDiv{
    border: 1px solid #33f; text-align: center;
    margin: 0 auto; width: 300px; padding: 10px;
    /* ! padding, border 는 대상너비에 가산된다. */
}