body{
    margin: 0;
}
.firstDiv{
    margin-top: 10px; /* ! body 입장에서 padding 이기 때문에 잘못된 케이스*/
    margin-right: 10px; /* ! body 입장에서 padding 이기 때문에 잘못된 케이스*/
    margin-bottom: 10px;
    margin-left: 10px; /* ! body 입장에서 padding 이기 때문에 잘못된 케이스*/
    background-color: #555;
}
.firstDiv article{
    background-color: #039; color: white;
}