body{
    margin: 0;
}
#wrap{
    width: 300px; background-color: #999; margin: 0 auto; position: relative;
    height: 200px; top: 100px; overflow-y: scroll;
}
#wrap div{
    width: 150px; height: 150px;
}
#wrap .redBox{background-color: #f00; position: absolute; left: 10px; top: 10px; z-index: 100;}
#wrap .greenBox{background-color: #0f0; position: absolute; left: 50px; top: 50px; z-index: 1;}
#wrap .blueBox{background-color: #00f; position: absolute; left: 90px; top: 90px; z-index: 10;}