#wrap{
    margin: 0 auto; width: 300px; height: 200px; background-color: #999;
    position: relative; overflow-y: scroll;
}
#wrap div{
    width: 150px; height: 150px; position: absolute;
}
#wrap .redBox{background-color: #f00; left: 10px; top: 10px; z-index: 10;}
#wrap .greenBox{background-color: #0f0; left: 50px; top: 50px; z-index: 100;}
#wrap .blueBox{background-color: #00f; left: 90px; top: 90px; z-index: 1;}