#wrap{
    width: 300px; height: 200px; margin: 0 auto; background-color: #999;
    position: relative;
}
#wrap div{
    width: 150px; height: 150px; position: absolute;
}
#wrap .redBox{
    background-color: red; left: 10px;
}
#wrap .greenBox{
    background-color: green; left: 50px;
}
#wrap .blueBox{
    background-color: blue; left: 90px;
}