body{
    margin: 0; height: 2000px;
}
.position_A{
    position: absolute; left: 300px; top: 300px; background-color: #fc0;
    width: 150px; height: 150px;
}
/* 
    ? position: absolute이고 부모 relative가 존재하지 아니하면 browser의 좌,상을 기준으로움직인다.
    * computer Language는 sync(동기) / async(비동기) 로 분류되는데  대부분은 동기 =  적는 순서가 곧 실행 순서.
*/
.position_R{
    position: relative; width: 150px; height: 150px; margin: 0 auto;
    background-color: #0f0; left: 50px; top: 50px;
}
.position_R .position_A2{
    position: absolute; left: 50px; top: 50px; width: 50px; height: 50px;
    background-color: forestgreen;
}
/* 
    ? 자손 absolute (부모가 relative)는 relative 부모의 기준을 두고 움직인다.
    * 부모가 움직이면 그에 따라 움직인다.
*/
.position_F{
    position: fixed; background-color: limegreen; width: 100%; padding: 50px;
    top: 0; left: 0;
}
/* 
    ? position: fixed은 무조건 browser의 좌,상을 기준.
    * browser의 scroll 영향을 받지 않는다. (고정)
    * 자손들의 너비가 반드시 fixed 너비 만큼이어야 한다. 그렇지 않으면 좌,우 scroll 발생.
    ! position 해제 방법 - static. - positioning 해제. 기존 block으로 돌려놓는다.
*/
.position_S{
    position: sticky; top: 10px; width: 100px; height: 100px; left: 0;
    background-color: blueviolet;
    /* 
        ? position: sticky는 scroll에 영향을 받다가 자신에게 부여된 top좌표에 도달하면 fixed.
    */
}