body{
    margin: 0; height: 2000px;
}
.position_A{
    position: absolute; left: 300px; top: 300px; background-color: #fc0;
    width: 150px; height: 150px;
}
.position_R{
    position: relative; width: 150px; height: 150px; margin: 0 auto; background-color: #0f0;
}
.position_R .position_A2{
    position: absolute; top: 50px; left: 50px; width: 50px; height: 50px;
    background-color: #0ff;
}
.position_F{
    background-color: #f99; position: fixed; width: 100%; top: 0; line-height: 55px;
    /* ! position 해제 - static */
}
.position_S{
    position: sticky; background-color: blueviolet; width: 200px; height: 200px;
    color: white; top: 55px;
}