html,body,.wrap{
    height: 100%;
}
*{
    margin: 0; padding: 0;
}
.wrap aside{
    width: 250px; height: 100%; position: fixed; background-color: paleturquoise; padding: 30px 15px;
    box-sizing: border-box;
}
.wrap aside h1{
    text-align: center; margin-bottom: 50px;
}
.wrap aside h1 a{
    display: block;
}
.wrap aside nav ul{
    list-style: none;
}
.wrap aside nav ul li:not(:last-child){
    margin-bottom: 15px;
}
.wrap aside nav ul li{
    text-align: center;
}
.wrap aside nav ul li a{
    display: block; font-size: 20px; line-height: 26px; color: green; text-decoration: none;
}
.wrap aside nav ul li a:hover{
    text-decoration: underline; color: darkorchid;
}
.wrap aside footer{
    background-color: midnightblue; color: white; font-size: 12px; position: absolute;
    bottom: 30px; width: 100%; left: 0; text-align: center;
}
.wrap article{
    padding-left: 265px; background-color: palegoldenrod;
}
.wrap article >*:not(div){
    margin-bottom: 100px;
}
.wrap article h2{
    font-size: 40px; color: forestgreen; font-weight: bold;
}
.wrap article blockquote{
    border: 5px solid yellowgreen; padding: 30px; box-sizing:border-box; font-size: 26px;
}
.wrap article q{
    display: block; font-size: 21px;
}
.wrap article div{
    margin-bottom: 50px;
}
.wrap article div h3{
    color:purple; font-size: 30px; margin-bottom: 50px;
}
.wrap article div p{
    font-size: 21px; line-height: 40px; color: darkolivegreen;
}