html,body,.wrap{
    height: 100%;
}
*{
    margin: 0; padding: 0;
}
.wrap aside{
    width: 250px; background-color: rgba(175, 238, 238, 1); height: 100%;
    padding: 30px 15px; box-sizing: border-box; position: fixed;
}
.wrap aside header{
    margin-bottom: 50px;
}
.wrap aside header h1 a{
    display: block; text-align: center;
}
.wrap aside header h1 a img{
    width: 100%; display: block;
}
.wrap aside nav ul{
    list-style: none;
}
.wrap aside nav ul li:not(:last-child){
    margin-bottom: 15px;
}
.wrap aside nav ul li a{
    display: block; text-align: center; line-height: 26px; text-decoration: none;
    color: green; font-size: 20px;
}
.wrap aside nav ul li a:hover{
    text-decoration: underline; color: darkmagenta;
}
.wrap aside footer{
    position: absolute; left: 0; bottom: 30px; font-size: 12px; width: 100%; color: white;
    background-color: midnightblue; text-align: center;
}
/* ? aside Fin */

.wrap article{
   padding-left: 265px; background-color: palegoldenrod;
}
.wrap article > *:not(div){
    margin-bottom: 100px;
}
.wrap article h2{
    font-size: 40px; color: forestgreen; font-weight: bold;
}
.wrap article blockquote{
    border: 5px solid olive; padding: 30px; box-sizing: border-box; font-size: 26px;
}
.wrap article q{
    font-size: 21px; display: block;
}
.wrap article div:not(:last-of-type){
    margin-bottom: 50px;
}
.wrap article div h3{
    color: purple; font-size: 30px; margin-bottom: 50px;
}
.wrap article div p{
    font-size: 21px; line-height: 40px; color: darkolivegreen;
}
/* ? right Article Fin */