@charset "utf-8";
/* CSS Document */

a{text-decoration:none; font-size:20px; word-spacing:15px; display:inline-block;}

a:link{color:#33F;} /* 평시 상태 */
a:visited{color:#C00;} /* 방문한 적이 있는 상태 */
a:hover{color:#3CF; text-decoration:underline;} /* 마우스 오버 상태 */
a:active{color:#F00;} /* 마우스일경우 버튼을 누르고 있는(활성화된) 상태 */