.wrap{
    background-color: gray;
}
.wrap .exam_1:after{
    content: ''; display: block; clear: both;
}
.wrap .exam_1 img{
    float: left;
}
.wrap .exam_2{
    background-color: deeppink;
    /* clear: left; */
}
.wrap .exam_2:after{
    content: ''; display: block; clear: both;
}
.wrap .exam_2 div{
    width: 50%; height: 300px; background-color: salmon;
    float: left;
}