#wrap{
    width: 300px; height: 200px; margin: 0 auto; background-color: #999;
    position: relative; overflow-y: scroll;
}
#wrap div{
    width: 150px; height: 150px; position: absolute;
}
#wrap .redBox{
    background-color: #f00; color: #fff; left: 10px; top: 10px; z-index: 10;
}
#wrap .greenBox{
    background-color: #0c0; left: 50px; top: 50px; z-index: 100;
}
#wrap .blueBox{
    background-color: #39f; left: 90px; top: 90px; z-index: 1;
}