body,h1,h2,h3,p{
    margin: 0;
}
body{
    width: 960px; margin: 0 auto; background-color: #ffc;
}
header{
    background-color: #cff;
}
header nav{
    background-color: #9f9;
}
.wrap{
    margin-bottom: 20px;
    /* ?tempCode 
    background-color: orangered;
    */
}
.wrap:after{
    content: ''; display: block; clear: both;
}
.wrap aside,
.wrap section{
    height: 600px; float: left;
}
.wrap aside{
    background-color: #f96; width: 200px;
}
.wrap section{
    background-color: #66f; width: 760px;
}
footer{
    background-color: #f9f;
}