body{
    height: 2000px;
}
.position_A{
    position: absolute;
    left: 300px; top: 300px; background-color: #fc0;
    width: 150px; height: 150px;
}
.position_R{
    position: relative; width: 150px; height: 150px;
    background-color: #0f0; margin: 0 auto;
}
.position_R .position_A2{
    position: absolute; top: 50px; left: 50px;
    width: 50px; height: 50px; background-color: #0ff;
}

.position_F{
    position: fixed; width: 80px; height: 80px; top: 0; left: 0;
    background-color: #f99;
}
/*static은 포지션을 해제하고 이동성을 없애는 기존 객체 속성으로 돌려 놓을 때 사용 한다.*/