body{
    height: 2000px;
}
.position_F{
    position: fixed; width: 80px; height: 80px; top: 0; left: 0;
    background-color: #9f9;
}
.position_A {
    position: absolute;
    left: 300px;
    top: 300px;
    background-color: #FC0;
    width: 150px;
    height: 150px;
}
.position_R {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    background-color: #0F0;
}

.position_R .position_A2 {
    position: absolute;
    top: 50px;
    left: 50px; 
    width: 50px;
    height: 50px;
    background-color: #0FF;
}