*{
    margin: 0; padding: 0;
}
body{
    width: 960px; margin: 0 auto; background-color: #ffc;
}
header{
    background-color: #cff;
}
header nav{
    background-color: #9f9;
}
.wrap{
    margin-bottom: 20px; background-color: salmon;
}
.wrap:after{
    content: ''; display: block; clear: both;
}
.wrap aside,
.wrap section{
    height: 800px; float: left;
}
.wrap aside{
    width: 200px; background-color: rgba(200,100,10,0.5);
}
.wrap section{
    width: 760px; background-color: rgba(10,100,200,0.5);
}
footer{
    background-color: #f9f;
}