body{
    margin: 0;
}
ul{
    margin: 0; padding: 0; background-color: paleturquoise;
}
ul:after{
    content: ''; display: block; clear: both;
}
ul li{
    display: block; width: 33.33%; float: left; background-color: white; border: 1px solid red;
    box-sizing: border-box;
}
ul li figure{
    margin: 0;
}
ul li figure img,
ul li figure figcaption{
    float: left; width: 49%;
}
ul li figure img{
    margin-right: 2%;
}
ul li figure figcaption{
    border-bottom: 1px solid goldenrod;
}
ul li figure figcaption dl dt{
    font-size: 24px; margin-bottom: 35px;
}
ul li figure figcaption dl dd{
    font-size: 14px;
}