body{
    margin: 0;
}
ul{
    margin: 0; padding: 0; list-style: none;
}
ul:after{
    content: ''; display: block; clear: both;
}
ul li{
    width: 33.33%; border: 1px solid red; box-sizing: border-box; float: left;
    /* display: block; */
}
ul li figure{
    margin: 0;
}
ul li figure > *{
    float: left; width: 49%;
}
ul li figure img{
    margin-right: 2%;
}
ul li figure figcaption{
    border-bottom: 1px solid black;
}
ul li figure figcaption dl dt{
    font-size: 24px; margin-bottom: 30px;
}
ul li figure figcaption dl dd{
    font-size: 14px; line-height: 24px;
}