html,body,.wrap{
    height: 100%;
}
body{
    margin: 0;
}
.wrap aside ul,
.wrap .contentBox h2{
    margin: 0; padding: 0;
}
.wrap aside{
    height: 100%; width: 250px; background-color: #09f;
    position: fixed; left: 0; top: 0;
}

.wrap .contentBox{
    background-color: #f60; padding-left: 250px;
}
.wrap .contentBox h2{
    height: 2000px;
}
