html,body,.wrap{
    height: 100%;
}
body{
    margin: 0;
}
.wrap aside{
    height: 100%; width: 250px; background-color: #09f; position: fixed;
}
.wrap aside ul{
    padding: 0; margin: 0;
}
.wrap .contentBox{
    background-color: #f60; padding-left: 270px;
}

.wrap .contentBox p{
    margin: 0; height: 2000px; background-color: yellow; font-size: 50px;
}