*{
    margin: 0; padding: 0;
}
.wrap{
    width: 960px; margin: 0 auto; background-color: rgba(100,40,10,0.5);
}
/* .wrap header{
    background-color: #ff6a00;
} */
.wrap header:after{
    content: ''; display: block; clear: both;    
}
.wrap header h1{
    width: 130px; float: left; background-color: brown; text-align: center; color: white;
    font-size: 20px; line-height: 55px;
    /* padding: 15px 0; */
    
}
.wrap header nav{
    width: 830px; float: left; background-color: midnightblue;
}
/* float or display inline-block */
/* .wrap header nav ul{
    width: 500px; margin: 0 auto; list-style: none;
}
.wrap header nav ul:after{
    content: ''; display: block; clear: both;
}
.wrap header nav ul li{
    float: left; width: 100px; text-align: center;
}
.wrap header nav ul li a{
    color: white; line-height: 55px;
} */
 .wrap header nav ul{
    text-align: center;
 }
 .wrap header nav ul li{
    display: inline-block;
 }
 .wrap header nav ul li a{
     color: white; line-height: 55px;
 }
 .wrap section{
    margin-bottom: 300px;
 }