*{
    margin: 0; padding: 0;
}
.wrap{
    width: 960px; margin: 0 auto;
}
/* .wrap header{
    background-color: #ff6a00;
} */
.wrap header:after{
    content: ''; display: block; clear: both;
}
.wrap header h1{
    text-align: center; color: white; background-color: rgba(255,0,0,1);
    width: 130px; float: left; line-height: 55px;
}
.wrap header nav{
    background-color: rgba(0,0,255,1); width: 830px; float: left;
}
.wrap header nav ul{
    text-align: center;
}
.wrap header nav ul li{
    display: inline-block;
}
.wrap header nav ul li a{
    color: white; line-height: 55px; display: block;
}