body{
    margin: 0; padding: 0;
    /* padding-top: 200px; */
}
header{
    background-color: red; position: fixed; width: 100%;
    height: 200px; color: white; left: 0; top: 0;
    z-index: 1000;
}
section{
    background-color: black; position: relative;
    height: 1200px; 
    /* margin-top: 200px; */
    /* overflow-y: hidden; */
}
section aside,
section article{
    position: absolute; height: 100%; 
}
section aside{
    width: 20%; left: 0; top: 0;
    /* top: 200px; */
    background-color: green;
}
section article{
    width: 70%; right: 0; top: 0;
    /* top: 200px; */
    background-color: blue;
}
footer{
    padding:20px 0; text-align:center;
    font-size:24px; background-color:orange;
}