body{
    width: 960px; margin: 0 auto;
}
header{
    background-color: #6ff;
}
header h1{
    font-size: 16px; width: 250px; background-color: #66f; color: #fff;
    text-align: center; margin: 0 auto; line-height: 40px;
}
/* todo St*/
header div{
    
    display: none;
}
/* todo Fin*/
header nav{
    background-color: #3cf;
}
header nav ul{
    margin: 0; padding: 0; text-align: center;
}
header nav ul li{
    display: inline-block;
}
header nav ul li:not(:first-child){
    margin-left: 40px;
}
header nav ul li a{
    display: block; line-height: 40px; text-decoration: none; color: #000;
    transition: color .35s ease-out;
}
header nav ul li a:hover{
    color: #fff;
}
/* ?header Fin */
.wrap:after{
    content: ''; display: block; clear: both;
}
.wrap img{
    margin-bottom: 30px; display: block;
}
.wrap div{
    width: 310px; float: left; border: 1px solid #999; box-sizing: border-box;
}
.wrap div:not(:first-of-type){
    margin-left: 15px;
}
.wrap div h3{
    margin: 0 0 20px;
}
.wrap div ul{
    margin: 0; padding: 0; list-style: none;
}
footer{
    background-color: #069; color: #fff; line-height: 40px; text-align: center;
}