*{
    margin: 0; padding: 0;
}
body{
    width: 960px; margin: 0 auto; background-color: palegoldenrod;
}
header{
    background-color: #cff;
}
header nav{
    background-color: #9f9;
}
.wrap{
    margin-bottom: 20px; background-color: palevioletred;
}
.wrap:after{
    content: ''; display: block; clear: both;
}
.wrap aside,
.wrap section{
    float: left; height: 800px;
}
.wrap aside{
    background-color: #f96; width: 200px;
}
.wrap section{
    background-color: #66f; width: 760px;
}
footer{
    background-color: pink;
}