body{
    width: 960px; margin: 0 auto;
}
header{
    background-color: #6ff; position: relative;
}
header h1{
    font-size: 16px; width: 250px; background-color: #66f; color: #fff;
    text-align: center; margin: 0 auto; line-height: 40px;
}
header div{
    position: absolute; right: 0; top: 26px;
}
header div input{
    display: block; float: left; font-size: 14px;
    border: 1px solid darkgreen;
}
header div input[type='submit']{
    padding: 6px 0 5px; background-color: hotpink; width: 20%;
}
header div input#searchBar{
    width: 80%; background-color: lightpink; padding: 7px 0;
}
header nav{
    background-color: #3cf;
}
header nav ul{
    text-align: center; margin: 0; padding: 0;
}
header nav ul li{
    display: inline-block;
}
header nav ul li.marginLeft{
    margin-left: 40px;
}
header nav ul li a{
    display: block; color: #000; text-decoration: none; line-height: 40px;
}
header nav ul li a:hover{
    color: #fff;
}

