body{
    width: 960px; margin: 0 auto;    
}
header{
    background-color: skyblue; position: relative;
}
header h1{
    background-color: slateblue; color: white; width: 250px; margin: 0 auto;
    text-align: center; line-height: 40px; font-size: 16px;
}
header div{
    position: absolute; right: 0; top: 26px;
}
header div:after{
    content: ''; display: block; clear: both;
}
header div input{
    /* ? display: inline-block -> margin 4px. (x) */
    /* ! line-height -> 제일 적용 안되는 애들이 input 계열. */
    display: block; float: left; padding: 6px 0; box-sizing: border-box;
    font-size: 14px; border: 1px solid darkcyan; width: 20%;
}
header div input#searchBar{
    padding: 7px 0; background-color: pink; width: 80%;
}
/* header div input[type='submit']{
    width: 20%;
} */
header nav{
    background-color: cadetblue;
}
header nav ul{
    text-align: center; margin: 0; padding: 0; line-height: 40px;
}
header nav ul li{
    display: inline-block;
}
header nav ul li.marginLeft{
    margin-left: 40px;
}
header nav ul li a{
    text-decoration: none; color: #000; display: block;
}
header nav ul li a:hover{
    color: white;
}
/* ? header Fin */
.wrap:after{
    content: ''; display: block; clear: both;
}
.wrap img{
    margin-bottom: 30px;
}
.wrap div{
    width: 310px; border: 1px solid grey; float: left; box-sizing: border-box;
}
.wrap div.latest2,
.wrap div.latest3{
    margin-left: 15px;
}
.wrap div h3{
    margin: 0 0 20px;
}
.wrap div ul{
    margin: 0; padding: 0; list-style: none;
}
footer{
    background-color: #069; color: white; line-height: 40px; text-align: center;
}