* {
    margin: 0; padding: 0;
}
ul:after {
    content: ''; display: block; clear: both;
}
ul li {
    width: 16.66%; float: left; list-style: none; border: 1px solid black;
    box-sizing: border-box;
}

ul li figure img {
    width: 100%; display: block;
}

ul li figure figcaption dl {
    text-align: center; background-color: yellow;
}