body{
    width: 960px; margin: 0 auto;
}
header{
    background-color: skyblue; position: relative;
}
header h1{
    font-size: 16px; line-height: 40px; text-align: center; background-color: magenta;
    width: 250px; margin: 0 auto;
}
header div{
    position: absolute; right: 0; top: 27px;
}
header nav{
    background-color: palevioletred;
}
header nav ul{
    text-align: center; margin: 0; padding: 0;
}
header nav ul li{
    display: inline-block;
}
header nav ul li.marginLeft{
    margin-left: 50px;
}
header nav ul li a{
    color: black; text-decoration: none; line-height: 40px; display: block;
}
header nav ul li a:hover{
    color: white;
}
.wrap:after{
    content: ''; display: block; clear: both;
}
.wrap img{
    width: 100%; margin-bottom: 30px;
}
.wrap div{
    width: 310px; border: 1px solid #999; box-sizing: border-box; float: left;
}
.wrap div.latest2,
.wrap div.latest3{
    margin-left: 15px;
}
.wrap div h3{
    margin: 0 0 20px 0;
}
.wrap div ul{
    margin: 0; padding: 0; list-style: none;
}
footer{
    background-color: darkmagenta; color: white; line-height: 40px; text-align: center;
}