*{
    margin: 0; padding: 0;
}
ul{
    list-style: none;
}
ul:after{
    content: ''; display: block; clear: both;
}
ul li{
    float: left; width: 16.66%; border: 1px solid black; box-sizing: border-box;
}
ul li figure img{
    width: 100%; display: block;
}
ul li figure figcaption dl{
    text-align: center; background-color: yellow;
}