body{
    margin: 0 auto; width: 960px;    
}
header{
    position: relative; background-color: skyblue;
}
header h1{
    width: 250px; margin: 0 auto; background-color: #66f;
    color: white; font-size: 16px; line-height: 40px;
    text-align: center;
}
header div{
    position: absolute; right:0; top: 27px;
}
header nav{
    background-color: dodgerblue;
}
header nav ul{
    margin: 0; padding: 0; list-style: none; text-align: center;
}
header nav ul li{
    display: inline-block; line-height: 40px;
}
header nav ul li.marginLeft{
    margin-left: 40px;
}
header nav ul li a{
    text-decoration: none; color: black; display: block;
}
.wrap:after{
    content: ''; display: block; clear: both;
}
.wrap img{
    margin-bottom: 30px;
}
.wrap div{
    width: 310px; float: left; border: 1px solid gray;
    box-sizing: border-box;
}
.wrap div.latest2,
.wrap div.latest3{
    margin-left: 15px;
}
.wrap div ul{
    padding: 0; margin: 0; list-style: none;
}
footer{
    background-color:seagreen; color: white; line-height: 40px;
    text-align: center;
}