*{margin:0; padding: 0; overflow: hidden;}
ul li{width:16.66%; float: left; display: block; border: 1px solid black; box-sizing: border-box;}
ul li figure img{width:100%; display: block;}
ul li dl{background-color: yellow; text-align: center;}