.wrap{
    background-color: gray;
}
.wrap .exam_1 img{
    float: left;
}
.wrap .exam_2{
    background-color: midnightblue;
}
.wrap .exam_2:after{
    /* ? :after 후위선택자 추후 선택자에서 배움. */
    content: ''; display: block; clear: both; visibility: hidden;
    /* content 빈문자열로 공간개방 및 display block으로 width 100% 설계 이후 float해제속성인 clear. */
}
.wrap .exam_2 div{
    background-color: slateblue; width: 300px; height: 300px; float: left;
}
.wrap .exam_3{
    background-color: orange;
    clear: left;
}