.wrap{
    background-color: gray;
}
.wrap .exam_1 img{
    float: left;
    margin-right: 25px;
}
.wrap .exam_1 p{
    font-size: 30px; line-height: 40px; margin: 0;
}
.wrap .exam_2{
    background-color: midnightblue;
}
.wrap .exam_2:after{
    clear: left; content: ''; display: block; visibility: hidden;
}
.wrap .exam_2 div{
    width: 300px; height: 300px; background-color: slateblue;
    float: left;
}
.wrap .exam_3{
    background-color: orange;
    clear: left;
}