*{
    margin: 0; padding: 0;
}
body{
    background-color: #ffc; width: 960px; margin: 0 auto;
}
header{
    background-color: #cff;
}
header nav{
    background-color: #9f9;
}
.wrap{
    margin-bottom: 30px; background-color: slategrey;
}
.wrap:after{
    content: ''; display: block; clear: both;
}
.wrap aside, .wrap section{
    height: 800px; float: left;
}
.wrap aside{
    width: 200px; background-color: #f96;
}
.wrap section{
    width: 760px; background-color: #66f;
}
footer{
    background-color: #f9f;
}