*{
    margin: 0; padding: 0;
}
body{
    width: 960px; margin: 0 auto; background-color: #ffc;
}

header{
    background-color: #cff;
}
nav{
    background-color: #9f9;
}

.wrap aside{
    background-color: #f96;
}
.wrap section{
    background-color: #66f;
}
footer{
    background-color: #f9f;
}