body{
    width: 960px; margin:0 auto; background-color: #ffc;
}

header{
    background-color:#cff;
}
nav{
    background-color: #9f9;
}
.wrap{
    margin-bottom: 50px;
    overflow: hidden;
}
/* .wrap:after{
    content:''; display: block; visibility: hidden; clear: both;
} */
.wrap aside, .wrap section{height: 800px; float: left;}
.wrap aside{
    width: 200px; background-color: #f96;
}
.wrap section{
    width: 760px; background-color: #66f;
}
.wrap section article{
    background-color: #cff;
}

/*
float를 이용하여 레이아웃을 설계 하는 경우, float가 들어간 부분의 밑 객체가 
같이 딸려오는 현상이 있는데, 이를 방지 하기 위해서는 float를 사용한 객체의 부모
객체에게 overflow:hidden;을 준다.
*/

footer{
    background-color: #f9f;
}