*{
    margin: 0; padding: 0;
}
body{
    width: 960px; margin: 0 auto; background-color: #ffc;
}

header{
    background-color: #cff;
}
nav{
    background-color: #9f9;
}
.wrap{
    margin-bottom: 20px;
}
.wrap:after{
    content: ''; display: block; visibility: hidden; clear: both;
}
.wrap aside,
.wrap section{
    float: left; height: 800px;
}
.wrap aside{
    background-color: #f96; width: 200px;
}
.wrap section{
    background-color: #66f; width: 760px;
}
footer{
    background-color: #f9f;
}
/*
    float를 이용하여 레이아웃을 설계 하는 경우, float가 들어간 부분의 밑 객체가 
    같이 딸려오는 현상이 있는데, 이를 방지 하기 위해서는 float를 사용한 객체의 부모
    객체에게 overflow:hidden; or afterCancel을 준다.
*/