*{
    margin: 0; padding: 0;
}
.wrap{
    width: 960px; margin: 0 auto;
}
.wrap header{
    background-color: slateblue;
}
.wrap header:after{
    content: ''; display: block; visibility: hidden; clear: both;
}
.wrap header h1{
    text-align: center; color: white; background-color: red; font-size: 20px; line-height: 55px;
    width: 130px; float: left;
}
.wrap header nav{
    background-color: blue; width: 830px; float: left;
}
.wrap header nav ul{
    text-align: center; line-height: 55px;
}
.wrap header nav ul li{
   display: inline-block;
}
.wrap header nav ul li a{
    color: white; text-decoration: none; display: block;
}
/* .wrap section{
    background-color:deeppink;
} */
.wrap section:after{
    content: ''; display: block; visibility: hidden; clear: both;
}
.wrap section h2{
    background-color: steelblue;
}
.wrap section article{
    float: left; width: 33.333%; background-color: white;
}
.wrap section article h3{
    background-color: black; color: white;
}
/* .wrap section article ul{
    list-style: none;
} */
.wrap section article ul li{
    line-height: 30px; display: block;
}
.wrap footer{
    background-color: blueviolet; color: white; line-height: 55px; text-align: center;
}