*{
    margin:0; padding:0;
}
.wrap{
    width: 960px; margin: 0 auto;
}
.wrap header{
    background-color: #ff6a00;
}

.wrap header h1{
    text-align: center; color: white; font-size: 20px;
    line-height: 55px; background-color: red;
    width: 130px; float: left;
}
.wrap header nav{
    background-color: blue;
    width: 830px; float: left;
}
.wrap header nav ul{
    text-align: center;
}
.wrap header nav ul li{
    display: inline-block;
}
.wrap header nav ul li a{
    color: white; line-height: 55px; display: block;
}