*{
    margin: 0; padding: 0;
}
.wrap{
    width: 960px; margin: 0 auto;
}
.wrap header{
    background-color: #ff6a00;
}
.wrap header:after{
    content: ''; display: block; clear: both; visibility: hidden; 
}
.wrap header h1{
    background-color: red; width: 130px; float: left; text-align: center; color: white;
    font-size: 20px; line-height: 55px;
}
.wrap header nav{
    background-color: blue; width: 830px; float: left;
}
.wrap header nav ul{
    text-align: center;
}
.wrap header nav ul li{
    display: inline-block;
}
.wrap header nav ul li a{
    color: white; line-height: 55px; display: block;
}
section{
    margin-bottom: 300px;
}
section:after{
    content: ''; display: block; visibility: hidden; clear: both;
}
section h2{
    background-color: #0cf;
}
section article{
    float: left; width: 33.33%;
}
section article h3{
    background-color: black; color: white;
}
section article ul{
    list-style: none;
}
section article ul li{
    font-size: 14px; line-height: 35px;
}
footer{
    text-align: center; background-color: #4800ff; color: white; line-height: 55px;
}