*{
    margin: 0; padding: 0;
}
.wrap{
    width: 960px; margin: 0 auto;
}
.wrap header{
    background-color: #ff6a00;
}
.wrap header:after{
    content: ''; display: block; clear: both; visibility: hidden; 
}
.wrap header h1{
    background-color: red; width: 130px; float: left; text-align: center; color: white;
    font-size: 20px; line-height: 55px;
}
.wrap header nav{
    background-color: blue; width: 830px; float: left;
}
.wrap header nav ul{
    text-align: center;
}
.wrap header nav ul li{
    display: inline-block;
}
.wrap header nav ul li a{
    color: white; line-height: 55px; display: block;
}
/* menu 영역의 경우 text의 변화에 따른 상호 간격이 달라지기 때문에 float 보다는 inline-block이 효율적 */
section{
    margin-bottom: 300px;
}
section:after{
    content: ''; display: block; visibility: hidden; clear: both;
}
section h2{
    background-color: #0cf;
}
section article{
    float: left; width: 33.33%;
}
section article h3{
    background-color: black; color: white;
}
section article ul{
    list-style: none;
    /* li default : list-item 이기 때문에 bullet 발생. 없애는 방법 */
}
section article ul li{
    font-size: 14px; line-height: 35px;
    /* 위 방법이 아니라면 li 자체를 display: block으로 변경. */
}
footer{
    text-align: center; background-color: #4800ff; color: white; line-height: 55px;
}