body{
    margin: 0 auto; padding: 0; width: 960px;
}
header{
    background-color: #6ff; position: relative;
}
header h1{
    width: 250px; margin: 0 auto; background-color: #66f; color: #fff;
    text-align: center; line-height: 40px; font-size: 16px;
}
header div{
    position: absolute; right: 0; top: 27px;
}
header nav{
    background-color: #3cf;
}
header nav ul{
    margin: 0; padding: 0; text-align: center;
}
header nav ul li{
    display: inline-block;
}
header nav ul li.marginLeft{
    margin-left: 40px;
}
header nav ul li a{
    text-decoration: none; color: #000; display: block; line-height: 40px;
}

.wrap:after{
    content: ''; display: block; visibility: hidden; clear: both;
}
.wrap div{
    margin-bottom: 30px;
}
.wrap article{
    width: 310px; float: left; border: 1px solid #999; box-sizing: border-box;
}
.wrap article.latest2,
.wrap article.latest3{
    margin-left: 15px;
}
.wrap article h3{
    margin: 0 0 20px 0;
}
.wrap article ul{
    margin: 0; padding: 0;
}
.wrap article ul li{
    display: block;
}
footer{
    background-color: #069; line-height: 40px; text-align: center; color: #fff;
}