body{
    width: 960px; margin: 0 auto;
}
header{
    background-color: #6cc; position: relative;
}
header h1{
    background-color: #66c; width: 250px; margin: 0 auto;
    color: springgreen; text-align: center; line-height: 55px;
}
header .searchBox{
    position: absolute; right: 0; top: 40px;
}
header nav{
    background-color: #dac;
}
header nav ul{
    text-align: center; margin: 0; padding: 0;
}
header nav ul li{
    display: inline-block;
    margin-left: 10px;
}
header nav ul li.notMargin{
    margin-left: 0px;
}
header nav ul li a{
    text-align: center; color: slateblue; line-height: 55px;
    text-decoration: none;
}
.wrap:after{
    content: ''; display: block; visibility: hidden; clear: both;
}
.wrap .imgBox{
    margin-bottom: 30px;
}
.wrap .imgBox img{
    width: 100%;
}
.wrap ul{
    border: 1px solid #66c; float: left; width: 30%;
    padding: 0; margin: 0; box-sizing: border-box;
}
.wrap ul.latestList2,
.wrap ul.latestList3{
    margin-left: 5%;
}
.wrap ul li{
    display: block;
}
footer{
    background-color :#069; text-align: center; line-height: 55px;
    color: white;
}