body{
    width: 80%; margin: 0 auto; padding: 0;
}
header{
    background-color: #6cc; position: relative;
}
header h1{
    background-color: #66c; width: 35%; margin: 0 auto;
    text-align: center; font-size: 16px; color: springgreen;
    /* padding: 10px 0; */ line-height: 40px;
}
header .searchBox{
    position: absolute; right: 0; top: 28px;
}
header nav{
    background-color: #dac;
}
header nav ul{
    margin: 0; text-align: center;
    /* padding: 10px 0; */ line-height: 40px;
}
header nav ul li{
    display: inline-block;
}
header nav ul li:not(:first-child){
    margin-left: 50px;
}
header nav ul li a{
    text-decoration: none; color: slateblue;
}
header nav ul li a:hover{
    color: sienna;
}

.wrap:after{
    content: ''; display: block; visibility: hidden; clear: both;
}
.wrap figure{
    margin: 0;
}
.wrap figure img{
    width: 100%;
}
.wrap ul{
    width: 33%; border: 1px solid #66c; margin: 0; padding: 0;
    float: left; box-sizing: border-box;
}
.wrap ul:not(:first-of-type){
    margin-left: 0.5%;
}
.wrap ul li{
    display: block;
}
footer{
    background-color: #069; color: white; padding: 10px 0;
    text-align: center;
}