*{
    margin: 0; padding: 0;
}
ul:after{
    content: ''; display: block; clear: both; visibility: hidden;
}
ul li{
    width: 16.66%; float: left; display: block; border: 1px solid black;
    box-sizing: border-box;
}
ul li figure img{
    width: 100%; display: block;
}
ul li dl{
    text-align: center; background-color: yellow;
}