*{
    margin:0; padding:0;
}

ul li{
    width:16.66%; float: left;
    display: block;
    border: 1px solid black;
    box-sizing: border-box;
}
ul li figure img{
    width: 100%; line-height:0;
}
ul li dl{
    text-align: center;
    background-color: yellow;
    margin:0;
}
ul li dl dd{
    margin:0;
}