body{
    margin: 0;
}
ul{
    margin: 0; padding: 0; text-align: center;
}
ul:after{
    content: ''; display: block; visibility: hidden; clear: both;
}
ul li{
    float: left; display: block; line-height: 55px;
}
/* 
ul.case1 li{
    width: 100%; background-color: red;
}
ul.case2 li{ width: 50%; background-color: blue;}
ul.case3 li{ width: 33.33%; background-color: green;}
ul.case4 li{ width: 25%; background-color: yellow;}
ul.case5 li{ width: 20%; background-color: pink;} */

ul li.line1{width: 100%; background-color: red;}
ul li.line2{width: 50%; background-color: blue;}
ul li.line3{width: 33.33%; background-color: green;}
ul li.line4{width: 25%; background-color: yellow;}
ul li.line5{width: 20%; background-color: pink;}
