body{
    margin: 0;
}
ul{
    margin: 0; padding: 0;
}
ul li{
    display: block; text-align: center;
    /* padding: 10px 0; */ line-height: 50px;
}
ul li:not(:first-child){
    float: left;
}
ul li:nth-child(1){
    background-color: red;
}
ul li:nth-child(n+2):nth-child(-n+3)
{width: 50%; background-color: blue; color: white;}

ul li:nth-child(n+4):nth-child(-n+6){
    width: 33.33%; background-color: green;
}
ul li:nth-child(n+7):nth-child(-n+10){
    width: 25%; background-color: yellow;
}
ul li:nth-child(n+11):nth-child(-n+15){
    width: 20%; background-color: pink;
}