body{margin:0;}
ul{margin:0; padding:0; text-align:center;}
ul:after{content:''; display:block; visibility:hidden; clear:both;}

ul li{float:left; display:block; line-height:55px;}
ul li:first-child{
    width: 100%; background-color: red;
}
ul li:nth-child(n+2):nth-child(-n+3){
    width: 50%; background-color: blue; color: white;
}
ul li:nth-child(n+4):nth-child(-n+6){
    width: 33.33%; background-color: green;
}
ul li:nth-child(n+7):nth-child(-n+10){
    width: 25%; background-color: yellow;
}
ul li:nth-child(n+11):nth-child(-n+15){
    width: 20%; background-color: pink;
}
