

@media screen and (min-width: 1280px) {
    header + nav{
        background-color: white;
    }
    header + nav .slideNav:after{
        content: ''; display: block; clear: both;
    }
    header + nav .slideNav > *{
        float: left;
    }
    header + nav .slideNav ul{
        width: 80%;
    }
    header + nav .slideNav ul li:not(:first-child){
        margin-left: 2.56%;
    }
    header + nav .slideNav ul li:not(:last-child){
        float: left;
    }
    header + nav .slideNav ul li:last-child{
        float: right;
    }
    header + nav .slideNav ul li a{
        display: block; font-size: 11px; color: #b9bed1; font-weight: 600; line-height: 56px;
        text-transform: uppercase; letter-spacing: 1px;
    }
    header + nav .slideNav ul li a:hover,
    header + nav .slideNav ul li a.active{
        color: #343e5c;
    }
    header + nav .slideNav input[type='search']{
        width: 17%; margin-left: 3%; display: block; padding: 19px 2% 19px 4%; box-sizing: border-box;
        border-width: 0 1px; border-style: none solid; border-color: #f0f2f7;
        background: url('../images/bul_search.png') no-repeat 10% center;
        font-family: inherit; font-weight: 600; font-size: 14px;
    }
    header + nav .slideNav input[type='search']::placeholder{
        color: #a1a7bd;
    }
    /* ? slide Nav Fin */
    section.slideArea{
        background-color: #1c1e23; margin-bottom: 50px;
    }
    section.slideArea h2{
        display: none;
    }
    section.slideArea > div{
        position: relative; max-width: 1400px; margin: 0 auto;
    }
    section.slideArea > div > a{
        display: block; width: 42px; padding: 14px 0 10px; font-size: 18px; color: white;
        font-weight: 600; border: 2px solid rgba(255,255,255,0.2); text-align: center;
        border-radius: 24px; position: absolute; top: 46%; z-index: 10;
    }
    section.slideArea > div > a.btn_conL{
        left: 11.78%;
    }
    section.slideArea > div > a.btn_conR{
        right: 11.78%;
    }
    section.slideArea > div ol{
        position: absolute; left: 47.85%; bottom: 6%; z-index: 1;
    }
    section.slideArea > div ol li{
        display: inline-block;
    }
    section.slideArea > div ol li a{
        display: block; width: 8px; height: 8px; text-indent: -9999px; border-radius: 4px;
        border: 2px solid rgba(255,255,255,0.5); box-sizing: border-box;
    }
    section.slideArea > div ol li a:hover,
    section.slideArea > div ol li a.active{
        background-color: white;
    }
    section.slideArea > div ul li{
        display: block;
    }
    section.slideArea > div ul li figure{
        position: relative;
    }
    section.slideArea > div ul li figure img{
        width: 100%; display: block;
    }
    section.slideArea > div ul li figure figcaption{
        position: absolute; left: 15%; top: 20%; width: 32.85%; max-width: 460px; color: white;
    }
    section.slideArea > div ul li figure figcaption dl{
        margin-bottom: 60px;
    }
    section.slideArea > div ul li figure figcaption dl dt{
        font-size: 42px; font-weight: 900; line-height: 50px; margin-bottom: 25px;
    }
    section.slideArea > div ul li figure figcaption dl dd{
        font-size: 16px; font-weight: 400; line-height: 24px;
    }
    section.slideArea > div ul li figure figcaption input[type='button']{
        width: 35.86%; background-color: #2754eb; font-size: 11px; font-weight: 600;
        line-height: 42px; border-radius: 21px; color: inherit; border: none;
        letter-spacing: 1px;
    }
    /* ?slideArea Fin */
    .contentArea{
        margin-bottom: 50px;
    }
    .contentArea > form fieldset{
        background-color: white; border-radius: 5px; line-height: 56px; padding: 0 1.7%;
        box-sizing: border-box; margin-bottom: 30px;
    }
    .contentArea > form fieldset label{
        display: inline-block; vertical-align: middle; font-weight: 600;
    }
    .contentArea > form fieldset label:not([for='freeShipCheck']){
        font-size: 11px; color: #a1a7bd; text-transform: uppercase;
    }
    .contentArea > form fieldset span.sbSelect{
        margin-left: 3.41%;
    }
    .contentArea > form fieldset label[for='sb_keywords'],
    .contentArea > form fieldset label[for='ship_Select']{
        margin-left: 1.28%; padding-left: 2.56%; border-left: 2px solid rgba(0,0,0,0.05);
    }
    .contentArea > form fieldset input:not([type='checkbox']){
        font-size: 13px; background-color: #f0f2f7; border: 1px solid #e3e8f0; line-height: 28px;
        box-sizing: border-box; border-radius: 16px; color: #343e5c; font-weight: 600;
        padding: 0 1%; font-family: inherit;
    }
    .contentArea > form fieldset input:not([type='checkbox'])::placeholder{
        color: #b9bfd3;
    }
    .contentArea > form fieldset input[type='search']{
        width: 14%;
    }
    .contentArea > form fieldset input[type='text']{
        width: 5.5%;
    }
    .contentArea > form fieldset input[type='search'],
    .contentArea > form fieldset input[id='range_minprice']{
        margin-left: 0.85%;
    }
}
/* ? desktop */