

@media screen and (min-width:1280px){
    header + nav{
        background-color: white;
    }
    header + nav .slideNav:after{
        content: ''; display: block; clear: both;
    }
    header + nav .slideNav > *{
        float: left;
    }
    header + nav .slideNav ul{
        width: 80%;
    }
    header + nav .slideNav ul li:not(:first-child){
        margin-left: 2.56%;
    }
    header + nav .slideNav ul li:not(:last-child){
        float: left;
    }
    header + nav .slideNav ul li:last-child{
        float: right;
    }
    header + nav .slideNav ul li a{
        display: block; font-size: 11px; color: #b9bed1; line-height: 56px; font-weight: 600;
        text-transform: uppercase; letter-spacing: 1px;
    }
    header + nav .slideNav ul li a:hover,
    header + nav .slideNav ul li a.active{
        color: #343e5c;
    }
    header + nav .slideNav input[type='search']{
        margin-left: 3%; width: 17%; box-sizing: border-box; padding: 20px 2% 20px 4%;
        border-width: 0 1px; border-style: none solid; border-color: #f0f2f7;
        background: url('../images/bul_search.png') no-repeat 12% center;
        font-family: inherit; font-weight: 600;
    }
    header + nav .slideNav input[type='search']::placeholder{
        color: #a1a7bd;
    }
    /* ?slide Nav Fin */

    section.slideArea{
        background-color: #1c1e23; margin-bottom: 50px;
    }
    section.slideArea h2{
        display: none;
    }
    section.slideArea > div{
        position: relative; max-width: 1400px; margin: 0 auto;
    }
    section.slideArea > div > a{
        display: block; width: 42px; padding: 10px 0 14px; font-size: 18px; color: white; top: 46%;
        font-weight: 600px; border-radius: 24px; border: 2px solid rgba(255,255,255,0.2); z-index: 10;
        position: absolute; text-align: center;
    }
    section.slideArea > div > a.btn_conL{
        left: 11.78%;
    }
    section.slideArea > div > a.btn_conR{
        right: 11.78%;
    }
}
/* ? desktop */