
@media screen and (min-width: 768px) and (max-width: 1279px){
    html{
        background-color: green; color: white;
        font-weight: bold;
    }
    h1{
        font-size: 1.5rem; line-height: 2rem;
    }
    p{
        font-size: 0.75rem; line-height: 1.5rem;
    }
}
/* ? Tablet Device */

@media screen and (min-width: 1280px){
    html{
        background-color: blue; color: white;
        font-weight: bold;
    }
    h1{
        font-size: 2rem; line-height: 3rem;
    }
    p{
        font-size: 1rem; text-align: right;
        line-height: 1.5rem;
    }
}
/* ?Desktop Device */