html{
    color:white; 
}
/* All Device - All UsingCSS */

@media screen and (max-width:767px){
    h1{
        font-size:1rem; text-align:center; 
    }
    p{
        font-size:0.75rem; text-align:center; 
    }
}
@media screen and (max-width:767px) and (orientation:landscape){
	html{
        background-color:orange; 
    }
}
	
@media screen and (max-width:767px) and (orientation:portrait){
	html{
        background-color:red;
    }
}

/* 
    todo mobileDevice - 사용자 해상도가 768px 이하일 때 이 코드가 실행 
    ! portrait 와 landscape code는 다르게 처리. 위 code는 portrait
*/

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation:landscape){
    html{
        background-color: greenyellow; font-weight: bold;
    }
    h1{
        font-size: 2rem; text-align: right;
    }
    p{
        font-size: 1rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation:portrait){
    html{
        background-color: red;
    }
    h1{
        font-size: 1rem; text-align: center;
    }
    p{
        font-size: 0.75rem; text-align: center; 
    }
}
/* *Tablet Device - 사용자 해상도가 768px 이상 1025px 이하 일 때 이 코드가 실행됨.  태블릿 코드를 작성한다.*/

@media screen and (min-width:1025px){
    html{
        background-color: blue;
    }
    h1{
        font-size: 2rem;
    }
    p{
        font-size: 1rem; text-align: right;
    }
}
/* *Desktop Device - 사용자 해상도가 1025 이상일 때 이 코드가 실행.*/