
html{
    background-color: orange; color: white; font-weight: bold;
}
h1{
    font-size: 1rem; text-align: center; line-height: 2rem;
}
p{
    font-size: 0.75rem; text-align: center; line-height: 1rem;
}


/* 
    todo mobileDevice - 사용자 해상도가 768px 이하일 때 이 코드가 실행 
    ! portrait 와 landscape code는 다르게 처리. 위 code는 portrait
*/

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation:landscape){
    html{
        background-color: greenyellow; color: white; font-weight: bold;
    }
    h1{
        font-size: 2rem; text-align: right; line-height: 3rem;
    }
    p{
        font-size: 1rem; line-height: 1.5rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation:portrait){
    html{
        background-color: red; color: white; font-weight: bold;
    }
    h1{
        font-size: 1rem; text-align: center; line-height: 2rem;
    }
    p{
        font-size: 0.75rem; text-align: center; line-height: 1rem;
    }
}
/* *Tablet Device - 사용자 해상도가 768px 이상 1025px 이하 일 때 이 코드가 실행됨.  태블릿 코드를 작성한다.*/

@media screen and (min-width:1025px){
    html{
        background-color: blue; color: white; font-weight: bold;
    }
    h1{
        font-size: 2rem; line-height: 3rem;
    }
    p{
        font-size: 1rem; text-align: right; line-height: 1.5rem;
    }
}
/* *Desktop Device - 사용자 해상도가 1025 이상일 때 이 코드가 실행.*/