body{
    font-family: 'Cormorant';
}
h1{
    color: blue; font-size: 32px;
    margin-bottom: 25px;
}
p:first-of-type{
    color: navy; font-size: 26px;
    margin-bottom: 15px;
}
p:last-of-type{
    color: cyan; font-size: 20px;
}