body{
    font-family: 'Merriweather';
}
h1{
    background-color: lightgreen;
}
article{
    background-color: lightsalmon;
}
article h2{
    padding: 10px; font-size: 18px; background-color: lightblue;
}
article p{
    padding: 10px; font-size: 14px; line-height: 20px; background-color: lightpink;
}