body{
    font-family: 'Raleway';
}
h1{
    color: red; font-size: 32px;
    margin-bottom: 25px;
}
p:first-of-type{
    color: darkred; font-size: 26px;
    margin-bottom: 15px;
}
p:last-of-type{
    color: orange; font-size: 20px;
}