body{
    font-family: 'Roboto'; text-align: center;
}
h1{
    background-color: lightblue;
}
article{
    background-color: lightseagreen; padding: 5px;
}
article h2{
    font-size: 16px; background-color: lightcoral; padding: 5px;
}
article p{
    font-size: 12px; background-color: lightgoldenrodyellow; padding: 5px; line-height: 18px;
}