a{
    text-decoration: none;
}
/* all Using */

@media screen and (max-width: 767px){
    body{
        max-width: 750px; margin:0 auto; padding:0 2%;
    }
    header{
        border-top:10px solid #2ecc71;
        /* position: relative; */
    }
    header h1{
        text-align: center;
    }
    header h1 img{
        width: 20%;
    }
    header > img{
        width: 100%;
    }
    header div{
        position: absolute; left: 0; top: 5%; width: 100%;
        text-align: center;
    }
    header div p{
        font-size: 18px; color: #fff; line-height: 21px;
        margin-bottom: 5px;
    }
    header div a{
        width: 5%; height: 5%; display: inline-block;
    }
    header div a img{
        width: 100%;
    }
    /* header Fin */
    section{
        padding:30px 13.5%;
    }
    /* section Fin */
    footer{
        padding:30px 0; background-color: #e3e3e3; text-align: center;
    }
    footer a{
        text-decoration: none; font-size: 16px;  line-height: 26px;
        color: #848484; display: inline-block; margin-right: 10px;
    }
    /* footer Fin - margin-right worst */
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    body{
        max-width: 1000px; margin:0 auto;
    }
    header{
        border-top:10px solid #2ecc71;
        position: relative;
    }
    header > img{
        width: 100%;
    }
    header div{
        position: absolute; left: 20%; top: 11%;
    }
    header div p{
        font-size: 24px; color: #fff; line-height: 36px;
        margin-bottom: 15px;
    }
    /* header Fin */
    section{
        padding:60px 13.5%;
    }
    /* section Fin */
    footer{
        padding:60px 0; background-color: #e3e3e3; text-align: center;
    }
    footer a{
        text-decoration: none; font-size: 16px;  line-height: 26px;
        color: #848484; display: inline-block; margin-right: 35px;
    }
    /* footer Fin - margin-right worst */
}

@media screen and (min-width: 1024px){
    body{
        max-width: 1900px; margin:0 auto;
    }
    header{
        border-top:10px solid #2ecc71;
        position: relative;
    }
    header > img{
        width: 100%;
    }
    header div{
        position: absolute; left: 20%; top: 21%;
    }
    header div p{
        font-size: 24px; color: #fff; line-height: 36px;
        margin-bottom: 15px;
    }
    /* header Fin */
    section{
        padding:60px 13.5%;
    }
    /* section Fin */
    footer{
        padding:60px 0; background-color: #e3e3e3; text-align: center;
    }
    footer a{
        text-decoration: none; font-size: 16px;  line-height: 26px;
        color: #848484; display: inline-block; margin-right: 35px;
    }
    /* footer Fin - margin-right worst */
}