
@media screen and (max-width: 767px){
    /* section:after{
        content: ''; display: block; visibility: hidden; clear: both;
    }  worst float canceler*/

    section > dl{
        width: 100%; text-align: center;
        padding-top: 130px; margin-bottom: 30px;
        /* background-repeat: no-repeat;
        background-position: center top; */
    }
    section > dl:nth-child(1){
        background: url("../images/main_17.png") no-repeat center top;
    }
    section > dl:nth-child(2){
        background: url("../images/main_20.png") no-repeat center top;
    }
    section > dl:nth-child(3){
        background: url("../images/main_22.png") no-repeat center top;
    }

    /* section > dl:first-of-type{
        background-image: url("../images/main_17.png");
    }
    section > dl:nth-of-type(2){
        background-image: url("../images/main_20.png");
    }
    section > dl:last-of-type{
        background-image: url("../images/main_22.png");
    } */
    section > dl dt{
        font-size: 22px; line-height: 28px; color: #222;
        margin-bottom: 25px; font-weight: bold;
    }
    section > dl dd{
        font-size: 16px; line-height: 26px; color: #848484;
    }

    section:nth-child(3){
        background-color: #e3e3e3;
    }
    /* section:nth-child(3) div{
        width: 49%; float: left;
    } */
    /* section:nth-child(3) .leftArea{
        margin-right: 2%;
    } */
    section:nth-child(3) .leftArea h2{
        font-size: 22px; line-height: 28px; color: #222;
        margin-bottom: 20px;
    }
    section:nth-child(3) .leftArea p{
        font-size: 16px; line-height: 26px; color: #848484;
        margin-bottom: 20px;
    }
    section:nth-child(3) .leftArea input{
        margin-bottom: 25px;
    }
    section:nth-child(3) .leftArea input[type='text']{
        padding:0px 25px; font-size: 16px; line-height: 55px;
        box-sizing: border-box; border:1px solid #c8c8c8;
        border-radius: 10px 0 0 10px; width: 70%; float: left;
    }
    section:nth-child(3) .leftArea input[type='button']{
        font-size:20px;  background-color:#2ecc71;
        border-radius: 0 10px 10px 0; width: 30%; border: none;
        color: white; line-height: 55px;
        /* padding:15px 25px; */
    }
    section:nth-child(3) .rightArea img{
        width: 100%;
    }

    section:nth-child(4){
        text-align: center;
    } 
    section:nth-child(4) p{
        font-size: 18px; line-height: 30px; color: #848484;
        font-style: italic; margin-bottom: 25px;
    }
    section:nth-child(4) p strong{
        color: #2e2e2e; display: block; font-style: normal;
    }
    section:nth-child(4) ul{
        width: 100%; margin:0 0 30px 0;
    }
    section:nth-child(4) ul:after{
        content:''; display: block; visibility: hidden; clear: both;
    }
    section:nth-child(4) ul li{
        float:left; width:19.5%; margin-right:0.5%; display: block;
    }
    section:nth-child(4) ul li img{
        width: 100%;
    }
    section:nth-child(4) p:nth-child(3) strong{
        font-size: 24px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    section:after{
        content: ''; display: block; visibility: hidden; clear: both;
    } /* worst float canceler*/

    section > dl{
        width: 33.33%; float: left; text-align: center;
        padding-top: 130px;
        /* background-repeat: no-repeat;
        background-position: center top; */
    }
    section > dl:nth-child(1){
        background: url("../images/main_17.png") no-repeat center top;
    }
    section > dl:nth-child(2){
        background: url("../images/main_20.png") no-repeat center top;
    }
    section > dl:nth-child(3){
        background: url("../images/main_22.png") no-repeat center top;
    }

    /* section > dl:first-of-type{
        background-image: url("../images/main_17.png");
    }
    section > dl:nth-of-type(2){
        background-image: url("../images/main_20.png");
    }
    section > dl:last-of-type{
        background-image: url("../images/main_22.png");
    } */
    section > dl dt{
        font-size: 22px; line-height: 28px; color: #222;
        margin-bottom: 25px; font-weight: bold;
    }
    section > dl dd{
        font-size: 16px; line-height: 26px; color: #848484;
    }

    section:nth-child(3){
        background-color: #e3e3e3;
    }
    /* section:nth-child(3) div{
        width: 49%; float: left;
    } */
    /* section:nth-child(3) .leftArea{
        margin-right: 2%;
    } */
    section:nth-child(3) .leftArea h2{
        font-size: 22px; line-height: 28px; color: #222;
        margin-bottom: 20px;
    }
    section:nth-child(3) .leftArea p{
        font-size: 16px; line-height: 26px; color: #848484;
        margin-bottom: 20px;
    }
    section:nth-child(3) .leftArea input{
        margin-bottom: 25px;
    }
    section:nth-child(3) .leftArea input[type='text']{
        padding:0px 25px; font-size: 18px; line-height: 55px;
        box-sizing: border-box; border:1px solid #c8c8c8;
        border-radius: 10px 0 0 10px; width: 70%; float: left;
    }
    section:nth-child(3) .leftArea input[type='button']{
        font-size:22px;  background-color:#2ecc71;
        border-radius: 0 10px 10px 0; width: 30%; border: none;
        color: white; line-height: 55px;
        /* padding:15px 25px; */
    }
    section:nth-child(3) .rightArea img{
        width: 100%;
    }

    section:nth-child(4){
        text-align: center;
    } 
    section:nth-child(4) p{
        font-size: 18px; line-height: 30px; color: #848484;
        font-style: italic; margin-bottom: 25px;
    }
    section:nth-child(4) p strong{
        color: #2e2e2e; display: block; font-style: normal;
    }
    section:nth-child(4) ul{
        width: 60%; margin:0 auto 60px auto;
    }
    section:nth-child(4) ul:after{
        content:''; display: block; visibility: hidden; clear: both;
    }
    section:nth-child(4) ul li{
        float:left; width:19.5%; margin-right:0.5%; display: block;
    }
    section:nth-child(4) ul li img{
        width: 100%;
    }
    section:nth-child(4) p:nth-child(3) strong{
        font-size: 24px;
    }
}

@media screen and (min-width: 1024px){
    section:after{
        content: ''; display: block; visibility: hidden; clear: both;
    } /* worst float canceler*/

    section > dl{
        width: 33.33%; float: left; text-align: center;
        padding-top: 130px;
        /* background-repeat: no-repeat;
        background-position: center top; */
    }
    section > dl:nth-child(1){
        background: url("../images/main_17.png") no-repeat center top;
    }
    section > dl:nth-child(2){
        background: url("../images/main_20.png") no-repeat center top;
    }
    section > dl:nth-child(3){
        background: url("../images/main_22.png") no-repeat center top;
    }

    /* section > dl:first-of-type{
        background-image: url("../images/main_17.png");
    }
    section > dl:nth-of-type(2){
        background-image: url("../images/main_20.png");
    }
    section > dl:last-of-type{
        background-image: url("../images/main_22.png");
    } */
    section > dl dt{
        font-size: 22px; line-height: 28px; color: #222;
        margin-bottom: 25px; font-weight: bold;
    }
    section > dl dd{
        font-size: 16px; line-height: 26px; color: #848484;
    }

    section:nth-child(3){
        background-color: #e3e3e3;
    }
    section:nth-child(3) div{
        width: 49%; float: left;
    }
    section:nth-child(3) .leftArea{
        margin-right: 2%;
    }
    section:nth-child(3) .leftArea h2{
        font-size: 22px; line-height: 28px; color: #222;
        margin-bottom: 20px;
    }
    section:nth-child(3) .leftArea p{
        font-size: 16px; line-height: 26px; color: #848484;
        margin-bottom: 20px;
    }
    section:nth-child(3) .leftArea input[type='text']{
        padding:0px 25px; font-size: 18px; line-height: 55px;
        box-sizing: border-box; border:1px solid #c8c8c8;
        border-radius: 10px 0 0 10px; width: 70%; float: left;
    }
    section:nth-child(3) .leftArea input[type='button']{
        font-size:22px;  background-color:#2ecc71;
        border-radius: 0 10px 10px 0; width: 30%; border: none;
        color: white; line-height: 55px;
        /* padding:15px 25px; */
    }
    section:nth-child(3) .rightArea img{
        width: 100%;
    }

    section:nth-child(4){
        text-align: center;
    } 
    section:nth-child(4) p{
        font-size: 18px; line-height: 30px; color: #848484;
        font-style: italic; margin-bottom: 25px;
    }
    section:nth-child(4) p strong{
        color: #2e2e2e; display: block; font-style: normal;
    }
    section:nth-child(4) ul{
        width: 60%; margin:0 auto 60px auto;
    }
    section:nth-child(4) ul:after{
        content:''; display: block; visibility: hidden; clear: both;
    }
    section:nth-child(4) ul li{
        float:left; width:9.5%; margin-right:0.5%; display: block;
    }
    section:nth-child(4) ul li img{
        width: 100%;
    }
    section:nth-child(4) p:nth-child(3) strong{
        font-size: 24px;
    }
}