html,body{
    height: 100%;
}
body{
    font-family: 'Roboto'; background-color: #635f59;
}
header nav, .row{
    max-width: 1170px; margin: 0 auto;
}
.row article{
    transition-duration: 0.75s; transition-timing-function: ease-out;
}
.row > .span_1{background-color: #b91646;}
.row > .span_2{background-color: #dfd8ca;}
.row > .span_3{background-color: #105652;}
.row > .span_4{background-color: #fbf3e4;}
.row > .span_5{background-color: #88e0ef;}
.row > .span_6{background-color: #161e54;}
.row > .span_7{background-color: #ff5151;}
.row > .span_8{background-color: #ff9b6a;}
.row > .span_9{background-color: #ff0075;}
.row > .span_10{background-color: #77d970;}
.row > .span_11{background-color: #916bbf;}
.row > .span_12{background-color: #ffb085;}
/* *All Use */

@media screen and (min-width: 768px) and (max-width: 959px){
    header{
        background-color: white; position: fixed; width: 100%;
    }
    header nav{
        padding: 10px 0;
    }
    header nav ul{
        text-align: center;
    }
    header nav ul li{
        display: inline-block; width: 19%;
    }
    header nav #MUI_on,
    header nav ul li.mobileUI{
        display: none;
    }
    header nav ul li a{
        text-transform: uppercase; display: inline-block; text-decoration: none; font-size: 14px;
        color: #635f59; padding: 20px; border: 5px solid white; font-weight: 700;
        transition-property: background-color, border;
        transition-duration: 1s, 0.5s; transition-delay: 0.2s, 0.1s;
    }
    header nav ul li:hover a{
        background-color: #0cf; border: 5px solid #0cf; color: white;
        border-radius: 10px 0 10px 0;
    }
    .container{
        padding-top:85px;
    }
}

@media screen and (min-width: 960px){
    header{
        background-color: white; position: fixed; width: 100%;
    }
    header nav{
        padding: 10px 0;
    }
    header nav ul{
        text-align: center;
    }
    header nav ul li{
        display: inline-block; width: 19%;
    }
    header nav #MUI_on,
    header nav ul li.mobileUI{
        display: none;
    }
    header nav ul li a{
        text-transform: uppercase; display: inline-block; text-decoration: none; font-size: 14px;
        color: #635f59; padding: 20px; border: 5px solid white; font-weight: 700;
        transition-property: background-color, border;
        transition-duration: 1s, 0.5s; transition-delay: 0.2s, 0.1s;
    }
    header nav ul li:hover a{
        background-color: #0cf; border: 5px solid #0cf; color: white;
        border-radius: 10px 0 10px 0;
    }
    .container{
        padding-top:85px;
    }
}
/* *desktop */