html{
    font-size: 16px;
}
body{
    margin: 0;
}
.wrap{
    width: 75rem; background-color: #fcf;
    margin: 0 auto;
}
.wrap section:after{
    content: ''; display: block; visibility: hidden; clear: both;
}
.wrap section > *{
    float: left; line-height: 30rem;
}
.wrap section aside{
    width: 25rem;
    background-color: #0ff;
}
.wrap section article{
    width: 50rem;
    background-color: #fc6;
}
.wrap footer{
    line-height: 3rem; text-align: center;
    background-color: #3c6;
}