body, ul, dl, dt, dd, figure{
    margin: 0; padding: 0;
}
div{
    margin-bottom: 30px;
}
.displayProperty span:nth-child(1){
    display: block; width: 50%; background-color:#fc9393;
}
.displayProperty span:nth-child(2){
    display: inline-block; width: 25%; background-color: #94fc93;
}
.displayProperty span:nth-child(3){
    display: inline; width: 75%; background-color: #93c5fc;
}
.displayProperty span:nth-child(4){
    display: none; background-color: deeppink;
    /* ! none = 대상이 보이지 않는다. (Render 자체가 안된다.) */
}

.visibilityProperty span{
    background-color: #ff6a00; display: block; border: 1px solid black; height: 200px;
}
.visibilityProperty span:first-child{
    visibility: visible;
}
.visibilityProperty span:nth-child(2){
    visibility: hidden;
}
.visibilityProperty table{
    visibility: collapse; border-spacing: 0;
}
.visibilityProperty input[type='checkbox']:checked~table{
    visibility: visible;
}