body,ul,dl,dt,dd,figure{
    margin: 0; padding: 0;
}
div{
    margin-bottom: 30px;
}
.displayProperty span:nth-child(1){
    display: block; width: 50%; background-color: lightsalmon;
}
.displayProperty span:nth-child(2){
    display: inline-block; background-color: lightgreen;
    padding: 30px; margin: 30px; width: 25%;
}
.displayProperty span:nth-child(3){
    display: inline; background-color: lightblue;
    padding: 30px; margin: 30px; width: 70%;
}
.displayProperty span:nth-child(4){
    display: none;
    background-color: lightslategray; padding: 30px;
}
/*
    ? display의 속성은 총 4가지
    * block = block이 되게 되면 width:100%의 값을 갖는 위에서 아래로 나열되는 객체가 된다.
    * inline-block = inline-block이 되면 width의 값을 가질수 있고, inline 타입으로 (옆으로) 나열되는 객체가 된다.
    * inline = inline이 되면 width등의 크기나 간격 등의 값을 가질수 없고 옆으로는 나열 되지만, 간격을 벌릴수 없는 객체가 된다.
    * none = 대상이 보이지 않는다. (렌더 자체가 안된다.)
*/
.visibilityProperty span{
    background-color: orange; display: block; border: 1px solid black;
    height: 100px;
}
.visibilityProperty span:first-child{
    visibility: hidden;
    /* display: none; */
}
.visibilityProperty span:nth-child(2){
    visibility: visible;
}
.visibilityProperty input[type='checkbox']:checked ~ table{
    visibility: visible;
}
.visibilityProperty table{
    visibility: collapse; border-spacing: 0;
}
/* 
    visibility: collapse. display: none과 달리 존재하되 무너져있다. (data사전받기용이)
*/
.opacityProperty ul:after{
    content: ''; display: block; clear: both;
}
.opacityProperty ul li{
    display: block; float: left; width: 33%; background-color: black; position: relative;
    overflow-y: hidden;
}
.opacityProperty ul li:not(:first-child){
    margin-left: 0.5%;
}
.opacityProperty ul li figure img{
    width: 100%; display: block; opacity: 0.3;
}