html{
    font-size: 16px;
}

body,h1,h2,p{
    margin:0; padding:0;
}

.remLayout{
    width: 75rem; margin:0 auto; background-color: #f9f9f9;
}

.remLayout header{
    padding: 2rem; background-color: #ff6767; margin-bottom: 0.625rem;
}

.remLayout header h1{
    font-size:2rem;;
}
.remLayout header p{
    font-size: 0.75rem;;
}

.remLayout article{
    padding: 2rem; margin-bottom: 0.625rem; background-color:#5ab8ff;
}
.remLayout article h2{
    font-size: 1.5rem; margin-bottom: 0.625rem;
}
.remLayout article p{
    font-size: 0.75rem;
}

.remLayout footer{
    padding: 2rem; background-color: #7eff81; text-align: center;
}
.remLayout footer a{
    font-size: 0.75rem; text-decoration: none; color: #000;
}



