@charset "utf-8";
/* CSS Document */

body{margin:0;}

.emLayout{font-size:15px; margin:0 auto; width:75em;}

header{font-size:12px; padding:0.625em; background-color:#0cf;}

section{font-size:12px;}
section:after{
    content: ''; display: block; visibility: hidden; clear: both;
}

section > *{height:50em; float:left;}
section aside{width:15em; background-color:#cc0;}
section article{width:39.35em; background-color:#f9c;}
section article.sub_article{width:39.35em; background-color:#9c9;}

footer{font-size:15px; text-align:center; padding:1em; background-color:#66c;}