body{margin:0;}
ul{padding:0; margin:0; list-style:none;}
.delay1{
    width: 610px; border: 3px solid #3a00b6;
}
.delay1 span{
    display: block; width: 10px; height: 50px; background-color: #0cf;
    margin: 5px;
    transition-duration: 5s;
}
.delay1 span:nth-child(1){transition-delay:1s;}
.delay1 span:nth-child(2){transition-delay:2s;}
.delay1 span:nth-child(3){transition-delay:3s;}
.delay1 span:nth-child(4){transition-delay:4s;}
.delay1 span:nth-child(5){transition-delay:5s;}
.delay1:hover span{
    width: 600px;
}
.delay2 ul:after{
    content: ''; display: block; clear: both;
}
.delay2 ul li{
    display: block; width: 33.33%; float: left; height: 200px;
    transition-duration: 2s;
}
.delay2 ul:hover li{
    width: 50%;
}
.delay2 ul li:nth-child(1){transition-delay: 0s; background-color: red;}
.delay2 ul li:nth-child(2){transition-delay: 0.5s; background-color: green;}
.delay2 ul li:nth-child(3){transition-delay: 1s; background-color: blue;}
.delay2 ul li:nth-child(4){transition-delay: 1.5s; background-color: yellow;}
.delay2 ul li:nth-child(5){transition-delay: 2s; background-color: cyan;}
.delay2 ul li:nth-child(6){transition-delay: 2.5s; background-color: magenta;}

.delay3 ul{
    height: 300px; background-color: #000;
}
.delay3 ul:after{
    content: ''; display: block; clear: both;
}
.delay3 ul li{
    display: block; float: left; width: 20%; height: 0;
    transition-duration: 3s;
    transition: all 0.75s;
}
    /* ? shortHand : property duration timingfunction delay */
.delay3 ul:hover li{
    height: 300px; background-color: #ff0;
}
.delay3 ul li:nth-child(1){transition-delay: 0s;transition-timing-function: linear;}
.delay3 ul li:nth-child(2){transition-delay: 0.5s;transition-timing-function: ease;}
.delay3 ul li:nth-child(3){transition-delay: 1s;transition-timing-function: ease-in;}
.delay3 ul li:nth-child(4){transition-delay: 1.5s;transition-timing-function: ease-in-out;}
.delay3 ul li:nth-child(5){transition-delay: 2s;transition-timing-function: cubic-bezier(.16,.86,.84,.24);}