body{
    margin: 0; background-color: #333;
}
.wrap{
    width: 70%; margin: 0 auto;
}
.wrap a{
    text-decoration: none; display: block;
}
.wrap ul{
    margin: 0; padding: 0; list-style: none;
}
.wrap header{
    position: relative; padding: 20px 40% 0 0;
    margin-bottom: 90px;
}

.wrap header h1{
    padding: 0; margin: 0; color: #fff;
}
.wrap header nav{
    width: 40%; position: absolute; right: 0;
    top: 25px;
}

.wrap header nav ul{
    border-width: 1px 0; border-style: solid;
    border-color: #555;
}
.wrap header nav ul:after{
    content: ''; display: block; visibility: hidden;
    clear: both;
}
.wrap header nav ul li{
    width: 20%; float: left; min-width: 50px;
    padding: 10px 0;
}
.wrap header nav ul li a{
    font-size: 12px; text-align: center;
    color: #f0f0f0;
}
.wrap header nav ul li:not(:first-child) a{
    border-left: 1px solid #e1e1e1;
}