body{
    margin: 0;
}
.property{
    width: 610px; margin: 0 auto; border: 3px solid #3a00b6;
}
.property span{
    display: block; width: 10px; height: 50px; background-color: #0fc; margin: 5px;
    /* transition-property: background-color, width;
    transition-duration: 1s, 3s;
    transition-delay: 3s,0s; */
    transition: all .3s ease-out;
    /* ? transition ShortHand - [property] [duration] [timing-function] [delay] */
}
.property:hover span:nth-child(1){background-color: deeppink; width: 100px;}
.property:hover span:nth-child(2){background-color: deepskyblue; width: 300px;}
.property:hover span:nth-child(3){background-color: darkgoldenrod; width: 400px;}
.property:hover span:nth-child(4){background-color: darkorange; width: 200px;}
.property:hover span:nth-child(5){background-color: darkred; width: 500px;}