body{
    margin: 0; background-color: #333;
}
.wrap{
    width: 70%; margin: 0 auto;
}
.wrap a{
    text-decoration: none; display: block;
}
.wrap ul{
    margin: 0; padding: 0; list-style: none;
}
/* ? reset, global Code */

.wrap header{
    position: relative; padding: 20px 40% 0 0; margin-bottom: 90px;
}
.wrap header h1{
    color: #fff; margin: 0;
    /* mac, window 기본 폰트가 다름으로 높이가 상이할 수있음 (ex> mac : 37, window : 43 */
}
.wrap header nav{
    position: absolute; right: 0; top: 21px; width: 40%;
}
.wrap header nav ul{
    text-align: center; border-width: 1px 0; border-style: solid; border-color: #555;
}
/*
.wrap header nav ul li{
    display: inline-block; padding: 10px 0; width: 19%;
}*/
 .wrap header nav ul:after{
    content: ''; display: block; clear: both;
 }
 .wrap header nav ul li{
    width: 20%; float: left; padding: 10px 0; min-width: 50px;
 }
 .wrap header nav ul li a{
    font-size: 12px; color: #f0f0f0;
 }
.wrap header nav ul li:not(:first-child) a{
    border-left: 1px solid #e1e1e1;
}
/* todo image's 3열 유지상태로 커지고 줄어들게 만들어보기 */

.wrap > ul:after{
    content: ''; display: block; clear: both;
}
.wrap > ul li{
    width: 30%; float: left; margin-bottom: 5%;
}
.wrap > ul li:not(:nth-child(3n+1)){
    margin-left: 5%;
}
.wrap > ul li a img{
    width: 100%; display: block; opacity: 0.5; transition-duration: 0.75s;
}
.wrap > ul li a:hover img{
    opacity: 1;
}
.wrap footer{
    font-size: 12px; text-align: center; color: #a1a1a1;
}