body,ul,dl,dt,dd,figure{
    margin: 0; padding: 0;
}
div{
    margin-bottom: 30px;
}
.displayProperty span:nth-child(1){
    display: block; width: 50%; background-color: #fc9393;
}
.displayProperty span:nth-child(2){
    display: inline-block; width: 25%; background-color: #94fc93;
}
.displayProperty span:nth-child(3){
    display: inline; width: 75%; background-color: #93c5fc; 
    /* padding: 30px; margin: 30px; */
}
.displayProperty span:nth-child(4){
    display: none;
}
.visibilityProperty span{
    background-color: #ff6a00; display: block; border: 1px solid black;
}
.visibilityProperty span:first-child{
    visibility: visible;
}
.visibilityProperty span:nth-child(2){
    visibility: hidden; height: 500px;
}
.visibilityProperty table{
    visibility: collapse;
}
.visibilityProperty input[type='checkbox']:checked ~ table{
    visibility: visible;
}