body, ul, dl, dt, dd{
    margin: 0; padding: 0;
}
div{
    margin-bottom: 30px;
}
.displayProperty span:nth-child(1){
    display: block; background-color: #fc9393; width: 50%;
}
.displayProperty span:nth-child(2){
    display: inline-block; background-color: #94fc93; width: 25%; padding: 30px;
    margin: 30px;
}
.displayProperty span:nth-child(3){
    display: inline; width: 75%; background-color: #93c5fc;
    padding: 30px; margin: 30px;
}
.displayProperty span:nth-child(4){
    display: none;
}
.visibilityProperty span{
    background-color: #ff6a00; display: block; border: 1px solid black;
}
.visibilityProperty span:first-child{
    visibility: visible;
}
.visibilityProperty span:nth-child(2){
    visibility: hidden; height: 500px;
}
.visibilityProperty input[type='checkbox']:checked~table{
    visibility: visible;
}
.visibilityProperty table{
    visibility: collapse; border-spacing: 0;
}
.opacityProperty ul::after{
    content: ''; display: block; clear: both;
}
.opacityProperty ul li{
    display: block; float: left; width: 33%; background-color: black;
    position: relative;
}
.opacityProperty ul li figure{
    margin: 0;
}
.opacityProperty ul li figure img{
    width: 100%; opacity: 0.3; transition-duration: 0.5s; display: block;
}
.opacityProperty ul li:hover figure img{
    opacity: 1;
}
.opacityProperty ul li figure figcaption{
    position: absolute; left: 32.5%; top: 37.5%; width: 25%; height: 15%;
    padding: 5%; background-color: rgba(255,255,255,0.5); text-align: center;
    /* min-width: 110px; min-height: 100px; */
    transition-duration: 0.5s;
}
.opacityProperty ul li:hover figure figcaption{
    opacity: 0; top: -15%;
}
.opacityProperty ul li figure figcaption dl dt{
    font-size: 13px; font-weight: bold; margin-bottom: 10px;
}
.opacityProperty ul li figure figcaption dl dd{
    font-size: 12px; color: chartreuse;
}
.boxsizingProperty div{
    width: 500px; margin: 0 auto; border: 10px solid #ff6a00;
    background-color: #fc9393; padding: 50px;
}
.boxsizingProperty div:first-child{
    box-sizing: content-box;
}
.boxsizingProperty div:last-child{
    box-sizing: border-box;
}
/*
    content-box 속성은 기본적으로 적용되는(default)값, 안의 공간을 해당 width로 잡고 밖에 padding,border를 추가
    계산 하여 총 width를 구하는 방식.
    border-box 속성은 전체 크기를 먼저 width로 잡고 안의 padding, border를 나중에 계산하는 방식

    content-box : box in width + padding + border = width
    border-box : width = box in width - (padding + border)
*/