/* 
    ? transition-duration -> 변환-지속시간
    ! presetValue (block, none, relative, absolute ...)은 적용 불가.
    * 무조건 수치화 되어있는 값만 변경 가능.
*/
body{
    margin: 0;
}
.durationEX1{
    width:100px; height:100px; background-color: #ff0; transition-duration: 2s;
}
.durationEX1:hover{
    width:200px; height:200px;
}
.durationEX1:active{
    background-color: #f00;
}
.durationEX2{
    width: 200px; height: 200px; font-size: 16px; background-color: #ff6a00;
    padding: 30px; line-height: 32px; transition-duration: 2s;
}
.durationEX2:hover{
    padding: 10px; font-size: 12px; line-height: 16px;
}
.durationEX2:active{
    padding: 30px; font-size: 16px; line-height: 32px;
}
.durationEX3{
    position: relative; height: 23px; background-color: #808080; margin-bottom: 50px;
}
.durationEX3 .moveSpan{
    background-color:#000; width: 5%; height: 23px; position: absolute; left: 0; top: 0;
    transition-duration: 1.5s;
}
.durationEX3:hover .moveSpan{
    left: 95%;
}