body{
    margin: 0;
}
.property{
    width: 610px; margin: 0 auto; border: 3px solid #3a00b6;
}
.property span{
    display: block; width: 10px; height: 50px; background-color: #0cf; margin: 5px;
    transition: all .5s ease-out;
    /* 
        ! shorthand : 한 개 or 전체 를 변경할 때 
        ? transition : [property] [duration(0.x 일경우 0생략가능)] [timing-function] [delay(불필요시 생략가능)];
    */
    /* 
        ? transition-property : transition을 적용할 속성 지정.
        * 불필요한 resource의 낭비를 줄일 수 있다.
        * 각 속성별 transition 관련 속성을 개별 설정.
    */
    /* transition-property: background-color, width;
    transition-duration: 1s, 5s;
    transition-timing-function: ease-out, linear;
    transition-delay: 2s, 0s; */
}
.property:hover span:nth-child(1){background-color: #3a00b6; width: 100px;}
.property:hover span:nth-child(2){background-color: #03ab06; width: 300px;}
.property:hover span:nth-child(3){background-color: #ab0033; width: 400px;}
.property:hover span:nth-child(4){background-color: #abfa3b; width: 200px;}
.property:hover span:nth-child(5){background-color: #acdcd6; width: 500px;}