body{
    margin: 0;
}
.durationEX1{
    width: 100px; height: 100px; background-color: #ff0;
    transition-duration: 2s;
}
.durationEX1:hover{
    width: 200px; height: 200px;
}
.durationEX1:active{
    background-color: #f00;
}
.durationEX2{
    width: 200px; height: 200px; font-size: 16px;
    background-color: #ff6a00; padding: 30px;
    transition-duration: 2s;
}
.durationEX2:hover{
    padding: 10px; font-size: 12px;
}
.durationEX2:active{
    padding: 30px; font-size:16px;
}
.durationEX3{
    position: relative; height: 23px;
    background-color: gray; margin-bottom: 50px;
}
.durationEX3 .moveSpan{
    display: block; width: 3%; height: inherit; position: absolute;
    left: 0; top: 0; transition-duration: 1s; background-color: black;
}
.durationEX3:hover .moveSpan{
    left: 97%;
}

.durationEX4
{width:50%; height:300px; border-width:1px; border-style:solid; 
border-color:#f00 #ff6a00 #ffd800 #4cff00; 
transition-duration:2s;}

.durationEX4:hover
{margin:0 25%; border-color:#00ff90 #0094ff #0026ff #b200ff; 
color:#0094ff;}