body{
    margin: 0;
}
.durationEX1{
    width: 100px; height: 100px; background-color: #ff0;
    transition-duration: 2s;
}
.durationEX1:hover{
    width: 200px; height: 200px;
}
.durationEX1:active{
    background-color: #f00;
}
.durationEX2{
    width: 200px; height: 400px; font-size: 26px;
    background-color: #ff6a00; padding: 30px;
    transition-duration: 2s;
}
.durationEX2:hover{
    width: 100px; height: 300px; font-size: 8px;
    background-color: #eaeaea; padding: 10px;
}
.durationEX2:active{
    width: 200px; height: 400px; font-size: 26px;
    background-color: #ff6a00; padding: 30px;
}
.durationEX3{
    position: relative; height: 23px; background-color: #808080;
    margin-bottom: 50px;
}
.durationEX3 .moveSpan{
    background-color: #000; width: 3%; height: 23px; 
    position: absolute; left: 0; top: 0;
    transition-duration: 3s;
}
.durationEX3:hover .moveSpan{
    left: 97%;
}
.durationEX4{
    width: 50%; height: 300px;
    border-width: 1px; border-style: solid;
    border-color: #f00 #ff6a00 #ffd800 #4cff00;
    transition-duration: 2s;
}
.durationEX4:hover{
    margin: 0 25% 50px; border-color: #4cff00 #0094ff rgb(25,25,110) #b200ff;
}