/* 
    ? transition - 변환
    ! 변경 가능 한 값은 숫자
    ! before(변경 전 값) / after (변경 후 값) 으로 나누어 적용 
*/
body{
    margin: 0;
}
.durationEX1{
    width: 100px; height: 100px; background-color: #ff0; transition-duration: 2s;
}
.durationEX1:hover{
    width: 200px; height: 200px;
}
.durationEX1:active{
    background-color: #f00;
}