/* ? https://cubic-bezier.com/ 선행학습 */

body{
    margin: 0;
}
ul{
    margin: 0; padding: 0; list-style: none;
}
.delay1{
    width: 610px; border: 3px solid #3a00b6;
}
.delay1 span{
    display: block; width: 10px; height: 50px; background-color: #0cf; margin: 5px;
    transition-duration: 5s;
}
.delay1:hover span{
    width: 600px;
}
.delay1 span:nth-child(1){transition-delay: 0s;}
.delay1 span:nth-child(2){transition-delay: 1s;}
.delay1 span:nth-child(3){transition-delay: 2s;}
.delay1 span:nth-child(4){transition-delay: 3s;}
.delay1 span:nth-child(5){transition-delay: 4s;}

.delay2 ul:after{
    content: ''; display: block; clear: both;
}
.delay2 ul li{
    display: block; width: 33.33%; float: left; height: 200px; transition-duration: 1s;
}
.delay2 ul:hover li{
    width: 50%;
}
.delay2 ul li:nth-child(1){
    transition-delay: 0s; 
    background-color: palegoldenrod;
}
.delay2 ul li:nth-child(2){
    transition-delay: 0.5s; 
    background-color: palegreen;
}
.delay2 ul li:nth-child(3){
    transition-delay: 1s; 
    background-color: paleturquoise;
}
.delay2 ul li:nth-child(4){
    transition-delay: 1.5s; 
    background-color: palevioletred;
}
.delay2 ul li:nth-child(5){
    transition-delay: 2s; 
    background-color: lightgray;
}
.delay2 ul li:nth-child(6){
    transition-delay: 2.5s; 
    background-color: lightsalmon;
}
.delay3 ul{
    height: 300px; background-color: lightgrey;
}
.delay3 ul:after{
    content: ''; display: block; clear: both;
}
.delay3 ul li{
    display: block; float: left; width: 20%; height: 0; transition-duration: 3s;
}
.delay3 ul:hover li{
    height: 300px; background-color: mediumpurple;
}
.delay3 ul li:nth-child(1){transition-timing-function: cubic-bezier(1,.3,.09,.75);}
.delay3 ul li:nth-child(2){transition-timing-function: ease-in-out;}
.delay3 ul li:nth-child(3){transition-timing-function: ease-in;}
.delay3 ul li:nth-child(4){transition-timing-function: ease;}
.delay3 ul li:nth-child(5){transition-timing-function: linear;}