body{
    margin: 0;
}
ul{
    padding: 0; margin: 0; list-style: none;
}

.delay1{
    width: 610px; border: 3px solid #3a00b6;
}
.delay1 span{
    display: block; width: 10px; height: 50px;
    background-color: #0cf; margin: 5px;
    transition-duration: 5s;
}
.delay1:hover span{
    width: 600px;
}
.delay1 span:nth-child(1){
    transition-delay: 1s;
}
.delay1 span:nth-child(2){
    transition-delay: 2s;
}
.delay1 span:nth-child(3){
    transition-delay: 3s;
}
.delay1 span:nth-child(4){
    transition-delay: 4s;
}
.delay1 span:nth-child(5){
    transition-delay: 5s;
}

.delay2 ul:after{
    content: ''; display: block; visibility: hidden; clear: both;
}
.delay2 ul li{
    display: block; width: 33.33%; float: left;
    height: 200px; transition-duration: 2s;
}
.delay2 ul:hover li{
    width: 50%;
}
.delay2 ul:hover li:nth-child(1){
    transition-delay: 0s; background-color: #00c7ce;
}
.delay2 ul:hover li:nth-child(2){
    transition-delay: 0.5s; background-color: #060;
}
.delay2 ul:hover li:nth-child(3){
    transition-delay: 1s; background-color: #096;
}
.delay2 ul:hover li:nth-child(4){
    transition-delay: 1.5s; background-color: #06c;
}
.delay2 ul:hover li:nth-child(5){
    transition-delay: 2s; background-color: #990;
}
.delay2 ul:hover li:nth-child(6){
    transition-delay: 2.5s; background-color: #c60;
}

.delay3 ul{
    height: 300px; background-color: #000;
}
.delay3 ul:after{
    content: ''; display: block; visibility: hidden; clear: both;
}
.delay3 ul li{
    display: block; float: left; width: 20%; height: 0;
    transition-duration: 1s;
}
.delay3 ul:hover li{
    height: 100px; background-color: salmon;
}
.delay3 ul li:nth-child(1){
    transition-timing-function: linear;
}
.delay3 ul li:nth-child(2){
    transition-timing-function: ease;
}
.delay3 ul li:nth-child(3){
    transition-timing-function: ease-in;
}
.delay3 ul li:nth-child(4){
    transition-timing-function: ease-in-out;
}
.delay3 ul li:nth-child(5){
    transition-timing-function:cubic-bezier(0,.99,.99,.01) ;
}
/*
    http://cubic-bezier.com
    위 url에서 원하는 베지어곡선을 만들어 사용 할 수 있다.
    ease : ease-in-out 보다 빠른속도로 시작하여, 지정된 시간에 도착 할 때 속도가 줄어 든다.
    ease-in : 느린속도로 시작하여 지정된 시간에 도착 할 수록
    속도가 빨라진다.
    ease-out : 빠른속도로 시작하여 지정된 시간에 도착 할 수록
    느려진다.
    ease-in-out : 느린 속도로 시작하여 일정하게 속력이 증가 하다가 지정된 시간에 도착 할수록 속도가 느려진다.
*/