body{
    margin: 0;
}
ul{
    margin: 0; padding: 0; list-style: none;
}
.delay1{
    width: 610px; border: 3px solid #3a00b6;
}
.delay1 span{
    display: block; width: 10px; height: 50px; background-color: #0cf; margin: 5px;
    transition-duration: 5s;
}
.delay1:hover span{
    width: 600px;
}
.delay1 span:nth-child(1){transition-delay: 1s;}
.delay1 span:nth-child(2){transition-delay: 2s;}
.delay1 span:nth-child(3){transition-delay: 3s;}
.delay1 span:nth-child(4){transition-delay: 4s;}
.delay1 span:nth-child(5){transition-delay: 5s;}

.delay2 ul:after{
    content: ''; display: block; clear: both;
}
.delay2 ul li{
    width: 33.33%; float: left; height: 200px; transition-duration: 2s;
}
.delay2 ul:hover li{
    width: 50%;
}
.delay2 ul li:nth-child(1){transition-delay: 0s; background-color: lightcoral;}
.delay2 ul li:nth-child(2){transition-delay: 0.5s; background-color: lightgreen;}
.delay2 ul li:nth-child(3){transition-delay: 1s; background-color: lightskyblue;}
.delay2 ul li:nth-child(4){transition-delay: 1.5s; background-color: lightslategray;}
.delay2 ul li:nth-child(5){transition-delay: 2s; background-color: lightyellow;}
.delay2 ul li:nth-child(6){transition-delay: 2.5s; background-color: lightseagreen;}
.delay2 ul:hover li:nth-child(1){background-color: coral;}
.delay2 ul:hover li:nth-child(2){background-color: green;}
.delay2 ul:hover li:nth-child(3){background-color: skyblue;}
.delay2 ul:hover li:nth-child(4){background-color: slategray;}
.delay2 ul:hover li:nth-child(5){background-color: yellow;}
.delay2 ul:hover li:nth-child(6){background-color: seagreen;}

.delay3 ul{
    height: 300px; background-color: #000;
}
.delay3 ul:after{
    content: ''; display: block; clear: both;
}
.delay3 ul li{
    width: 20%; float: left; height: 0; transition-duration: 2s; background-color: #fff;
}
.delay3 ul:hover li{
    height: 300px;
}
.delay3 ul:hover li:nth-child(1){
    transition-timing-function: cubic-bezier(0,.98,0,.98);
}
/* todo. 2,3,4,5 번 직접 가속도 구현해서 넣어보기 */
.delay3 ul li:nth-child(1){transition-timing-function: cubic-bezier(0,.98,0,.98); background-color:lightcoral;}
.delay3 ul li:nth-child(2){transition-timing-function: cubic-bezier(0,1.04,1,-0.01); background-color: lightgreen;}
.delay3 ul li:nth-child(3){transition-timing-function: cubic-bezier(1,0,1,-0.01); background-color: lightskyblue;}
.delay3 ul li:nth-child(4){transition-timing-function: cubic-bezier(1,0,0,1); background-color: lightgoldenrodyellow}
.delay3 ul li:nth-child(5){transition-timing-function: cubic-bezier(1,.43,0,.63); background-color: lightpink;}