body{
    margin: 0;
}
.property{
    width: 610px; margin: 0 auto; border: 3px solid #3a00b6;
}
.property span{
    display: block; width: 10px; height: 50px; margin: 5px; background-color: skyblue;
    transition-property: background-color, width;
    transition-duration: 1s, 5s;
    transition-delay: 4s, 0s;
    /* 
        todo. transition: [property / all] [duration] [timing-function] [delay];
    */
}
.property:hover span:nth-child(1){background-color: red; width: 100px;}
.property:hover span:nth-child(2){background-color: orange; width: 300px;}
.property:hover span:nth-child(3){background-color: green; width: 400px;}
.property:hover span:nth-child(4){background-color: yellow; width: 200px;}
.property:hover span:nth-child(5){background-color: deeppink; width: 500px;}