body{
    margin: 0;
}
.property{
    width: 610px; margin: 0 auto; border: 3px solid #3a00b6;
}
.property span{
    display: block; width: 10px; height: 50px;
    background-color: #0cf; margin: 5px;
    transition-property: background-color, width;
    transition-duration: 1s, 5s;
}
.property:hover span:nth-child(1){
    background-color: #f00; width: 100px;
}
.property:hover span:nth-child(2){
    background-color: #fa6600; width: 300px;
}
.property:hover span:nth-child(3){
    background-color: #0f0; width: 400px;
}
.property:hover span:nth-child(4){
    background-color: #ff0; width: 200px;
}
.property:hover span:nth-child(5){
    background-color: #ff00aa; width: 400px;
}