html, body{
    height: 100%;
}
body{
    margin: 0 auto; width: 90%;
}
aside{
    width: 50%; height: 80%; float: left; padding-top: 14%; box-sizing: border-box;
}
a{
    text-decoration: none;
}
p strong{
    display: block;
}
p{
    font-size: 12px;
}
aside:first-of-type{
    padding-right: 5%;
}
aside:first-of-type footer{
    color: slateblue;
}

aside:last-of-type ul{
    margin: 0; padding: 0;
}
aside:last-of-type ul li{
    padding: 10px 5%; text-align: right; display: block;
    transition-duration: 1s; overflow-y: hidden;
}
aside:last-of-type ul li:nth-child(1){background-color: #999;}
aside:last-of-type ul li:nth-child(2){background-color: #888;}
aside:last-of-type ul li:nth-child(3){background-color: #777;}
aside:last-of-type ul li:nth-child(4){background-color: #666;}
aside:last-of-type ul li:nth-child(5){background-color: #555;}
aside:last-of-type ul li:nth-child(6){background-color: #444;}
aside:last-of-type ul li:nth-child(7){background-color: #333;}
aside:last-of-type ul li p{
    width: 80%; float: left; height: 0; opacity: 0;
    transition-property:  height, opacity;
    transition-duration: 1s, 2s;
}
aside:last-of-type ul li:hover p{
    height: 220px; opacity: 1;
}
aside:last-of-type ul li a{
    color: #fff; font-size: 12px;
}
aside:last-of-type ul li:hover a{
    color: yellowgreen;
}
aside:last-of-type ul li a:before{
    content: '+';
}
aside:last-of-type ul li:hover a:before{
    content: '>';
}