html,body{
    height: 100%;
}
body{
    width: 90%; margin: 0 auto;
}
aside{
    width: 50%; float: left; box-sizing: border-box;
    padding-top: 14%;
}
a{
    text-decoration: none;
}
p{
    font-size: 12px;
}
p strong{
    display: block;
}
/* * global.css */

aside:first-of-type{
    padding-right: 5%;
}
aside:first-of-type footer{
    color: #6800ee;
}
/* * leftAside Fin */
aside:last-of-type ul{
    margin: 0; padding: 0; list-style: none;
}
aside:last-of-type ul li{
    padding: 10px 5%; text-align: right; overflow-y: hidden;
    transition-duration: 1s;
}
aside:last-of-type ul li:nth-child(1){background-color: lightcoral;}
aside:last-of-type ul li:nth-child(2){background-color: peachpuff;}
aside:last-of-type ul li:nth-child(3){background-color: palegoldenrod;}
aside:last-of-type ul li:nth-child(4){background-color: palegreen;}
aside:last-of-type ul li:nth-child(5){background-color: powderblue;}
aside:last-of-type ul li:nth-child(6){background-color: darkslateblue;}
aside:last-of-type ul li:nth-child(7){background-color: palevioletred;}

aside:last-of-type ul li:hover{
    padding: 5%; cursor: pointer;
}
aside:last-of-type ul li p{
    height: 0; opacity: 0; width: 80%; float: left;
    transition-property: height, opacity;
    transition-duration: 1s, 2s;
}
aside:last-of-type ul li:hover p{
    height: 200px; opacity: 1;
}

aside:last-of-type ul li a{
    color: white;  font-size: 12px; text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
aside:last-of-type ul li a:before{
    content: '+';
}
aside:last-of-type ul li:hover a{
    color: #000;
}
aside:last-of-type ul li:hover a::before{
    content: '>';
}