*{
    margin: 0; padding: 0;
}
body{
    position: relative;
}
.circle{
    position: absolute;
    width: 200px; height: 200px; border-radius: 100px;
    background: linear-gradient(#cb60b3 0%, #db36a4 100%);
    animation-name: moveCircle;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
/* 
    ? animation
    * 1. moveCircle이라는 이름의 keyframes를 호출.
    * 2. duration으로 재생시간을 설정.
    * 3. timing-function 으로 가속도 설정.
    * 4. iteration-count 로 무반한복 설정.
    ! 반복횟수를 숫자로 입력해도 가능.
    * 5. direction으로 재생 방향 설정.
    todo normal 표준재생(0-100%)
    todo alternate 왕복재생 (0-100%,100%-0)
    todo alternate-reverse alternate역방향재생
*/
.circle:hover{
    animation-play-state: paused;
}
.circle h1{
    line-height: 200px; text-align: center;
}

/* 
    ?play-state
    * paused 는 중지, running 은 재생.
*/

@keyframes moveCircle{
    from{
        left: 0;
        transform: rotate(0deg);
    }50%{
        left: 500px;
    }to{
        left: 0;
        transform: rotate(360deg);
    }
}
/* 
    ?keyframes
    * 0 ~ 100% 사이 소수점 포함 입력 가능
    * keyframe start = from, end = to, 나머지는 %
    ! ex> 0 - 50% - 100% (위 예제)
    *  rotate는 회전속성, deg는 각도를 뜻한다.
*/