body{
    margin: 0;
}
.circle{
    position: absolute; width: 200px; height: 200px; border-radius: 100px;
    background: linear-gradient(to bottom, #7bd9f8 0%, #1e5799 100%);
    animation-name: moveCircle;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(.18,.47,.48,.84); /*todo. cubic-bezier site에서 적당한 가속도값 찾아 넣기*/
}
@keyframes moveCircle {
    0%{
        left: 0; transform: rotate(0deg);
    }100%{
        left: 800px; transform: rotate(360deg);
    }
}
.circle:hover{
    animation-play-state: paused;
}