body{
    width: 200px; margin: 200px auto;
}
div{
    width: 200px;
}
div span{
    width: 200px; height: 200px; display: block; animation-iteration-count: infinite;
    animation-duration: 3s; animation-timing-function: ease;
}
.rotater span:nth-of-type(1){background-color: palevioletred; animation-name: hori;}
.rotater span:nth-of-type(2){background-color: paleturquoise; animation-name: verti;}
.rotater span:nth-of-type(3){background-color: palegreen; animation-name: depth;}
.rotater span:nth-of-type(4){background-color: palegoldenrod; animation-name: rotate3D;}

@keyframes hori{
    from{
        transform: rotateX(0deg);
    }to{
        transform: rotateX(360deg);
    }
}
@keyframes verti {
    from{
        transform: rotateY(0deg);
    }to{
        transform: rotateY(360deg);
    }
}
@keyframes depth {
    from{
        transform: rotateZ(0deg);
    }to{
        transform: rotateZ(360deg);
    }
}
@keyframes rotate3D{
    from{
        transform: rotate3d(0,0,0,0deg);
    }to{
        transform: rotate3d(1,1,1,360deg);
    }
}

div.translater span{
    background-color: blueviolet; color: white; animation-name: trans3D;
}
@keyframes trans3D{
    from{
        transform: rotate3d(0,0,0,0deg) translate3d(0px,0px,0px) scale3d(0, 0, 0);
    }to{
        transform: rotate3d(1,1,1,360deg) translate3d(100px,300px,150px) scale3d(1, 1, 1.5);
    }
    /* 
        ? scale3d (xSCale,yScale,zScale)
        * scale3d는 vertor 방식으로 구현.
        ! 1 = 100% (ex > 0.1 = 10%).
    */
}