body{
    width: 200px; margin: 200px auto;
}
div{
    width: 200px;
}
div span{
    width: 200px; height: 200px; display: block; animation-iteration-count: infinite;
    animation-duration: 3s; animation-timing-function: ease;
}
.rotater span:nth-of-type(1){background-color: palevioletred; animation-name: hori;}
.rotater span:nth-of-type(2){background-color: paleturquoise; animation-name: verti;}
.rotater span:nth-of-type(3){background-color: palegreen; animation-name: depth;}
.rotater span:nth-of-type(4){background-color: palegoldenrod; animation-name: ;}

@keyframes hori{
    from{
        transform: rotateX(0deg);
    }to{
        transform: rotateX(360deg);
    }
}
@keyframes verti {
    from{
        transform: rotateY(0deg);
    }to{
        transform: rotateY(360deg);
    }
}
@keyframes depth {
    from{
        transform: rotateZ(0deg);
    }to{
        transform: rotateZ(360deg);
    }
}