body{width: 200px; margin: 200px auto;}
div{width: 200px;}
div span{
    display: block; width: 200px; height: 200px;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-timing-function: ease;
    transform-style: preserve-3d;
}
div.rotater span:first-of-type{
    background-color:red; animation-name:hori;
}

@keyframes hori{
	from{
			transform:rotateX(0deg);
		}
		to{
			transform:rotateX(360deg);
		}
	} /*x축을 기준으로 360도 회전한다.*/
	