body{
    width: 200px; margin: 200px auto;
}
div{
    width: 200px; position: relative; animation-name: xRotate; animation-duration: 3s;
    animation-iteration-count: infinite; animation-timing-function: ease-out;
    transform-style:preserve-3d;
}
@keyframes xRotate {
    0%{
        transform: rotate3d(0,0,0,0deg);
    }100%{
        transform: rotate3d(1,1,1,360deg);
    }
}
div span{
    display: block; position: absolute; left: 0; top: 0; opacity: 0.5;
    width: 200px; height: 100px;
}
div span:first-of-type{
     background-color: red;
}
div span:nth-of-type(2){
    background-color: green; transform: rotateY(60deg); transform-origin: left top;
}
div span:last-of-type{
    background-color: blue; transform: rotateY(-60deg); transform-origin: right top;
}