body{
    width: 200px; margin: 200px auto;
}
div{
    width: 200px; position: relative;
    animation-name: rotate3D;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-timing-function: ease;
    transform-style:preserve-3d;
}
@keyframes rotate3D{
    from{
        transform: rotate3d(0,0,0, 0deg);
    }to{
        transform: rotate3d(1,1,1, 360deg);
    }
}
div span{
    width: 200px; height: 100px; position: absolute;
    left: 0; top: 0; opacity: 0.5;
}
div span:nth-of-type(1){
    background-color: red;
}
div span:nth-of-type(2){
    background-color: green;
    transform: rotateY(60deg);
    transform-origin: left top;
}
div span:nth-of-type(3){
    background-color: blue;
    width: 100px;
    transform-origin: right top;
    transform: rotateY(-60deg);
}