body{width:200px; margin:200px auto;}
div{width:200px; position:relative;
	animation-name:rotate3D;
	animation-iteration-count:infinite;
	animation-duration:10s;
	animation-timing-function:ease;
	transform-style:preserve-3d;
}
div span{width:200px; height:100px; display: block;
position:absolute;
left:0; top:0;
opacity:0.3;
}

div span:first-of-type{background-color:red;}
div span:nth-of-type(2){background-color:green; transform:rotateY(60deg); transform-origin:left top;}
div span:last-of-type{
    background-color:blue; transform:rotateY(-60deg); transform-origin:right top;
    width: 100px;
}

@keyframes rotate3D{
	from{
		transform: rotateX(90deg) rotateY(60deg);
		}to{
			transform: rotateX(450deg) rotateY(60deg);
		}
	}