body{
    width: 200px; margin: 200px auto;
}
div{
    position: relative;
    animation-name: rotate3D;
    animation-duration: 10s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    transform-style: preserve-3d;
}
@keyframes rotate3D {
    0%{
        transform: rotateX(90deg) rotateY(60deg);
    }100%{
        transform: rotateX(450deg) rotateY(60deg);
    }
}
div span{
    width: 200px; height: 100px; display: block; position: absolute; left: 0; top: 0;
    opacity: 0.3;
}
div span:nth-child(1){background-color: red;}
div span:nth-child(2){background-color: green; transform: rotateY(60deg); transform-origin: left top;}
div span:nth-child(3){background-color: blue; transform: rotateY(-60deg); transform-origin: right top; width: 100px;}