body{
    width: 200px; margin: 200px auto;
}
div{
    width: 200px; position: relative; animation-name: rotate3D; animation-iteration-count: infinite;
    animation-duration: 3s; animation-timing-function: ease-in-out; transform-style: preserve-3d;
}
@keyframes rotate3D {
    0%{
        transform: rotateX(90deg) rotateY(45deg);
    }100%{
        transform: rotateX(450deg) rotateY(45deg);
    }
}
div span{
    width: 200px; height: 100px;
}
