body{
    width: 200px; margin: 200px auto;
}
div{
    width: 200px; position: relative;
    transform-style: preserve-3d;
    animation-name: rotate3D;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-timing-function: ease;
}
@keyframes rotate3D{
    from{
        transform:rotateX(90deg) rotateY(45deg);
    }to{
        transform:rotateX(450deg) rotateY(45deg);
    }
}
div span{
    width: 200px; height: 100px; position: absolute;
    left: 0; top: 0; opacity: 0.5;
}
div span:nth-of-type(1){
    background-color:red;
    transform: rotateY(0deg) translate3d(0,0,100px);
}
div span:nth-of-type(2){
    background-color:green;
    transform: rotateY(90deg) translate3d(0,0,100px);
}
div span:nth-of-type(3){
    background-color:blue;
    transform: rotateY(180deg) translate3d(0,0,100px);
}
div span:nth-of-type(4){
    background-color:yellow;
    transform: rotateY(270deg) translate3d(0,0,100px);
}