body{
    width: 200px; margin: 200px auto; perspective: 400px;
}
div{
    width: 200px; height: 200px; position: relative;
    animation-name:playBox;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-timing-function: linear;
    transform-style: preserve-3d;
}
@keyframes playBox{
    from{
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }to{
        transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    }
}
div span{
    width: 200px; height: 200px; display: block; position: absolute; left: 0; top: 0;
    backface-visibility: visible; opacity: 0.5;
}
div span:nth-of-type(1){background-color: red; transform: rotateY(0deg) translateZ(100px);}
div span:nth-of-type(2){background-color: orange; transform: rotateY(90deg) translateZ(100px);}
div span:nth-of-type(3){background-color: yellow; transform: rotateY(180deg) translateZ(100px);}
div span:nth-of-type(4){background-color: greenyellow; transform: rotateY(270deg) translateZ(100px);}
div span:nth-of-type(5){background-color: blue; transform: rotateX(90deg) translateZ(100px);}
div span:nth-of-type(6){background-color: navy; transform: rotateX(270deg) translateZ(100px);}
/* 
    ?perspective
    ! 대상면적 x 2 가 적당. 너무 높은 값 자제.(2000px정도가 한계)

    ?transform-style
    todo flat : 자손요소의 3차원 속성 무시.
    * preserve-3d : 자손요소의 3차원 속성 유지

    ?backface-visibility(이면가시성)
    *visible : default 이면을 보이다.
    *hidden : 이면을 감추다.

*/