html,body{
    height: 100%;
}
body{
    margin: 0 auto; width: 1000px; background-color: black;
}
section{
    position: relative; height: 100%; perspective: 1500px;
}
section .moveMent{
    position: absolute; transform-style: preserve-3d; left: 50%; top: 20%;
    animation: rotater 15s linear 0s infinite;
    /* ? animation: [name] [duration] [timing-function] [delay] [iteration-count] */
}
@keyframes rotater {
    0%{
        transform: rotateY(0deg);
    }100%{
        transform: rotateY(360deg);
    }
}
section .moveMent .pic{
    position: absolute; left: 0; top: 0;

}
section .moveMent .pic:nth-child(1){transform: rotateY(0deg) translateZ(-370px);}
section .moveMent .pic:nth-child(2){transform: rotateY(36deg) translateZ(-370px);}
section .moveMent .pic:nth-child(3){transform: rotateY(72deg) translateZ(-370px);}
section .moveMent .pic:nth-child(4){transform: rotateY(108deg) translateZ(-370px);}
section .moveMent .pic:nth-child(5){transform: rotateY(144deg) translateZ(-370px);}
section .moveMent .pic:nth-child(6){transform: rotateY(180deg) translateZ(-370px);}
section .moveMent .pic:nth-child(7){transform: rotateY(216deg) translateZ(-370px);}
section .moveMent .pic:nth-child(8){transform: rotateY(252deg) translateZ(-370px);}
section .moveMent .pic:nth-child(9){transform: rotateY(288deg) translateZ(-370px);}
section .moveMent .pic:nth-child(10){transform: rotateY(324deg) translateZ(-370px);}