body,img{
    margin:0; padding:0; border: none;
}
html,body{
    height: 100%;
}
body{
    width: 1000px; margin:0 auto; background-color: black;
}
/* ? tag 초기화 및 base setting */

section{
    position: relative; width: 100%; height: 100%;
    perspective: 1500px;
}
/* 
    ? section
    ! perspective 를 주고, .movement를 absolute로 띄우기위함.
*/

section .moveMent{
    position: absolute; left: 50%; top: 20%;
    animation-name: rotater;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-style: preserve-3d;
}
/* 
    ?movement
    ! 목마의 행, 열이 움직이는(작동하는) 박스 (통돌이)
*/

@keyframes rotater{
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(360deg);
    }
}

section .moveMent .pic{
    position: absolute; left:0; top:0; margin-left: -107px;
    backface-visibility: hidden; transform-style: preserve-3d;
}
/*
	backface-visibility로 뒷부분이 투영되는 효과를 막는다. (이면 가시성 - 이면을 보여주거나(visible) 숨김(hidden))
	.pic은 열의 역할을 하는데, 한장으로 모아 각각 정해진 각도로 분배 시킨다. 
	돌아가는 열(.pic)이 유동적으로 움직이는데 고정하고 싶다면 margin-left: .pic_width / 2; 로 고정한다.
	그렇게 하면 모든 열의 정 중앙을 중심으로 각도 변환이 일어나기 때문.
	유동적으로 움직이는 이유는 transform-orgin을 설정하지 않아서 기본이 중앙이라고 생각 되지만 rotateY의 시작위치가 모두 다름으로 그에 따른 오차가 발생한다.
	그렇기 때문에 원하지 않는 다면, 강제로 고정 해줘야함. 
*/
section .moveMent .pic:nth-child(1){
    transform:rotateY(0deg) translateZ(-370px);
}
section .moveMent .pic:nth-child(2){
    transform:rotateY(36deg) translateZ(-370px);
}
section .moveMent .pic:nth-child(3){
    transform:rotateY(72deg) translateZ(-370px);
}
section .moveMent .pic:nth-child(4){
    transform:rotateY(108deg) translateZ(-370px);
}
section .moveMent .pic:nth-child(5){
    transform:rotateY(144deg) translateZ(-370px);
}
section .moveMent .pic:nth-child(6){
    transform:rotateY(180deg) translateZ(-370px);
}
section .moveMent .pic:nth-child(7){
    transform:rotateY(216deg) translateZ(-370px);
}
section .moveMent .pic:nth-child(8){
    transform:rotateY(252deg) translateZ(-370px);
}
section .moveMent .pic:nth-child(9){
    transform:rotateY(288deg) translateZ(-370px);
}
section .moveMent .pic:nth-child(10){
    transform:rotateY(324deg) translateZ(-370px);
}
/*
    총 10열이 움직여야 함으로 초기값을 0' 부터 36' 씩 증산하여 계산한다. translateZ로 깊이를 설정 하는데 perspective가 활성화 되어야 유관 식별이 가능하다.
    (translateZ- 안으로 들어간 목마, translateZ+ 밖으로 나온 목마)
*/
section .moveMent .pic .cell{
    width: 215px; height: 121px; margin-bottom: 20px;
    transition: all 0.5s ease-in-out; 
}
section .moveMent .pic .cell:hover{
    transform:scale(1.2) translateZ(50px);
}
section .moveMent .pic .cell img{
    opacity: 0.5;
}
section .moveMent .pic .cell:hover img{
    opacity: 1;
}
 /*cell에 오버가 되었을때, cell의 스케일을 1.2배 하고, 깊이는 50px로 하여 튀어나오게 만든다.*/