html,body{
    height: 100%;
}
body{
    width: 1000px; margin: 0 auto; background-color: black;
}
section{
    position: relative; height: 100%; perspective: 2000px;
}
section .moveMent{
    position: absolute; left: 50%; top: 20%; transform-style: preserve-3d;
    animation: rotater 15s linear 0s infinite;
}
@keyframes rotater {
    from{
        transform: rotateY(0deg);
    }to{
        transform: rotateY(360deg);
    }
}
section .moveMent .pic{
    position: absolute; left: 0; top: 0; margin-left: -107px; 
    backface-visibility: hidden;
}
section .moveMent .pic:nth-child(1){transform: rotateY(0deg) translateZ(-370px);}
section .moveMent .pic:nth-child(2){transform: rotateY(36deg) translateZ(-370px);}
section .moveMent .pic:nth-child(3){transform: rotateY(72deg) translateZ(-370px);}
section .moveMent .pic:nth-child(4){transform: rotateY(108deg) translateZ(-370px);}
section .moveMent .pic:nth-child(5){transform: rotateY(144deg) translateZ(-370px);}
section .moveMent .pic:nth-child(6){transform: rotateY(180deg) translateZ(-370px);}
section .moveMent .pic:nth-child(7){transform: rotateY(216deg) translateZ(-370px);}
section .moveMent .pic:nth-child(8){transform: rotateY(252deg) translateZ(-370px);}
section .moveMent .pic:nth-child(9){transform: rotateY(288deg) translateZ(-370px);}
section .moveMent .pic:nth-child(10){transform: rotateY(324deg) translateZ(-370px);}

section .moveMent .pic .cell{
    width: 215px; height: 121px; margin-bottom: 20px; transition: transform 0.5s ease-in-out;
}
section .moveMent .pic .cell:hover{
    transform: scale(1.2) translateZ(0px);
}
section .moveMent .pic .cell img{
    width: 100%; opacity: 0.5;
}
section .moveMent .pic .cell:hover img{
    opacity: 1;
}