html, body{
    height: 100%;
}
body{
    width: 1000px; margin: 0 auto; background-color: black;
}
img{
    border: none;
}
/* *tag 초기화 */
section{
    position: relative; height: 100%; perspective: 1500px;
}
section .moveMent{
    position: absolute; left: 50%; top: 20%; transform-style: preserve-3d;
    animation: rotater 15s linear 0s infinite;
    /* animation-name: rotater;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; */
}
@keyframes rotater {
    from{
        transform: rotateY(0deg);
    }to{
        transform: rotateY(360deg);
    }
}
section .moveMent .pic{
    position: absolute; left: 0; top: 0; backface-visibility: hidden; margin-left: -107px;
}
section .moveMent .pic:nth-child(1){transform: rotateY(0deg) translateZ(-400px);}
section .moveMent .pic:nth-child(2){transform: rotateY(36deg) translateZ(-400px);}
section .moveMent .pic:nth-child(3){transform: rotateY(72deg) translateZ(-400px);}
section .moveMent .pic:nth-child(4){transform: rotateY(108deg) translateZ(-400px);}
section .moveMent .pic:nth-child(5){transform: rotateY(144deg) translateZ(-400px);}
section .moveMent .pic:nth-child(6){transform: rotateY(180deg) translateZ(-400px);}
section .moveMent .pic:nth-child(7){transform: rotateY(216deg) translateZ(-400px);}
section .moveMent .pic:nth-child(8){transform: rotateY(252deg) translateZ(-400px);}
section .moveMent .pic:nth-child(9){transform: rotateY(288deg) translateZ(-400px);}
section .moveMent .pic:nth-child(10){transform: rotateY(324deg) translateZ(-400px);}

section .moveMent .pic .cell{
    width: 215px; height: 121px; margin-bottom: 20px; transition-duration: 0.5s;
}
section .moveMent .pic .cell:hover{
    transform: scale(1.2) translateZ(100px); box-shadow: 3px 5px 2px rgba(255,255,255,0.2);
}

/*
    shadow:  
            우측으로 간격, 
            하단으로 간격, 
            흐림도(우측,하단간격 너비의 영향 받음), 
            그림자컬러 또한 속성값 앞에 inset을 삽입하면 
            내부 그림자 효과로 전환 가능
            spread 확산도

    보다 쉽게 만들기
    http://css3generator.com 에서 값입력후 소스코드생성
*/
section .moveMent .pic .cell img{
    width: 100%; opacity: 0.5;
}
section .moveMent .pic .cell:hover img{
    opacity: 1;
} 